<%= provide(:meta_title, "Devenez partenaires de Covidliste") %>
<%= provide(:meta_description, "Professionnels de santé, inscrivez-vous sur Covidliste.") %>
<%= provide(:meta_image, image_url("meta/partenaires.png")) %>

<%= content_for(:append_to_head) do %>
  <meta content="index;follow" name="robots"/>
<% end %>

<div id="devise">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-1 mb-5">
        <div class="d-flex align-items-center">
          <div class="rounded p-3 bg-light text-primary mr-3 h2">
            <%= icon("fas", "hospital-user") %>
          </div>
          <h3>
            Vous êtes un professionnel de santé assurant la vaccination
          </h3>
        </div>

        <p class="mt-4 h4">
          Espace professionnels de santé
        </p>

        <p class="mb-4">
          Espace <strong>réservé aux professionnels</strong>, si vous êtes un particulier volontaire à la vaccination,
          rendez-vous sur
          <%= link_to "sur cette page", new_user_session_path %>.
        </p>

        <%= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
          <%= f.input :email, autocomplete: "off", autofocus: true, required: true, id: "inputEmail", placeholder: "Adresse email" %>
          <%= f.input :password, autocomplete: "off", required: true, id: "inputPassword", placeholder: "Mot de passe" %>

          <% if devise_mapping.rememberable? %>
            <p>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </p>
          <% end %>

          <%= f.submit "Connexion", class: "btn btn-primary mb-2" %>

          <% if devise_mapping.recoverable? && controller_name != "passwords" && controller_name != "registrations" %>
            <p>
              <%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %>
            </p>
          <% end %>

          <% if devise_mapping.confirmable? && controller_name != "confirmations" %>
            <p>
              <%= link_to "Redemander l’email de confirmation", new_confirmation_path(resource_name) %>
            </p>
          <% end %>

          <% if controller_name == "sessions" %>
            <p>
              <%= link_to "S’inscrire en tant que professionnel de santé", partenaires_inscription_path %>
            </p>
          <% end %>
        <% end %>
      </div>
      <div class="col-12 col-lg-3 offset-lg-1 d-flex align-items-center justify-content-center border rounded">
        <div class="text-center px-2">
          <div class="d-inline-block mt-4 rounded p-3 bg-light text-primary">
            <%= icon("fas", "user-plus", class: "fa-2x") %>
          </div>
          <p class="mt-2">
            Vous êtes un un particulier volontaire à la vaccination ?
          </p>
          <p class="mt-4">
            Rendez-vous sur
            <%= link_to "l'espace volontaires à la vaccination", new_user_session_path %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
