.row.mtop2
  .col-sm-12.col-md-8.col-lg-6
    %p
      %strong Inscription Partenaire
    - if @partner.persisted?
      .row.mtop2
        .alert.alert-success{:role => "alert", style: "position: inherit"}
          Merci ! Vous étes bien enregistré en tant que Partenaire Covidliste. Vous allez recevoir dans quelques instants un email de confirmation qui vous permettra de valider votre inscription et accéder à votre espace sécurisé.
    - else
      = simple_form_for @partner do |f|
        .form-inputs
        = f.input :name, label: 'Nom', error: 'Nom requis', placeholder: 'Jean Dupont'
        = f.input :email,
          required: true,
          autofocus: true,
          placeholder: 'jean@dupont.com',
          input_html: { autocomplete: "email" }
        = f.input :password,
          required: true,
          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
          input_html: { autocomplete: "new-password" }
        = f.input :password_confirmation,
          required: true,
          input_html: { autocomplete: "new-password" }
        .form-actions
        = f.button :submit, "S'inscrire", class:"btn btn-primary"
    %p.mtop2
      = link_to "Accèder à l'espace partenaires", new_partner_session_path, class: "bp3-text-muted"

