<% if Flipper.enabled?(:slot_alerting_preference, user) %>
<p class="mt-4">
  <strong>Préférences des alertes des rendez-vous de vaccination</strong>
</p>

<p>Nous vous proposons, en plus des doses qui vont être perdues, de vous alerter dès que des créneaux de vaccination sont disponibles dans les 7 prochains jours.</p>
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <%= simple_form_for(user, url: :profile, method: :put, wrapper: :vertical_form) do |f| %>
      <%= hidden_field_tag :tab, params[:tab]  %>
      <%= f.input :max_distance_km, label: "Distance maximum d'alerte (km)", error: "", placeholder: "Nombre de kms maximum que vous êtes prêt à parcourir pour une dose de vaccin." %>
      <%= f.input :alerting_intensity, required: true, label: "Fréquence d'alertes", max: 100, class: 'mt-4', collection: User::ALERTING_INTENISITIES.map{|k, v| [v, k]}, as: :radio_buttons, item_label_class: 'mt-y' %>         
      <%= f.button :submit, "Enregistrer", class: "btn btn-primary", data: {disable_with: "Validation..."} %>
    <% end %>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="mt-4 mb-4"
          id="user_map"
          style="height: 250px;"
          data-rayon="<%= user.max_distance_km %>"
          data-lat="<%= user.lat %>"
          data-lon="<%= user.lon %>"
    >
    </div>
  </div>
</div>
<% end %>

