
<% if current_user.present? || @user.persisted? %>

  <div class="alert alert-success p-3">
    <p class="mb-0">
      <%= icon("fas", "thumbs-up", class: "fa-2x") %>
      <br>
      <br>
      <strong>Merci !</strong>
      <br>
      <br>
      Vous êtes bien enregistré sur Covidliste.
      <% if current_user.blank? %>
        <br>
        <br>
        Vous allez recevoir dans quelques instants un email de confirmation qui vous permettra de valider votre inscription et accéder à votre espace sécurisé.
        <br>
        <br>
        Le lien de confirmation sera valable pendant 24 heures.
      <% else %>
        <br>
        <%= link_to "Accéder à mon profil", profile_path, class: "btn btn-primary" %>
      <% end %>
    </p>
  </div>

<% else %>

  <div class="bg-white p-2 p-lg-4 rounded">

    <% if @user.present? && @user.errors.any? %>
      <div class="alert alert-danger" role="alert" style="position: inherit">
        <% @user.errors.full_messages.each do |msg| %>
          <%= msg %><br />
        <% end %>
      </div>
    <% end %>

    <%= simple_form_for @user do |f| %>
      <%= f.input :email,
                  label: false,
                  error: f.error(:email),
                  placeholder: "jean@dupont.com",
                  hint: "Une adresse email ne peut être utilisée que par une seule personne.",
                  required: true,
                  input_html: { autocomplete: "email", autofocus: "true" } %>

      <%= f.input :address,
                  label: false,
                  error: "Adresse invalide",
                  placeholder: "Adresse",
                  required: true,
                  input_html: { class: "pr-5"} %>
      <%= f.input_field :lat, as: :hidden %>
      <%= f.input_field :lon, as: :hidden %>

      <%= f.input :phone_number,
                  label: false,
                  error: "Numéro de téléphone invalide",
                  placeholder: "Numéro de téléphone portable",
                  required: true,
                  input_html: { autocomplete: "tel" } %>

      <%= f.input :birthdate,
                  as: :date,
                  label: false,
                  order: [:day, :month, :year],
                  wrapper_html: { class: "mb-2" } %>
      <p class="text-dark">
        Votre date de naissance sera vérifiée lors du rendez-vous.
      </p>

      <%= render partial: "users/input_statement", locals: {f: f, local_cgu_path: cgu_volontaires_path} %>
      <%= render partial: "users/input_toc", locals: {f: f}%>

      <%= f.invisible_captcha :subtitle %>
      <%= f.button :submit, "S’inscrire", class: "btn btn-secondary btn-lg btn-block font-weight-bold", data: { disable_with: "Inscription en cours..." } %>
    <% end %>

  </div>
  <div class="py-1 px-2">
    <%= render partial: "users/mentions" %>
  </div>

<% end %>
