<div class="mb-4 mb-md-0 bg-white py-3 px-3">
  <h2 class="h6 font-weight-bolder text-primary mb-3">Inscription en tant que volontaire à la vaccination</h2>

  <% if @user.persisted? %>

    <div class="alert alert-success">
      Merci ! Vous êtes bien enregistré sur Covidliste. Vous allez recevoir dans quelques instants un email de
      confirmation qui vous permettra de valider votre inscription et accéder à votre espace sécurisé.
      Le lien de confirmation sera valable pendant 24 heures.
    </div>

  <% else %>

    <% if @user.errors.any? %>
      <div class="alert alert-danger" role="alert" style="position: inherit">
        <% @user.errors.full_messages.each do |msg| %>
          <%= msg %><br />
        <% end %>
      </div>
    <% end %>

    <%= simple_form_for @user do |f| %>
      <%= f.input :firstname,
                  label: "Prénom",
                  error: "Prénom requis",
                  placeholder: "Jean",
                  required: true,
                  input_html: { autocomplete: "given-name" } %>

      <%= f.input :lastname,
                  label: "Nom",
                  error: "Nom requis",
                  placeholder: "Dupont",
                  required: true,
                  input_html: { autocomplete: "family-name" } %>

      <%= f.input :birthdate,
                  as: :date,
                  label: "Date de naissance",
                  start_year: Date.today.year - 120,
                  end_year: Date.today.year - 18,
                  order: [:day, :month, :year] %>
      
      <p class="text-primary small">
        Vérifiez bien vos nom, prénom et date de naissance. En cas d'erreur, la vaccination ne sera pas possible !
      </p>
      <%= f.input :address,
                  label: "Adresse",
                  error: "Adresse requise",
                  placeholder: "5 rue Larue, 13600 Marseille",
                  required: true %>
      <%= f.input_field :lat, as: :hidden %>
      <%= f.input_field :lon, as: :hidden %>
      <%= f.input :phone_number,
                  label: "Numéro de téléphone portable",
                  error: "Numéro de téléphone invalide",
                  placeholder: "06 06 06 06 06",
                  required: true,
                  input_html: { autocomplete: "tel" } %>

      <%= f.input :email,
                  label: "Email",
                  error: f.error(:email),
                  placeholder: "jean@dupont.com",
                  hint: "Une adresse email ne peut être utilisée que par une seule personne. 2 personnes = 2 adresses email différentes.",
                  required: true,
                  input_html: { autocomplete: "email" } %>

      <div class="form-group" data-controller="password">
        <label for="user_password"> Mot de passe </label>

        <div class="input-group" data-behavior="toggle-password-visibility">
          <%= f.input_field :password,
                            type: :password,
                            class: "form-control",
                            required: true,
                            input_html: { autocomplete: "new-password" },
                            data: {password_target: 'password', action: 'input->password#check'} %>

          <div class="input-group-append">
            <span class="input-group-text"> <%= link_to icon("fas", "eye") %> </span>
          </div>
        </div>

        <small class="form-text text-muted"> 
          <%= "#{User::PASSWORD_HINT}" %>
          <br/>
          <%= content_tag :span, "", data: { password_target: "passwordCheck" }, class: "d-inline-block" %>
        </small>
      </div>

      <%= render partial: "input_statement", locals: {f: f, local_cgu_path: cgu_volontaires_path} %>
      <%= render partial: "input_toc", locals: {f: f}%>

      <%= f.invisible_captcha :subtitle %>
      <%= f.button :submit, "Je m’inscris", class: "btn btn-primary", data: { disable_with: "Inscription en cours..." } %>
    <% end %>
    <%= render partial: "mentions" %>
  <% end %>
</div>
