.row.mtop2
  .col-12
    %p
      %strong Inscription
    - if @user.persisted?
      .row.mtop2
        .alert.alert-success{:role => "alert", style: "position: inherit"}
          Merci ! Vous étes bien enregistré sur Covidliste.
    - else
      = simple_form_for @user do |f|
        = f.input :firstname, label: 'Prénom', error: 'Prénom requis', placeholder: 'Alexandre'
        = f.input :lastname, label: 'Nom', error: 'Nom requis', placeholder: 'Yersin'
        = f.input :birthdate, as: :date, label: 'Date de naissance', start_year: Date.today.year - 50, end_year: Date.today.year - 12, order: [:year, :month, :day]
        = f.input :address, label: 'Addresse', error: 'Addresse requise', placeholder: '5 rue Indochine, 13600 Marseille'
        = f.input :email, label: 'Email', error: f.error(:email), placeholder: 'alexandre@yersin.com'
        = f.input :phone_number, label: 'Numéro de téléphone', error: '', placeholder: '06 06 06 06 06'
        = f.input :toc, as: :boolean, label: "J'accepte que mes données soient partagées avec les centres de vaccination partenaires de Covidliste.", checked_value: true, unchecked_value: false, error: "Vous devez cocher cette case pour valider votre inscription"
        = f.button :submit, "Je m'inscris", class: 'btn btn-primary'
