<div class="mb-4 mb-md-0 bg-white py-3 px-3">
  <h2 class="h6 font-weight-bolder text-primary mb-3">Inscription en tant que volontaire à la vaccination</h2>

  <% if @user.persisted? %>

    <div class="alert alert-success">
      Merci ! Vous êtes bien enregistré sur Covidliste. Vous allez recevoir dans quelques instants un email de
      confirmation qui vous permettra de valider votre inscription et accéder à votre espace sécurisé.
      Le lien de confirmation sera valable pendant 24 heures.
    </div>

  <% else %>

    <% if @user.errors.any? %>
      <div class="alert alert-danger" role="alert" style="position: inherit">
        <% @user.errors.full_messages.each do |msg| %>
          <%= msg %><br />
        <% end %>
      </div>
    <% end %>

    <%= simple_form_for @user do |f| %>
      <%= f.input :firstname,
                  label: "Prénom",
                  error: "Prénom requis",
                  placeholder: "Jean",
                  required: true,
                  input_html: { autocomplete: "given-name" } %>

      <%= f.input :lastname,
                  label: "Nom",
                  error: "Nom requis",
                  placeholder: "Dupont",
                  required: true,
                  input_html: { autocomplete: "family-name" } %>

      <%= f.input :birthdate,
                  as: :date,
                  label: "Date de naissance",
                  start_year: Date.today.year - 120,
                  end_year: Date.today.year - 18,
                  order: [:day, :month, :year] %>
      
      <p class="text-primary small">
        Vérifiez bien vos nom, prénom et date de naissance. En cas d'erreur, la vaccination ne sera pas possible !
      </p>
      <%= f.input :address,
                  label: "Adresse",
                  error: "Adresse requise",
                  placeholder: "5 rue Larue, 13600 Marseille",
                  required: true %>

      <%= f.input :phone_number,
                  label: "Numéro de téléphone portable",
                  error: "Numéro de téléphone invalide",
                  placeholder: "06 06 06 06 06",
                  required: true,
                  input_html: { autocomplete: "tel" } %>

      <%= f.input :email,
                  label: "Email",
                  error: f.error(:email),
                  placeholder: "jean@dupont.com",
                  hint: "Une adresse email ne peut être utilisée que par une seule personne. 2 personnes = 2 adresses email différentes.",
                  required: true,
                  input_html: { autocomplete: "email" } %>

      <div class="form-group">
        <label for="user_password"> Mot de passe </label>

        <div class="input-group" data-behavior="toggle-password-visibility">
          <%= f.input_field :password,
                            type: :password,
                            class: "form-control",
                            required: true,
                            pattern: ".{" + Devise.password_length.min.to_s + ",}",
                            input_html: { autocomplete: "new-password" } %>

          <div class="input-group-append">
            <span class="input-group-text"> <%= link_to icon("fas", "eye") %> </span>
          </div>
        </div>

        <small class="form-text text-muted"> <%= Devise.password_length.min %> caractères minimum </small>
      </div>

      <p class="text-primary small">
      Toutes les informations demandées sont nécessaires à Hostolab, en tant que responsable de traitement, pour que vous puissiez bénéficier du service proposé. A défaut de les fournir, vous ne pourrez pas en bénéficier. 
      </p>

      <p class="text-primary small">
      Conformément à la réglementation applicable, vous disposez d’un droit d’accès, de rectification, de suppression et, le cas échéant, de portabilité de vos données personnelles. Vous pouvez également vous opposer au traitement de vos données et, le cas échéant, en demander la limitation. Vous pouvez, à tout moment, retirer votre consentement lorsque celui-ci vous a été demandé. Vous pouvez enfin définir des directives relatives au sort de vos données en cas de décès. Ces droits peuvent être exercés directement auprès de Hostolab par email à l’adresse suivante : <%= link_to "privacy@covidliste.com", "mailto:privacy@covidliste.com" %>. Au besoin, vous bénéficiez du droit d’introduire une réclamation auprès de la CNIL.
      </p>

      <p class="text-primary small">
      Pour en savoir plus sur l’utilisation de vos données personnelles, veuillez consulter la <%= link_to "politique de protection des données personnelles", privacy_volontaires_path %>.
      </p>

      <%= render partial: "input_statement", locals: {f: f} %>
      <%= render partial: "input_toc", locals: {f: f}%>

      <%= f.invisible_captcha :subtitle %>
      <%= f.button :submit, "Je m’inscris", class: "btn btn-primary", data: { disable_with: "Inscription en cours..." } %>
    <% end %>
  <% end %>
</div>
