.row.mtop2
  - if @user.persisted?
    .alert.alert-success{role: "alert", style: "position: inherit"}
      <strong>Vous êtes enregistré sur Covidliste, merci !</strong><br />
      D'ici quelques instants, vous recevrez un email contenant un lien pour valider votre inscription et accéder à votre espace sécurisé; ce lien de confirmation sera valable pendant 24 heures.
  - else
    .col-12
      .card
        .card-header
          Je m'inscris
        .card-body
          = simple_form_for @user do |f|
            = f.input :firstname, label: 'Prénom', error: 'Prénom requis', placeholder: 'Jean'
            = f.input :lastname, label: 'Nom', error: 'Nom requis', placeholder: 'Dupont'
            = f.input :birthdate, as: :date, label: 'Date de naissance', start_year: Date.today.year - 90, end_year: Date.today.year - 18, order: [:day, :month, :year]
            = f.input :address, label: 'Adresse', error: 'Adresse requise', placeholder: '5 rue larue, 13600 Marseille'
            = f.input :lat, as: :hidden
            = f.input :lon, as: :hidden
            = f.input :email, label: 'Email', error: f.error(:email), placeholder: 'jean@dupont.com', hint: "Une adresse email ne peut correspondre qu’à un seul volontaire inscrit."
            = f.input :phone_number, label: 'Numéro de téléphone', error: '', placeholder: '06 06 06 06 06'
            = f.input :toc, as: :boolean, label: 'J’accepte que mes données soient partagées avec les centres de vaccination partenaires de Covidliste.', checked_value: true, unchecked_value: false, error: "Vous devez cocher cette case pour valider votre inscription"
            = f.button :submit, 'Je m’inscris', class: 'btn btn-primary'
