<p class="mt-4">
    <strong>Vos propositions de RDV</strong>
</p>

<%- @matches = user.matches.includes([:campaign, :vaccination_center]).order(id: :desc) %>
<% if @matches.any? %>
  <div class="table-responsive">
    <table class="table table-bordered table-sm small text-center" aria-describedby="Vos propositions de RDV">
      <thead class="thead-light">
      <tr>
        <th scope="col">Date du RDV</th>
        <th scope="col">Lieu du RDV</th>
        <th scope="col">Vaccin</th>
        <th scope="col">Notification</th>
        <th scope="col">État de la proposition</th>
      </tr>
      </thead>
      <tbody>
      <% @matches.order(id: :desc).includes([:vaccination_center, :campaign]).each do |match| %>
        <% vaccination_center = match.vaccination_center %>
        <tr>
          <td>
            <% if match.campaign.present? %>
              <% starts_at = match.campaign.starts_at %>
              <% ends_at = match.campaign.ends_at %>
              <%= l(starts_at, format: '%A %e %B %Y').capitalize %><br />entre <%= l(starts_at, format: '%Hh%M') %>
              et <%= l(ends_at, format: '%Hh%M') %>
            <% end %>
          </td>
          <td>
            <% distance = distance_delta({lat: user.lat, lon: user.lon}, {lat: vaccination_center.lat, lon: vaccination_center.lon}) %>
            <%= distance[:delta_in_words] %><br />
            <small><%= vaccination_center.human_friendly_geo_area if vaccination_center.human_friendly_geo_area %></small>
          </td>
          <td>
            <%= match.campaign&.vaccine_type.capitalize %>
          </td>
          <td>
            <% if match.mail_sent_at %>
              Mail envoyé le <%= l match.mail_sent_at %><br />
            <% end %>
            <% if match.sms_sent_at %>
              SMS envoyé le <%= l match.sms_sent_at %><br />
            <% end %>
          </td>
          <td>
            <a href="<%= match_url(match_confirmation_token: match.match_confirmation_token, source: 'profile') %>">
              <% if match.confirmed? %>
                RDV confirmé
              <% elsif match.refused? %>
                Refusée<br />le <%= l match.refused_at %>
              <% elsif match.expired? %>
                Expirée<br />le <%= l match.expires_at %>
              <% elsif !match.confirmable? %>
                Expirée
              <% elsif !match.expired? %>
                <%= icon("fas", "hourglass-half") %>
                Attente de votre réponse<br />
                <span class="btn btn-sm btn-primary py-0">
                  <span class="small">
                    Voir la proposition
                    <%= icon("fas", "search") %>
                  </span>
                </span>
              <% end %>
            </a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>Vous n'avez pas encore reçu de propositions de rendez-vous.</p>
<% end %>

