.container
  .row.mt-5
    .col-12.col-sm-8.offset-sm-2
      %p Bonjour #{@user.full_name},
      %p Vous êtes inscrit sur Covidliste depuis le #{@user.created_at.strftime("%d/%m/%Y")}
      = twitter_share

      %p
        %strong Vos informations
      = simple_form_for(@user, url: :profile, method: :put, wrapper: :horizontal_form) do |f|
        = f.input :firstname, label: "Prénom", placeholder: "Jean", valid_class: ''
        = f.input :lastname, label: "Nom", error: "Nom requis", placeholder: "Dupont"
        .row
          .col-12.col-sm-3
            %label.col-form-label Date de naissance
          .col-12.col-sm-9
            = f.input :birthdate, as: :date, label: false, start_year: Date.today.year - 90, end_year: Date.today.year - 18, order: [:day, :month, :year]
        = f.input :address, label: "Adresse", error: "Adresse requise", placeholder: "5 rue larue, 13600 Marseille"
        = f.input :email, disabled: true, label: "Email", error: f.error(:email), placeholder: "jean@dupont.com"
        = f.input :phone_number, label: "Numéro de téléphone", error: '', placeholder: "06 06 06 06 06"
        = f.input :lat, as: :hidden
        = f.input :lon, as: :hidden
        = f.input :zipcode, as: :hidden
        = f.input :city, as: :hidden
        = f.button :submit, "Je modifie mes informations", class: "btn btn-primary", data: { disable_with: "Validation..." }

      %p.mt-4
        Vous souhaitez supprimer votre compte ?
        - message = "En confirmant, votre compte ainsi que toutes les données associées seront supprimées de nos serveurs. Êtes-vous sûr ?"
        = link_to "Supprimer mon compte", :delete_user, method: :delete, data: { confirm: message}, style: "color: red"


      %hr
      = link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "btn btn-warning"
