<div class="container mt-5">
  <h1>Bonjour <%= @user.full_name %>,</h1>
  <p>
    Vous êtes inscrit sur Covidliste depuis le <%= @user.created_at.strftime("%d/%m/%Y") %>
  </p>
  <%= twitter_share %>

  <div class="card card-theme mt-2 mb-4">
    <div class="card-body">

      <h2 class="h4">Vos informations</h2>

      <% if @user.errors.any? %>
        <div class="alert alert-danger" role="alert" style="position: inherit">
          <% @user.errors.full_messages.each do |msg| %>
            <%= msg %><br />
          <% end %>
        </div>
      <% end %>

      <%= simple_form_for(@user, url: :profile, method: :put, wrapper: :horizontal_form) do |f| %>
        <%= f.input :firstname, label: "Prénom", placeholder: "Jean", valid_class: "" %>
        <%= f.input :lastname, label: "Nom", error: "Nom requis", placeholder: "Dupont" %>

        <div class="row">
          <div class="col-12 col-sm-3">
            <label class="col-form-label">
              Date de naissance
            </label>
          </div>
          <div class="col-12 col-sm-9">
            <%= f.input :birthdate, as: :date, label: false, start_year: Date.today.year - 120, end_year: Date.today.year - 18, order: [:day, :month, :year] %>
          </div>
        </div>

        <%= f.input :address, label: "Adresse", error: "Adresse requise", placeholder: "5 rue larue, 13600 Marseille" %>
        <%= f.input :email, disabled: true, label: "Email", error: f.error(:email), placeholder: "jean@dupont.com" %>
        <%= f.input :phone_number, label: "Numéro de téléphone", error: "", placeholder: "06 06 06 06 06" %>
        <%= f.input :statement, as: :boolean, label: "Je certifie sur l'honneur que les informations communiquées ci-dessus sont exactes.", error: "Vous devez cocher cette case pour modifier vos informations.", checked_value: true, unchecked_value: false, required: true %>
        <%= f.button :submit, "Je modifie mes informations", class: "btn btn-primary", data: { disable_with: "Validation..." } %>
      <% end %>

      <p class="mt-4">
        Vous souhaitez vérifier vos données personnelles ?
        <%= link_to "Télécharger mes données (CSV)", user_path(format: :csv) %>
      </p>

      <div class="d-flex align-items-center mt-4">
        Vous souhaitez supprimer votre compte ?
        <%= button_to "Cliquez ici", :delete_user, method: :delete, class: "btn btn-danger ml-3",
                    data: { confirm: "En confirmant, votre compte ainsi que toutes les données associées seront supprimées de nos serveurs. Êtes-vous sûr ?" } %>
      </p>
    </div>
  </div>
</div>
