<div class="container">
  <% if @match&.present? %>
    <% if @match.confirmed? %>
      <div class="alert alert-primary">
        <span class="mr-2">Vous avez un confirmé un RDV de vaccination :</span>
        <%= link_to "Cliquez ici pour voir les informations du RDV", match_url(match_confirmation_token: @match.match_confirmation_token, source: 'profile'), class: "btn btn-sm btn-primary" %>
      </div>
    <% else %>
      <div class="alert alert-primary">
        <span class="mr-2">
          Bonne nouvelle !
          Nous avons trouvé une dose de vaccin pour vous !
        </span>
        <%= link_to "Cliquez ici pour accéder à la proposition de RDV", match_url(match_confirmation_token: @match.match_confirmation_token, source: 'profile'), class: "btn btn-sm btn-primary" %>
      </div>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-12 col-sm-12">
      <p>
        Bonjour <%= @user %>,
      </p>
      <p>
        Vous êtes inscrit sur Covidliste depuis le <%= @user.created_at.strftime("%d/%m/%Y") %>
      </p>

      <div class="d-flex align-items-center">
        <div><%= twitter_share %></div>
        <div class="ml-2"><%= facebook_share %></div>
      </div>

      <div class="mt-2">

        <% tab = params[:tab] %>

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="<%= class_names("nav-link", active: tab.blank? || tab == 'infos') %>" href="?tab=infos">Vos
              informations</a>
          </li>
          <li class="nav-item">
            <a class="<%= class_names("nav-link", active: tab == 'preferences') %>" href="?tab=preferences">Préférences
              d'alertes</a>
          </li>
          <li class="nav-item">
            <a class="<%= class_names("nav-link", active: tab == 'rdv') %>" href="?tab=rdv">Propositions de
              rendez-vous</a>
          </li>
          <li class="nav-item">
            <a class="<%= class_names("nav-link", active: tab == 'data') %>" href="?tab=data">Données personnelles</a>
          </li>
        </ul>

        <% if tab.blank? || tab == "infos" %>
          <%= render partial: 'user_infos', locals: {user: @user} %>
        <% elsif tab == "preferences" %>
          <%= render partial: 'alerting_preferences', locals: {user: @user} %>
        <% elsif tab == "rdv" %>
          <%= render partial: 'matches_or_alerts', locals: {user: @user} %>
        <% elsif tab == "data" %>
          <%= render partial: 'personal_data', locals: {user: @user} %>
        <% end %>
      </div>

    </div>
  </div>
</div>
