#devise
  .row.mtop2
    .col-sm-12.col-md-8.col-lg-6
      %p 
        %strong Choisir un mot de passe
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = render 'layouts/alerts'
          = devise_error_messages!
          = f.hidden_field :reset_password_token
          = f.input :password, autofocus: true, required: true, id: 'inputPassword', autocomplete: 'off', class: 'bp3-input bp3-fill bp3-large'
          = f.input :password_confirmation, autofocus: true, required: true, id: 'inputPasswordConfirmation', autocomplete: 'off', class: 'bp3-input bp3-fill bp3-large'
          %p.mtop2
            = f.submit 'Valider', class: 'btn btn-primary'
