<div id="devise">
  <div class="container mt-5">
    <h1>Choisir un mot de passe</h1>

    <div class="card card-theme my-4">
      <div class="card-body">
        <% if resource.errors.any? %>
          <div class="alert alert-danger" role="alert" style="position: inherit">
            <% resource.errors.full_messages.each do |msg| %>
              <%= msg %><br />
            <% end %>
          </div>
        <% end %>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <%= f.input :password, autofocus: true, required: true, id: "inputPassword", autocomplete: "off", input_html: { style: "max-width: 300px" } %>
          <%= f.input :password_confirmation, autofocus: true, required: true, id: "inputPasswordConfirmation", autocomplete: "off", input_html: { style: "max-width: 300px" } %>
          <%= f.submit "C’est parti !", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
