<div class="container-fluid py-4">
  <h2>
    Campagnes
  </h2>

  <div class="d-inline-flex my-2">

    <%= simple_form_for :campaigns_search,
                        url: admin_campaigns_path,
                        html: { class: "form-inline inline-block mr-4" },
                        defaults: { label: false, required: false, input_html: { class: "form-control-sm selectpicker mr-2", multiple: true } },
                        method: :get do |f| %>
      <%= f.input :statuses, collection: [["En cours", "running"], ["Terminée", "completed"], ["Interrompue", "canceled"]],
                  input_html: { name: "statuses[]", "data-none-selected-text": "Statut" },
                  selected: params["statuses"] %>

      <%= f.input :vaccines, collection: Vaccine::Brands::ALL.map { |v| [v.capitalize, v] },
                  input_html: { name: "vaccines[]", "data-none-selected-text": "Vaccin" },
                  selected: params["vaccines"] %>

      <%= f.button :submit, "Appliquer", class: "btn-sm", name: nil %>
    <% end %>
  </div>

  <div class="mt-3"><%= number_with_delimiter(@pagy_campaigns.count, delimiter: ".") %> résultats</div>

  <% if @campaigns.present? %>
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-sm">
        <thead class="thead-light">
          <tr>
            <th class="text-right"><%= sortable("id", "#") %></th>
            <th><%= sortable("vaccination_center_id", "Centre") %></th>
            <th class="text-center"><%= sortable("status", "Statut") %></th>
            <th class="text-center"><%= sortable("created_at", "Date") %></th>
            <th class="text-center"><%= sortable("created_at", "Lancée") %></th>
            <th class="text-center"><%= sortable("starts_at", "Début") %></th>
            <th class="text-center"><%= sortable("ends_at", "Fin") %></th>
            <th class="text-center"><%= sortable("available_doses", "Nb doses") %></th>
            <th><%= sortable("vaccine_type", "Vaccin") %></th>
            <th class="text-center"><%= sortable("min_age", "Âge min") %></th>
            <th class="text-center"><%= sortable("max_age", "Âge max") %></th>
            <th class="text-center"><%= sortable("max_distance_in_meters", "Distance max") %></th>
            <th class="text-center">Nb volontaires Contactés</th>
            <th class="text-center">Nb volontaires Confirmés</th>
            <th class="text-center">Taux Confirmation</th>
            <th class="text-center">Taux Remplissage</th>

          </tr>
        </thead>

        <tbody>
          <% @campaigns.each do |campaign| %>
            <% matches = campaign.matches %>
            <tr>
              <th class="text-right"><%= campaign.id %></th>
              <td><%= link_to campaign.vaccination_center&.name, admin_vaccination_center_path(campaign.vaccination_center) %></td>
              <td class="text-center text-nowrap"><%= french_status(campaign) %></td>
              <td class="text-center text-nowrap"><%= l(campaign.created_at, format: "%d/%m") %></td>
              <td class="text-center text-nowrap"><%= l(campaign.created_at, format: "%H:%M") %></td>
              <td class="text-center text-nowrap"><%= l(campaign.starts_at, format: "%H:%M") %></td>
              <td class="text-center text-nowrap"><%= l(campaign.ends_at, format: "%H:%M") %></td>
              <td class="text-center"><%= campaign.available_doses %></td>
              <td><%= campaign.vaccine_type.to_s.capitalize %></td>
              <td class="text-center"><%= campaign.min_age %></td>
              <td class="text-center"><%= campaign.max_age %></td>
              <td class="text-center"><%= (campaign.max_distance_in_meters.to_f / 1000).to_i.to_s + " km" %></td>
              <td class="text-center"><%= matches.size %></td>
              <td class="text-center"><%= matches.confirmed.size %></td>
              <td class="text-center"><%= matches.size > 0 ? (100 * (matches.confirmed.size.to_f / matches.size)).to_i.to_s + "%" : "0%" %></td>
              <td class="text-center"><%= campaign.available_doses > 0 ? (100 * (matches.confirmed.size.to_f / campaign.available_doses)).to_i.to_s + "%" : "0%" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if @pagy_campaigns.pages > 1 %>
      <%= raw pagy_bootstrap_nav(@pagy_campaigns) %>
    <% end %>
  <% end %>
</div>
