<div class="mt-2 faq-item bg-white shadow-sm border border-light overflow-hidden" style="border-radius: 12px">
  <h3 class="mb-0">
    <button class="btn btn-link collapsed faq-item--title border-0 py-3 pl-3 pr-5"
            data-toggle="collapse"
            data-target="#<%= faq_item.id %>"
            aria-expanded="false"
            aria-controls="<%= faq_item.id %>">
      <%= faq_item.title %>
    </button>
  </h3>

  <div id="<%= faq_item.id %>"
       class="collapse p-3"
       aria-labelledby="<%= faq_item.id %>"
       data-parent="#accordion">
    <%= faq_item.body %>
  </div>
</div>
