<div class="card card-theme mt-2">
  <div class="card-header bg-white border-bottom-0 p-0">
    <h3 class="mb-0">
      <button class="px-3 py-3 btn btn-link w-100 text-left"
              data-toggle="collapse"
              data-target="#<%= faq_item.id %>"
              aria-expanded="false"
              aria-controls="<%= faq_item.id %>">
        <%= faq_item.title %>
      </button>
    </h3>
  </div>

  <div id="<%= faq_item.id %>"
       class="collapse"
       aria-labelledby="<%= faq_item.id %>">
    <div class="card-body faq-entry border-top border-light">
      <%= faq_item.body %>
    </div>
  </div>
</div>
