<div class="card">
  <div class="card-header">
    <h3 class="mb-0">
      <button class="btn btn-link"
              data-toggle="collapse"
              data-target="#<%= faq_item.id %>"
              aria-expanded="false"
              aria-controls="<%= faq_item.id %>">
        <%= faq_item.title %>
      </button>
    </h3>
  </div>

  <div id="<%= faq_item.id %>"
       class="collapse"
       aria-labelledby="<%= faq_item.id %>">
    <div class="card-body">
      <%= faq_item.body %>
    </div>
  </div>
</div>
