<%= provide(:meta_title, "Covidliste, comment ça marche ?") %>
<%= provide(:meta_description, "Découvrez le fonctionnement de notre algorithme.") %>
<%= provide(:meta_image, image_url("meta/algo.png")) %>

<%= content_for(:append_to_head) do %>
  <meta content="index;follow" name="robots"/>
<% end %>

<div class="container">
  <p>
    <strong>
      Algorithme de sélection des volontaires
    </strong>
  </p>

  <%= @faq_item.body %>

</div>
