<%= provide(:meta_title, "Les bénévoles Covidliste") %>
<%= provide(:meta_description, "Découvrez notre équipe de bénévoles.") %>
<%= provide(:meta_image, image_url("meta/benevoles.png")) %>

<%= content_for(:append_to_head) do %>
  <meta content="index;follow" name="robots"/>
<% end %>

<div class="container">
  <h1 class="mb-3">Bénévoles</h1>

  <p class="text-justify text-sm-left">Covidliste est une liste d'attente virtuelle pour les professionnels de la
    vaccination</p>
  <p class="text-justify text-sm-left">Nous proposons aux professionnels de la santé de notifier notre base de
    volontaires dès lors qu'une place se libère dans leur agenda vaccinal</p>
  <p class="text-justify text-sm-left">Nous proposons aux volontaires d'être mis dans la liste d'attente de tous les
    centres de vaccination proches de chez eux.</p>
  <p class="text-justify text-sm-left">Grâce à Covidliste, les soignants gagnent de précieuses heures par jour. Finies
    les heures passées au téléphone pour remplir les créneaux disponibles, c'est Covidliste qui se charge de leur
    adresser les volontaires en quelques clics.</p>
  <p class="text-justify text-sm-left">Vous voulez nous rejoindre ? C'est en bas de la page !</p>

  <div class="mt-2 mb-5">
    <p class="text-center text-muted mt-4 mb-4">
      Merci aux <%= @volunteers.size %> bénévoles qui permettent à Covidliste d'exister !<br />
      Merci également aux <%= @old_volunteers.size %> anciens bénévoles qui ont participé à l'aventure !
    </p>
    <div class="row">
      <% @volunteers.each do |volunteer| %>
        <div class="col-6 col-lg-3 text-center my-3">
          <div data-toggle="tooltip" data-placement="top" title="<%= volunteer.role %>">
            <div>
              <%= image_tag volunteer.picture_path, height: 150, loading: "lazy", class: "rounded-circle border", alt: volunteer.display_name %>
            </div>
            <div class="<%= class_names("mt-3", "text-muted font-italic": volunteer.anon) %>"><%= volunteer.display_name %></div>
          </div>
          <div class="small text-muted" data-toggle="tooltip" data-placement="top" title="<%= volunteer.specialty %>"><%= volunteer.bio %></div>
          <div class="mx-1">
            <% if volunteer.twitter.present? %>
              <%= link_to icon("fab", "twitter"), "https://twitter.com/" + volunteer.twitter, class: "text-info", target: "_blank", rel: "noopener" %>
            <% end %>
            <% if volunteer.linkedin.present? %>
              <%= link_to icon("fab", "linkedin"), "" + volunteer.linkedin, class: "text-info mx-2", target: "_blank", rel: "noopener" %>
            <% end %>
            <% if volunteer.github.present? %>
              <%= link_to icon("fab", "github"), "https://github.com/" + volunteer.github, class: "text-dark", target: "_blank", rel: "noopener" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <h2 id="devenir-benevole">Envie de prendre part au projet ?</h2>

  <p class="mt-4">Nous avons besoin de bénévoles pour venir renforcer nos rangs 💪</p>

  <p class="text-primary small">
    Tous les champs du formulaire comportant un astérisque (*) sont obligatoires car nécessaires à Hostolab, en tant que
    responsable de traitement, pour l’examen de votre candidature. A défaut de les remplir, nous ne pourrons pas traiter
    votre candidature.
  </p>

  <p class="text-primary small">
    Conformément à la réglementation applicable, vous disposez d’un droit d’accès, de rectification, de suppression et,
    le cas échéant, de portabilité de vos données personnelles. Vous pouvez également vous opposer au traitement de vos
    données et, le cas échéant, en demander la limitation. Vous pouvez enfin définir des directives relatives au sort de
    vos données en cas de décès. Ces droits peuvent être exercés directement auprès de Hostolab par email à l’adresse
    suivante : <%= mail_to "privacy@covidliste.com" %>. Au besoin, vous bénéficiez du droit d’introduire une réclamation
    auprès de la CNIL.
  </p>

  <p class="text-primary small">
    Pour en savoir plus sur l’utilisation de vos données personnelles, veuillez consulter
    la <%= link_to "politique de protection des données personnelles", privacy_volontaires_path %>.
  </p>

  <p class="my-4">
    <%= link_to "Postuler pour devenir bénévole", "https://bit.ly/recrutement-covidliste", class: "btn btn-primary", target: "_blank", rel: "noopener" %>
  </p>

  <p>Exemples de missions :</p>

  <ul>
    <li>Contribuer au développement de la plateforme technologique</li>
    <li>Travailler sur les interfaces pour que le produit soit utilisable facilement par tout le monde</li>
    <li>Valider les nouveaux centres de vaccination partenaires</li>
    <li>Faire connaître le service covidliste auprès de nouveaux centres</li>
    <li>etc.</li>
  </ul>

  <p>Voici des exemples d'engagements de certains de nos bénévoles :</p>

  <ul>
    <li>3h00 le mardi matin</li>
    <li>1h00 le mercredi après-midi, jeudi après-midi et vendredi après-midi</li>
    <li>tout le lundi après-midi</li>
    <li>3 heures le dimanche matin</li>
    <li>etc.</li>
  </ul>

  <p class="mt-5">
    Si vous êtes développeur, vous pouvez également apporter votre aide en collaborant sur le
    <%= link_to "GitHub du projet", "https://github.com/hostolab/covidliste", target: "_blank", rel: "noopener" %>.
  </p>
</div>
