<%= provide(:meta_title, "Où se trouvent les centres Covidliste ?") %>
<%= provide(:meta_description, "Découvrez la carte des centres partenaires de Covidliste.") %>
<%= provide(:meta_image, image_url("meta/carte.png")) %>

<%= content_for(:append_to_head) do %>
  <meta content="index;follow" name="robots"/>
<% end %>

<div class="container">
  <h3>Carte des lieux de vaccination inscrits sur Covidliste</h3>
  <p><%= @vaccination_centers.count %> lieux de vaccination sur Covidliste</p>

  <div class="leaflet_map_container">
    <div class="my-3">
      <% @map_areas.each do |map_area| %>
        <button class="leaflet_fly_btn btn-sm btn btn-link small"
                data-lat="<%= map_area["lat"] %>" data-lon="<%= map_area["lon"] %>" data-zoom="<%= map_area["zoom"] %>">
          <%= map_area["label"] %>
        </button>
      <% end %>
    </div>

    <div class="mt-3 leaflet_map"
       style="height: 650px;"
       data-lat="<%= @map_areas[0]["lat"] %>"
       data-lon="<%= @map_areas[0]["lon"] %>"
       data-canvas="true"
       data-zoom="<%= @map_areas[0]["zoom"] %>">
    </div>
    <div id="leaflet_data" class="d-none">
      <div class="leaflet-geojson"
           data-url="<%= vaccination_centers_geojson_url %>" data-name="Lieux de vaccination">
      </div>
      <div class="leaflet-geojson"
           data-url="<%= vaccination_centers_missing_users_geojson_url %>" data-hide="true" data-name="Besoin de volontaires">
      </div>
    </div>
  </div>
</div>
