<%= content_for(:append_to_head) do %>
  <meta content="index;follow" name="robots"/>
<% end %>

<div class="container">
  <h1 class="mb-3">
    <%= "Merci à nos #{@project['supporters_count']} donateurs" %>
  </h1>

  <p class="text-justify text-sm-left">Merci à tous les donateurs qui nous permettent d'améliorer la plateforme,
   de continuer à former de nouveaux professionnels de santé et surtout d'accélérer la vaccination en France.</p>

  <%= link_to "En savoir plus sur la campagne", @project["absolute_url"], target: "_blank", rel: "noopener", class: "btn btn-info btn-primary mt-2 mt-md-0" %>
  <% unless @project["finished"] %>
    <% if @project["urls"].present? %>
      <%= link_to "Contribuer financièrement", @project["urls"]["web"]["checkout"], target: "_blank", rel: "noopener", class: "btn btn-large btn-warning mt-2 mt-md-0 ml-md-2" %>
    <% end %>
  <% end %>

  <% if @project["goal"].present? %>
    <div class="my-4 shadow-lg">
      <div class="p-4">
        <div class="d-flex align-items-start align-items-sm-center flex-column flex-sm-row mb-2">
          <% if @project["date_end"].present? %>
            <span class="badge badge-primary mr-2"><%= distance_of_time_in_words(@project["date_end"].to_time.to_i - Time.zone.now.to_i) %>
              restant</span>
          <% end %>
          <div class="font-weight-bold text-primary mt-2 mt-sm-0">Objectif : <%= [@project["goal"], @project["currency"]].join(" ") %></div>
        </div>
        <div class="d-flex align-items-center">
          <span class="text-primary font-weight-bold mr-2"><%= @project["percent"] %>%</span>
          <div class="progress-bg rounded">
            <div class="progress-bar rounded" style="width: <%= @project["percent"] %>%">
              <div class="raised"><%= [@project["amount_raised"], @project["currency"]].join(" ") %> levée</div>
            </div>
          </div>
        </div>
        <% if @project["goal_raised"] %>
          <div class="d-flex align-items-center alert alert-success font-weight-bold mb-0 mt-3 rounded-0">
            <%= icon("fas", "thumbs-up", class: "fa-3x text-success mr-4") %>
            <div class="mb-0">
              Grâce à vous, nous avons dépassé notre objectif.
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @project["sponsorships_count"].present? && @project["sponsorships_count"] > 0 %>
    <p>
      Nous tenons à remercier infiniment nos sponsors également.
    </p>
  <% end %>

  <% if @diamond_supporters.any? %>
    <div class="bg-white p-4 shadow-lg mt-4">
      <div class="d-flex align-items-start align-items-lg-center justify-content-start flex-column flex-lg-row font-weight-light text-primary h2 mb-3">
        <span class="mr-lg-3">💎</span>
        <span class="font-weight-bold">Donateurs Diamant</span>
      </div>
      <%= render 'donateurs_reward', amount: 5000, centers_count: 200, doses_count: 2500 %>
      <%= render 'donateurs_list', supporters: @diamond_supporters %>
    </div>
  <% end %>

  <% if @gold_supporters.any? %>
    <div class="bg-white p-4 shadow-lg mt-4">
      <div class="d-flex align-items-start align-items-lg-center justify-content-start flex-column flex-lg-row font-weight-light text-primary h2 mb-3">
        <span class="mr-lg-3">🥇</span>
        <span class="font-weight-bold">Donateurs Or</span>
      </div>
      <%= render 'donateurs_reward', amount: 1000, centers_count: 40, doses_count: 500 %>
      <%= render 'donateurs_list', supporters: @gold_supporters %>
    </div>
  <% end %>

  <% if @silver_supporters.any? %>
    <div class="bg-white p-4 shadow-lg mt-4">
      <div class="d-flex align-items-start align-items-lg-center justify-content-start flex-column flex-lg-row font-weight-light text-primary h2 mb-3">
        <span class="mr-lg-3">🥈</span>
        <span class="font-weight-bold">Donateurs Argent</span>
      </div>
      <%= render 'donateurs_reward', amount: 500, centers_count: 20, doses_count: 250 %>
      <%= render 'donateurs_list', supporters: @silver_supporters %>
    </div>
  <% end %>

  <% if @bronze_supporters.any? %>
    <div class="bg-white p-4 shadow-lg mt-4">
      <div class="d-flex align-items-start align-items-lg-center justify-content-start flex-column flex-lg-row font-weight-light text-primary h2 mb-3">
        <span class="mr-lg-3">🥉</span>
        <span class="font-weight-bold">Donateurs Bronze</span>
      </div>
      <%= render 'donateurs_reward', amount: 150, centers_count: 7, doses_count: 25 %>
      <%= render 'donateurs_list', supporters: @bronze_supporters %>
    <% end %>
  </div>
</div>
