<%= content_for(:append_to_head) do %>
<meta content="index;follow" name="robots"/>
<% end %>

<div class="container my-5">
  <p>
    <strong>
      Foire aux questions
    </strong>
  </p>

  <p>
    Vous trouverez sur cette page un ensemble de réponses aux questions les plus posées, regroupées par thème.
  </p>

  <div id="accordion">
    <p class="mt-4 strong">Inscription</p>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Je n’ai pas reçu d’email de confirmation ou de changement de mot de passe." do %>
      Vérifiez que le mail n’est pas présent dans vos courriers indésirables, ou boîte SPAM.
      <br />
      S’il n’est pas présent, vous pouvez faire une nouvelle demande
      <%= link_to "d’email de confirmation", new_user_confirmation_path %>
      ou de
      <%= link_to "changeent de mot de passe", new_user_password_path %>.
      <br />
      Attendez quelques minutes, vérifiez vos courriers indésirables ou boîte SPAM.
      <br />
      <br />
      Certains fournisseurs de mail peuvent parfois mettre en attente pendant plusieurs heures les emails envoyés
      par Covidliste avant de les rendre disponibles dans votre boite. C'est le cas notemment de Yahoo et de Hotmail.
      <br />
      Si vous souhaitez que le mail arrive plus rapidement, nous vous conseillons d'éviter l'utilisation des adresses
      de ces fournisseurs pour vous inscrire.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Peut-on s’inscrire à deux (ou plus) ?" do %>
      Oui ! Chacun doit alors utiliser sa propre adresse email pour s'inscrire.
      <br />
      À ce jour, Covidliste n’autorise qu’une inscription par adresse e-mail.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Je ne suis pas prioritaire ou pas éligible au vaccin, puis-je tout de même m’inscrire ?" do %>
      Oui !
      <br />
      Covidliste est un outil d’ajustement de l’offre et de la demande qui a pour objectif d’éviter de perdre des doses
      de vaccins.
      <br />
      Les centres pourront vous contacter même si vous n’êtes pas prioritaires selon les critères de la vague de
      vaccination en vigueur à ce moment.
      <br />
      Ce sont les centres qui sélectionnent les volontaires selon des critères qui leur sont propres parmi lesquels
      géolocalisation, âge, vaccin disponible...
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Puis-je m’inscrire sur Covidliste si j’ai déjà reçu ma première dose ?" do %>
      Covidliste s’adresse aux non vaccinés volontaires et s’est fixé pour mission de sauver des doses qui
      risqueraient d’être perdues.
      <br />
      Covidliste est complémentaire à la stratégie vaccinale actuelle et n’a pas vocation à s’y substituer.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Comment inscrire deux adresses postales différentes (domicile, travail, etc.) ?" do %>
      À ce jour, Covidliste n’autorise qu’une adresse postale par compte.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Je suis un professionnel de santé en charge de la vaccination. Comment accéder à votre service ?" do %>
      Nous avons développé une interface de gestion automatisée des volontaires à la vaccination.
      <br />
      Afin de référencer votre centre et obtenir un accès à notre interface, vous pouvez
      <%= link_to "vous inscrire", partenaires_inscription_path %>.
      <br />
      Si vous avez besoin d'accompagnement, nous vous invitons à contacter
      <%= link_to "partenaires@covidliste.com", "mailto:partenaires@covidliste.com" %>.
    <% end %>
    <p class="mt-4 strong">Fonctionnement</p>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Par quel moyen vais-je être contacté ?" do %>
      Si une dose de vaccin est disponible, nous vous enverrons un SMS et un e-mail afin de connaître votre disponibilité.
      <br />
      Si vous êtes disponible, nous vous transmettrons les informations nécessaires pour vous rendre sur le lieu de vaccination.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Comment fonctionne la liste d’attente ?" do %>
      Covidliste n’est pas une liste d’attente.
      <br />
      En cas de disponibilité d'une ou plusieurs doses, le professionnel de santé ou le lieu de vaccination inscrit
      nous indique les critères de sélection de volontaires qu'il souhaite tels que l’âge et la distance
      du lieu de vaccination.
      <br />
      Nous sélectionnons alors des volontaires correspondant aux critères, auxquels nous enverrons un SMS
      et un e-mail afin de connaître leur disponibilité.
      <br />
      Si ils sont disponibles, nous leur transmettrons les informations nécessaires pour se rendre sur le lieu de vaccination.
      <br />
      Si un des volontaires est indisponible ou ne répond pas dans le délai prévu, nous recommençons la selection
      avec un autre volontaire correspondant aux critères.
      <br />
      Si vous êtes développeur, et que vous souhaitez consulter l'algorithme utilisé, celui-ci est disponible sur le
      <%= link_to "GitHub du projet", "https://github.com/hostolab/covidliste", target: "_blank", rel: "noopener" %>.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Je suis inscrit depuis plusieurs semaines et je n’ai jamais été contacté pour une vaccination." do %>
      Covidliste est un outil d’ajustement de l’offre et de la demande qui a pour objectif d’éviter de perdre des doses
      de vaccins.
      <br />
      Covidliste est complémentaire de la stratégie vaccinale actuelle et n’a pas vocation à s’y substituer.
      <br />
      Covidliste ne recherche des volontaires qu'à la demande des professionnels de santé acteurs de la vaccination
      selon les critères établis par ces professionnels tels que l’âge et la distance du point de vaccination.
      <br />
      Covidliste ne peut garantir qu’une dose de vaccin sera proposée aux volontaires sur la plateforme.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Avez-vous une application mobile pour smartphone sur l'Apple Store ou le Google Play Store ?" do %>
      À ce jour, Covidliste est uniquement un site internet et ne dispose pas d’application mobile.
      <br />
      Nous ne prévoyons pas la création d'une application dans l'immédiat.
      <br />
      Si une dose de vaccin est disponible, nous communiquerons avec vous par SMS et par e-mail.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "J'ai une profession à risque ou une autre information utile me concernant, puis-je l'indiquer ?" do %>
      La plateforme Covidliste prend uniquement en charge la mise en relation entre des professionnels de santé acteurs de la vaccination et les
      volontaires en fonction de critères établis par ces professionnels tels que l’âge et la distance du point de vaccination.
      <br />
      Nous ne récoltons pas d'informations personnelles supplémentaires en dehors de celles indiquées dans le formulaire d'inscription.
      <br />
      Le centre de vaccination jugera de votre éligibilité en fonction du vaccin disponible.
      <br />
      Au moment de la prise de contact, vous serez informé du type de vaccin.
      <br />
      Nous vous invitons à lui faire part, à ce moment, de toutes les informations que vous jugerez nécessaires.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Je me suis fait vacciner et je veux me désinscrire." do %>
      Félicitations pour cette bonne nouvelle !
      <br />
      Afin de vous désinscrire, connectez-vous sur votre
      <%= link_to "espace personnel", :new_user_session %>
      puis cliquez sur « Supprimez mon compte ».
    <% end %>
    <p class="mt-4 strong">Vaccins</p>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Quel type de vaccin va-t-on m’administrer ?" do %>
      La plateforme Covidliste prend uniquement en charge la mise en relation entre des professionnels de santé acteurs de la vaccination et les
      volontaires en fonction de critères établis par ces professionnels tels que l’âge et la distance du point de vaccination.
      <br />
      Le centre de vaccination jugera de votre éligibilité en fonction du vaccin disponible.
      <br />
      Au moment de la prise de contact, vous serez informé du type de vaccin.
      <br />
      Nous vous invitons à lui faire part, à ce moment, de toutes les informations que vous jugerez nécessaires.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "J'ai une préférence pour un type de vaccin, puis-je choisir ?" do %>
      La plateforme Covidliste prend uniquement en charge la mise en relation entre des professionnels de santé acteurs de la vaccination et les
      volontaires en fonction de critères établis par ces professionnels tels que l’âge et la distance du point de vaccination.
      <br />
      Le centre de vaccination jugera de votre éligibilité en fonction du vaccin disponible.
      <br />
      Au moment de la prise de contact, vous serez informé du type de vaccin.
      <br />
      Nous vous invitons à lui faire part, à ce moment, de toutes les informations que vous jugerez nécessaires.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "J'ai une pathologie particulière qui m'interdit un type de vaccin, puis-je l'indiquer ?" do %>
      La plateforme Covidliste prend uniquement en charge la mise en relation entre des professionnels de santé acteurs de la vaccination et les
      volontaires en fonction de critères établis par ces professionnels tels que l’âge et la distance du point de vaccination.
      <br />
      Nous ne récoltons pas d'information concernant les pathologies des volontaires.
      <br />
      Le centre de vaccination jugera de votre éligibilité en fonction du vaccin disponible.
      <br />
      Au moment de la prise de contact, vous serez informé du type de vaccin.
      <br />
      Nous vous invitons à lui faire part, à ce moment, de toutes les informations que vous jugerez nécessaires.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Puis-je m’inscrire sur Covidliste si j’ai déjà reçu ma première dose ?" do %>
      Covidliste s’adresse aux non vaccinés volontaires et s’est fixé pour mission de sauver des doses qui
      risqueraient d’être perdues.
      <br />
      Covidliste est complémentaire à la stratégie vaccinale actuelle et n’a pas vocation à s’y substituer.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Comment va se passer l’administration de la seconde dose ?" do %>
      Covidliste prend uniquement en charge la mise en relation entre des volontaires et un professionnel de santé partenaire qui a des doses disponibles en surnombre.
      <br />
      Une fois entré dans le protocole de vaccination, c’est le lieu de vaccination qui vous aura proposé la première dose qui suivra
      votre dossier vaccinal.
    <% end %>
    <p class="mt-4 strong">Lieux de vaccination</p>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Quels sont les professionnels de santé et lieux de vaccination inscrits ?" do %>
      L’équipe de Covidliste diffusera bientôt la liste des professionnels de santé et lieux de vaccination inscrits.
      <br />
      L’initiative a été lancée en partenariat avec des centres pilotes en Île-de-France
      et se développe sur l’ensemble du territoire.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Comment savoir si le lieu de vaccination près de chez moi est inscrit ?" do %>
      L’équipe de Covidliste diffusera bientôt la liste des professionnels de santé et lieux de vaccination inscrits.
      <br />
      En attendant, vous pouvez poser la question directement au professionel ou au lieu de vaccination en question.
      <br />
      Si ce n'est pas le cas, n'hésitez pas à leur expliquer le concept et les mettre en contact
      avec nous si ils ont des questions ou besoin d'accompagnement.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Puis-je choisir les centres susceptibles de me contacter ?" do %>
      La plateforme Covidliste permet aux centres de vaccination d’identifier et de contacter des volontaires à proximité
      afin d’écouler des surdoses qui risqueraient d’être détruites.
      <br />
      Covidliste est complémentaire à la stratégie vaccinale actuelle et n’a pas vocation à s’y substituer.
    <% end %>
    <p class="mt-4 strong">Données personnelles et code source</p>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Je me suis inscrit mais je souhaite modifier ou supprimer mes données ?" do %>
      Afin de modifier ou supprimer vos données personnelles, connectez-vous sur votre
      <%= link_to "espace personnel", :new_user_session %>.
      <br />
      Si vous souhaitez modifier vos données : modifiez-les puis cliquez sur « Je modifie mes informations ».
      <br />
      Si vous souhaitez supprimer vos données : cliquez sur « Supprimez mon compte ».
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Comment être certain que les coordonnées transmises ne soient pas par la suite revendues à des tiers ?" do %>
      Covidliste est une initiative citoyenne et philanthrope portée par une équipe de plus de 100 bénévoles qui se sont
      rassemblés dans l’unique but de ne pas perdre de doses de vaccins.
      <br />
      Les données que vous renseignez ne sont transmises qu’aux centres de vaccination ou aux professionnels de santé
      proches de chez vous et disposant de doses de vaccins à sauver.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "À quoi servent les données demandées lors de l’inscription ?" do %>
      <p>
        Lors de l’inscription sur Covidliste, nous demandons à l’utilisateur de nous confier certaines données personnelles.
        <br />
        Nous ne demandons que les données strictement nécessaires à l’utilisation de la plateforme, rien de plus.
      </p>

      Détails par donnée :
      <ul>
        <li>
          Le prénom est transmis au centre de vaccination pour identifier le volontaire lors de son arrivée au RDV.
        </li>
        <li>
          Le nom est transmis au centre de vaccination pour identifier le volontaire lors de son arrivée au RDV.
        </li>
        <li>
          La date de naissance est utilisée pour sélectionner des volontaires selon les critères d’age choisis par le centre de vaccination.
        </li>
        <li>
          L’adresse est utilisée pour déterminer les autres champs de localisation et pour vous permettre de la vérifier ou la modifier dans l'espace membre.
        </li>
        <li>
          La latitude est utilisée pour sélectionner des volontaires selon les critères de distance choisis par le centre de vaccination.
        </li>
        <li>
          La longitude est utilisée pour sélectionner des volontaires selon les critères de distance choisis par le centre de vaccination.
        </li>
        <li>
          Le code postal (déterminé à partir de l'adresse) est utilisé pour faire des analyses statistiques anonymisées.
        </li>
        <li>
          Le code INSEE (déterminé à partir de l'adresse) est utilisé pour faire des analyses statistiques anonymisées.
        </li>
        <li>
          La ville (déterminée à partir de l'adresse) est utilisée pour faire des analyses statistiques anonymisées.
        </li>
        <li>
          Le département (déterminé à partir de l'adresse) est utilisé pour faire des analyses statistiques anonymisées.
        </li>
        <li>
          Le numéro de téléphone est utilisé pour prévenir les volontaires par SMS qu’une dose est disponible.
        </li>
        <li>
          L’adresse email est utilisée pour prévenir les volontaires par Email qu’une dose est disponible ainsi que pour se connecter à son compte.
        </li>
        <li>
          Le mot de passe est utilisé pour se connecter à son compte.
        </li>
      </ul>

      <p>
        Les informations personnelles partagées avec les centres après validation du RDV par le volontaire sont :
      </p>

      <ul>
        <li>Le prénom,</li>
        <li>Le nom,</li>
        <li>La date de naissance,</li>
        <li>Le numéro de téléphone.</li>
      </ul>
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Comment sont stockées les données demandées lors de l’inscription ?" do %>
      <p>
        Lors de l’inscription sur Covidliste, nous demandons à l’utilisateur de nous confier certaines données personnelles.
        Nous nous efforçons de protèger les données que nous sommes amenés à traiter.
      </p>

      <p>
        Lieu et choix de l’hébergeur : dans une volonté de souligner son attachement à des technologies françaises et de
        s’assurer de la conformité avec les législation en vigueur, COVIDLISTE a fait le choix d’héberger ses données en
        France via la société SCALINGO.
      </p>

      Type de stockage utilisés :
      <ul>
        <li>
          La plupart des données personnelles sont stockées et chiffrées dans notre base de données conformément à l’état
          de l’art.
        </li>
        <li>
          La clé de chiffrement est stockée séparément, sur la plateforme d’hébergement du site, et n’est accessible que des
          gestionnaires de COVIDLISTE et de l’hébergeur pour des raisons techniques.
        </li>
        <li>
          Certaines données personnelles sont stockées de manière non réversible à l'aide de
          <%= link_to "fonctions de hashage", "https://fr.wikipedia.org/wiki/Fonction_de_hachage", target: "_blank", rel: "noopener" %>.
        </li>
        <li>
          Quelques données personnelles sont stockées en clair dans notre base de données.
        </li>
        <li>
          Elles sont réduites au strict minimum et/ou sont volontairement imprécises.
        </li>
      </ul>

      Blibliothèques techniques utilisées :
      <ul>
        <li>
          Pour le chiffrement des données, nous utilisons <%= link_to "ankane/lockbox", "https://github.com/ankane/lockbox", target: "_blank", rel: "noopener" %>.
        </li>
        <li>
          Pour le hachage de l’adresse email, nous utilisons <%= link_to "ankane/blind_index", "https://github.com/ankane/blind_index", target: "_blank", rel: "noopener" %>.
        </li>
        <li>
          Pour le hachage du mot de passe, nous utilisons les options de hachage par défaut proposées par
          <%= link_to "heartcombo/devise", "https://github.com/heartcombo/devise", target: "_blank", rel: "noopener" %>.
        </li>
      </ul>
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Votre code source est-il ouvert et auditable ?" do %>
      Oui, notre code est open source et vous pouvez le retrouver sur le
      <%= link_to "GitHub du projet", "https://github.com/hostolab/covidliste", target: "_blank", rel: "noopener" %>.
    <% end %>
    <p class="mt-4 strong">Centres de vaccination et professionnels de santé</p>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Je suis un professionnel de santé en charge de la vaccination. Comment accéder à votre service ?" do %>
      Nous avons développé une interface de gestion automatisée des volontaires à la vaccination.
      <br />
      Afin de référencer votre centre et obtenir un accès à notre interface, vous pouvez
      <%= link_to "vous inscrire", partenaires_inscription_path %>.
      <br />
      Si vous avez besoin d'accompagnement, nous vous invitons à contacter
      <%= link_to "partenaires@covidliste.com", "mailto:partenaires@covidliste.com" %>.
    <% end %>
    <p class="mt-4 strong">Collaboration et contact</p>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Je veux vous aider ou devenir bénévole." do %>
      Merci beaucoup de vous proposer, cela nous fait très plaisir de voir que vous souhaitez nous apporter votre soutien !
      <br />
      Pour l'instant nous avons une solide équipe de bénévoles et nous n'avons pas besoin d'aide supplémentaire.
      <br />
      Si nous avons un besoin précis, nous communiquerons probablement sur
      <%= link_to "Twitter", "https://twitter.com/covidliste", target: "_blank", rel: "noopener" %>.
      <br />
      Si vous êtes développeur, vous pouvez apporter votre aide en collaborant sur
      <%= link_to "GitHub du projet", "https://github.com/hostolab/covidliste", target: "_blank", rel: "noopener" %>.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Je représente une entreprise ou une association et nous voulons vous aider." do %>
      Merci beaucoup de vous proposer, cela nous fait très plaisir de voir que vous des entreprises souhaitent nous apporter leur soutien !
      <br />
      Nous essayons de travailler au maximum avec des entreprises ou associations françaises ou européennes.
      <br />
      Si vous pensez pouvoir nous aider, vous pouvez nous contacter sur
      <%= link_to "hello@covidliste.com", "mailto:hello@covidliste.com", rel: "noopener" %>.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Je suis journaliste et souhaite réaliser une interview ou obtenir des informations." do %>
      Nous vous invitons à nous contacter sur <%= link_to "presse@covidliste.com", "mailto:presse@covidliste.com", rel: "noopener" %>.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "Je suis un professionnel de santé en charge de la vaccination et j'ai un question" do %>
      Nous avons développé une interface de gestion automatisée des volontaires à la vaccination.
      <br />
      Afin de référencer votre centre et obtenir un accès à notre interface, vous pouvez
      <%= link_to "vous inscrire", partenaires_inscription_path %>.
      <br />
      Si vous avez besoin d'accompagnement, nous vous invitons à contacter
      <%= link_to "partenaires@covidliste.com", "mailto:partenaires@covidliste.com" %>.
    <% end %>
    <%= render "faq_entry", parent_id: "accordion",
               title: "J'ai une question qui n'est pas dans la FAQ ou je souhaite vous contacter." do %>
      Nous sommes une équipe de bénévoles et nous recevons énormément de mails.
      <br />
      Nous faisons le maximum pour vous répondre au plus vite.
      <br />
      Pour éviter d'allonger les délais de réponse, vérifiez bien que la réponse à votre question n'est pas présente
      sur cette page avant de nous contacter.
      <br />
      Si ce n'est pas le cas, nous somme disponibles sur <%= link_to "hello@covidliste.com", "mailto:hello@covidliste.com", rel: "noopener" %>.
    <% end %>
  </div>
</div>
