<%= provide(:meta_title, "Une question sur Covidliste ?") %>
<%= provide(:meta_description, "Toutes vos réponses dans notre foire aux questions.") %>
<%= provide(:meta_image, image_url("meta/faq.png")) %>

<%= content_for(:append_to_head) do %>
  <meta content="index;follow" name="robots"/>
<% end %>

<div class="container" id="faq">
  <div class="d-flex align-items-center mb-4">
    <div class="rounded p-3 bg-light text-primary mr-3 h2">
      <%= icon("fas", "user-plus") %>
    </div>
    <h3>
      Foire aux questions
    </h3>
  </div>

  <p>
    Vous trouverez sur cette page un ensemble de réponses aux questions les plus posées,
    regroupées par thème.
  </p>

  <p class="mb-4">
    Si vous êtes un professionnel de santé assurant la vaccination, consultez la
    <%= link_to "foire aux questions pour les professionnels de santé", partenaires_faq_path %>.
  </p>

  <div id="accordion">
    <% current_category = nil %>
    <% @faq_items.each do |faq_item| %>
      <% if current_category != faq_item.category %>
        <h2 class="mt-5 mb-3"><%= current_category = faq_item.category %></h2>
      <% end %>

      <%= render "faq_entry", faq_item: faq_item %>
    <% end %>
  </div>
</div>
