<%= content_for(:append_to_head) do %>
  <meta content="index;follow" name="robots"/>
<% end %>

<div class="container" id="faq">
  <div class="d-flex align-items-center mb-4">
    <div class="rounded p-3 bg-light text-primary mr-3 h2">
      <%= icon("fas", "hospital-user") %>
    </div>
    <h3>
      Foire aux questions pour les professionnels de santé
    </h3>
  </div>

  <p>
    Vous trouverez sur cette page un ensemble de réponses aux questions les plus posées
    pour les professionnels de santé, regroupées par thème.
  </p>

  <p class="mb-4">
    Si vous n'êtes pas un professionnel de santé, consultez la
    <%= link_to "foire aux questions pour les volontaires à la vaccination", faq_path %>.
  </p>

  <div id="fuzzy-search" data-fuzzy-search-source="<%= partenaires_faq_path(format: :json) %>" data-fuzzy-search-input="#search" data-fuzzy-search-none="#no-results" data-fuzzy-search-item-category=".faq-category" data-fuzzy-search-item=".faq-item" data-fuzzy-search-item-title=".faq-item--title">
    <%= search_field_tag :search, params[:search], placeholder: "Saisissez un mot-clé pour trouver votre réponse", class: 'form-control string required', autocomplete: "off" %>
    <div id="no-results" class="d-none alert alert-warning mt-2">Nous n’avons pas trouvé de réponse avec ces mots clefs, merci de reformuler votre demande.</div>
    <div id="accordion" class="d-flex flex-column">
      <% @faq_items.group_by(&:category).each do |category, faq_items| %>
        <h2 class="mt-4 mb-3 h4"><%= category %></h2>
        <% faq_items.each do |faq_item| %>
          <%= render "faq_entry", faq_item: faq_item %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
