<%= content_for(:append_to_head) do %>
  <meta content="index;follow" name="robots"/>
<% end %>

<div class="bg-theme">
  <div class="container pt-2 pb-5 pb-lg-0">
    <h1 class="h1 font-weight-bold text-white mb-2" style="line-height: 1.1">Accélérons la campagne de vaccination.</h1>
    <h2 class="h3 font-weight-bold text-light mb-4">Être contacté dès qu'une dose est disponible près de chez vous</h2>
    <div class="row">
      <div class="col-12 col-lg-7">
        <div id="inscription">
          <%= render "users/form" %>
        </div>
      </div>
      <div class="col-12 col-lg-5 d-none d-lg-flex align-items-end">
        <%= image_tag "home/time-value.png", alt: "Accessibilité Smartphone", class: "ml-lg-5 img-fluid", loading: "lazy" %>
      </div>
    </div>  
  </div>
</div>

<!--
<div class="bg-white">
  <div class="container pt-3 pt-lg-5">
    <div class="d-flex align-items-center justify-content-around flex-column flex-lg-row">
      <div class="text-center mt-3 mt-lg-5">
        <div class="text-primary font-weight-bolder display-4 mb-2"><%= pretty_number(@matched_users_count) %></div>
        <div class="text-black font-weight-bold h4 mb-0">Inscrits<br>contactés</div>
      </div>
      <div class="text-center mt-3 mt-lg-5">
        <div class="text-primary font-weight-bolder display-4 mb-2"><%= pretty_number(@vaccination_centers_count) %></div>
        <div class="text-black font-weight-bold h4 mb-0">Centres de<br>vaccination</div>
      </div>
      <div class="text-center mt-3 mt-lg-5">
        <div class="text-primary font-weight-bolder display-4 mb-2"><%= pretty_number(@confirmed_matched_users_count) %></div>
        <div class="text-black font-weight-bold h4 mb-0">RDV<br>confirmés</div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container py-5 my-5">
    <div class="d-flex align-items-center justify-content-between py-3">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="font-weight-bolder text-dark mb-2 mb-lg-4 h2">Qu'est ce que <span class="text-primary">Covidliste</span> ?</div>
          <p class="text-justify">
            Covidliste est une initiative bénévole et citoyenne permettant la mise en relation entre des volontaires à la vaccination et les professionnels de santé qui disposent de vaccin disponibles.
          </p>
          <p class="text-justify mb-0">
            En quelques semaines Covidliste est devenue <strong>la plus grande liste d'attente de vaccination en France avec <%= @users_count %> inscrits.</strong>
          </p>
        </div>
        <div class="col-12 col-lg-6">
          <div class="ml-lg-4 pt-3 mt-2 mt-lg-5">
            <div class="d-flex align-items-start">
              <%= image_tag "home/icon-check-circle.svg", loading: "lazy", height: 32, width: 32, alt: "solution 1", class: "d-none d-lg-flex align-self-center mr-2" %>
              <p>
                <strong>Alerter</strong> les citoyens volontaires lorsqu’une dose de vaccin est disponible près de chez eux.
              </p>
            </div>
            <div class="d-flex align-items-start">
              <%= image_tag "home/icon-check-circle.svg", loading: "lazy", height: 32, width: 32, alt: "solution 1", class: "d-none d-lg-flex align-self-center mr-2" %>
              <p class="mb-0">
                <strong>Simplifie</strong> la gestion des listes d'attentes des centres de vaccination.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "pages/home/box_cta", locals: { title: "S'inscrire à Covidliste", text: "Vous serez contacté dès qu'une dose sera disponible !", cta_text: "S'inscrire à Covidliste", cta_href: "#inscription" } %>

<div class="bg-white">
  <div class="container mt-3 mt-lg-5">
    <div class="d-flex align-items-center justify-content-between">
      <div class="row">
        <div class="col-12 col-lg-6 order-1 order-lg-0 mt-3 mt-lg-0">
          <div class="font-weight-bolder text-dark mb-2 mb-lg-4 h2"><span class="text-primary">Comment</span> ça marche ?</div>
          <div class="d-flex align-items-start mb-4">
            <%= image_tag "home/icon-check-circle.svg", loading: "lazy", height: 32, width: 32, alt: "solution 1", class: "d-none d-lg-flex align-self-center mr-2" %>
            <p class="mb-0">
              <strong>Un professionnel de santé</strong> constate qu’il a des doses disponibles, il <strong>peut utiliser Covidliste pour trouver facilement des volontaires</strong> selon des critères d'âge et de distance.
            </p>
          </div>
          <div class="d-flex align-items-start mb-4">
            <%= image_tag "home/icon-check-circle.svg", loading: "lazy", height: 32, width: 32, alt: "solution 1", class: "d-none d-lg-flex align-self-center mr-2" %>
            <p class="mb-0">
              Les <strong>inscrits Covidliste sont d'abord notifiés par mail</strong>. S’il reste des doses non attribuées en fin de journée, nous recontacterons par SMS tous les inscrits les plus proche.
            </p>
          </div>
          <div class="d-flex align-items-start mb-4">
            <%= image_tag "home/icon-check-circle.svg", loading: "lazy", height: 32, width: 32, alt: "solution 1", class: "d-none d-lg-flex align-self-center mr-2" %>
            <p class="mb-0">
              <strong>Les inscrits réservent leurs doses.</strong>
            </p>
          </div>
          <div class="d-flex align-items-start mb-5">
            <%= image_tag "home/icon-check-circle.svg", loading: "lazy", height: 32, width: 32, alt: "solution 1", class: "d-none d-lg-flex align-self-center mr-2" %>
            <p class="mb-0">
              <strong>Le professionnel de santé reçoit alors la liste des inscrits et les vaccine</strong> lorsqu'ils se présentent.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-6 order-0 order-lg-1 d-flex align-items-end">
          <div class="ml-lg-4">
            <%= image_tag "home/comment-ca-marche.svg", loading: "lazy", alt: "Interface pour les professionels de santé", class: "shadow-lg img-fluid" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "pages/home/box_cta", locals: { title: "Vous êtes professionels de santé ?", text: "Simplifier la gestion de votre liste d’attente.<br>Commencer dès maintenant à gagner du temps.", cta_text: "Trouver des volontaires à la vaccination", cta_href: new_partners_vaccination_center_path } %>

<div class="bg-white">
  <div class="container my-5">
    <div class="d-flex align-items-center justify-content-between">
      <div class="row">
        <div class="col-12 col-lg-6 d-flex align-items-center">
          <div class="mr-lg-4">
            <%= image_tag "home/pourquoi-ce-projet.svg", loading: "lazy", alt: "Deux professionnels de santé", class: "img-fluid" %>
          </div>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-start flex-column mt-3 mt-lg-0">
          <div class="font-weight-bolder text-dark mb-2 mb-lg-4 h2"><span class="text-primary">Pourquoi</span> ce projet ?</div>
          <p class="mb-0">
            <strong>Covidliste se veut être un soutien et complémentaire à la stratégie vaccinale.</strong> Les stocks de vaccin étant mieux et plus vite écoulés, l’immunité collective pourra être atteinte plus rapidement.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "pages/home/box_cta", locals: { title: "Devenir bénévole", text: "Rejoignez une centaine de bénévoles qui chaque<br>jour contribuent à accélérer la campagne de vaccination !", cta_text: "Rejoindre l’équipe Covidliste", cta_href: benevoles_path } %>

<div class="bg-white">
  <div class="container py-3 py-lg-5 my-lg-5">
    <div class="d-flex align-items-center justify-content-between py-lg-3">
      <div class="row">
        <div class="col-12 col-lg-6 order-1 order-lg-0 mt-3 mt-lg-0">
          <div class="font-weight-bolder text-dark mb-2 mb-lg-4 h2"><span class="text-primary">Qui est derrière</span> Covidliste ?</div>
          <p class="mb-0">
            <span class="text-primary font-weight-bold text-decoration-underline">Martin Daniel</span> data scientist et <span class="text-primary font-weight-bold text-decoration-underline">Mathieu Ripert</span> ingénieur, en collaboration avec <span class="text-primary font-weight-bold text-decoration-underline">Dr Antoine Roux</span>, pneumologue ont lancé Covidliste le 30 avril 2021. Depuis, ils ont été rejoints par plus d'une centaine de bénévoles, développeurs informatiques, communicants, spécialistes en droit, et designers pour offrir leurs compétences au service du projet.
            <br>
            Pour en savoir plus, n’hésitez pas à consulter notre <%= link_to "FAQ", faq_path, class: "text-primary font-weight-bold text-decoration-underline" %> et suivez-nous sur <%= link_to "Twitter", "https://twitter.com/covidliste", class: "text-primary font-weight-bold text-decoration-underline", target: "_blank", rel: "noopener" %> pour ne rien rater de notre actualité !
          </p>
        </div>
        <div class="col-12 col-lg-6 order-0 order-lg-1 d-flex align-items-center">
          <div class="ml-lg-4 mt-lg-5 ">
            <%= image_tag "home/twitter-covidlist-creation.svg", loading: "lazy", alt: "Tweet de création de Covidliste", class: "shadow-lg img-fluid" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<%= render partial: "pages/home/box_cta", locals: { title: "Nous lançons un appel aux dons !", text: "Chaque semaine Covidliste dépense quelques milliers d’euros pour assurer son fonctionnement.<br>Nous avons besoin de votre aide pour maintenir le service tout le long de la campagne vaccinale.", cta_text: "Rejoindre l’équipe Covidliste", cta_href: benevoles_path } %>
