<%= content_for(:append_to_head) do %>
<meta content="index;follow" name="robots"/>
<% end %>

<div class="container my-5">
  <h1>Protection des données</h1>

  <p>
    Date de dernière révision de la présente politique de confidentialité : <i>02 avril 2021</i>.
  </p>

  <p>
    <strong>
      PREAMBULE
    </strong>
  </p>

  <p class="text-justify">
    Dans le cadre du présent site internet (ci-après  <strong> « COVIDLISTE » </strong>), Martin DANIEL, agissant en
    qualité de responsable de traitement, est amené à traiter vos données à caractère personnel.
  </p>

  <p class="text-justify">
    Ces traitements sont réalisés conformément à la législation en vigueur, notamment le Règlement (UE) 2016/679 du
    Parlement Européen et du Conseil du 27 avril 2016 (le Règlement Général sur la Protection des Données, ci-après le
    « <strong> RGPD </strong> ») et la Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux
    libertés (ci-après la « LIL »), modifiée.
  </p>

  <p class="text-justify">
    COVIDLISTE s’engage à respecter la vie privée et à protéger les données à caractère personnel collectées et
    traitées lors de votre navigation sur notre Site.
  </p>

  <p class="text-justify">
    Plus particulièrement, COVIDLISTE prend soin de collecter uniquement les données strictement nécessaires, de façon
    loyale et transparente, pour des finalités déterminées, explicites et légitimes et à ne pas les réutiliser à des
    fins incompatibles avec celles initialement prévues.
  </p>

  <p class="text-justify">
    COVIDLISTE met en œuvre des mesures techniques et organisationnelles afin de garantir la sécurité, l’exactitude,
    la mise à jour, la rectification ou l’effacement des données.
  </p>

  <p class="text-justify">
    Enfin, COVIDLISTE s’engage à respecter les durées de conservation des données personnelles collectées ainsi que les
    obligations relatives aux transferts transfrontaliers de données à caractère personnel lorsqu’ils existent.
  </p>

  <p>
    <strong>
      DEFINITIONS
    </strong>
  </p>

  <p class="text-justify">
    <strong>
      Donnée à caractère personnel :
    </strong>
    toute information se rapportant à une personne physique identifiée ou identifiable ; est réputée être une
    « personne physique identifiable » une personne physique qui peut être identifiée, directement ou indirectement,
    notamment par référence à un identifiant, tel qu’un nom, un numéro d’identification, des données de localisation,
    un identifiant en ligne, ou à un ou plusieurs éléments spécifiques propres à son identité physique, physiologique,
    génétique, psychique, économique, culturelle ou sociale.
  </p>

  <p class="text-justify">
    <strong>
      Traitement :
    </strong>
    toute opération ou tout ensemble d’opérations effectuées ou non à l’aide de procédés automatisés et appliquées à des
    données ou des ensembles de données à caractère personnel (p. ex. la collecte, l’enregistrement, l’organisation, la
    structuration, la conservation, l’adaptation ou la modification, l’extraction, la consultation, l’utilisation, la
    communication par transmission, la diffusion ou toute autre forme de mise à disposition, le rapprochement ou
    l’interconnexion, la limitation, l’effacement ou la destruction).
  </p>

  <p class="text-justify">
    <strong>
      Responsable de traitement :
    </strong>
    la personne physique ou morale, l’autorité publique, le service ou un autre organisme qui, seul ou conjointement
    avec d’autres, détermine les finalités et les moyens du traitement.
  </p>

  <p class="text-justify">
    <strong>
      Personne concernée :
    </strong>
    toute personne physique identifiée ou identifiable dont les données à caractère personnel sont traitées.
  </p>


  <p>
    <strong>
      OBLIGATIONS DU RESPONSABLE DE TRAITEMENT
    </strong>
  </p>

  <p class="text-justify">
    <strong>
      Communication sur l’identité du responsable de traitement
    </strong>
    <br>
    Le responsable de traitement est : Martin DANIEL.
  </p>

  <p class="text-justify">
    <strong>
      Désignation d’un délégué à la protection des données (DPD)
    </strong>
    <br>
    Le Délégué à la protection des données de COVIDLISTE est
    <i>
      en cours de désignation.
    </i>
    Il aura notamment pour mission d’informer et conseiller le responsable de traitement. Toute demande relative à la
    protection des données à caractère personnel peut être envoyée à
    <%= link_to "privacy@covidliste.com", "mailto:privacy@covidliste.com" %>.
  </p>

  <p class="text-justify">
    <strong>
      Mesures de sécurité
    </strong>
    <br>
    COVIDLISTE met en place des mesures de sécurité techniques et organisationnelles afin de protéger les données à
    caractère personnel traitées.
    <br>
    Toute faille de sécurité détectée peut être signalée par courriel à
    <%= link_to "ssi@covidliste.com", "mailto:ssi@covidliste.com" %>.
  </p>

  <p>
    <strong>
      INFORMATION DES PERSONNES DONT LES DONNÉES SONT TRAITÉES
    </strong>
  </p>

  <p class="text-justify">
    COVIDLISTE vous informent lors de la collecte :
  </p>

  <ul>
    <li>
      De la finalité de la collecte :
    </li>
    <ul>
      <li>
        Traitement 1 : constitution des listes de volontaires à la vaccination pour réduire le taux de perte de doses vaccinales ;
      </li>
      <li>
        Traitement 2 : partage des informations avec les centres de vaccination partenaires pour lesquels les personnes concernées ont consenti ;
      </li>
      <li>
        Traitement 3 : gestion des comptes utilisateurs.
      </li>
    </ul>
  </ul>

  <ul>
    <li>
      De la base légale du traitement des données :
    </li>
    <ul>
      L’ensemble des traitements repose sur le consentement libre, éclairé et univoque de la personne concernée.
      <br>
      Ce consentement peut être retiré à tout moment.
    </ul>
  </ul>

  <ul>
    <li>
      Du caractère obligatoire ou facultatif de la collecte :
    </li>
    <ul>
      <li>
        Traitement 1 : les données à caractère personnel sont nécessaires à la fourniture du service ;
      </li>
      <li>
        Traitement 2 : les données sont nécessaires à l’envoi au destinataire (centre de vaccination) en vue de l’administration effective d’une dose restante ;
      </li>
      <li>
        Traitement 3 : les données sont nécessaires à la gestion de l’espace utilisateur.
      </li>
    </ul>
  </ul>

  <ul>
    <li>
      Des destinataires des données :
    </li>
    <ul>
      <li>
        Traitement 1 : gestionnaires de la plateforme COVIDLISTE, hébergeur du Site et tiers autorisés (dont les autorités administratives et judiciaires compétentes) ;
      </li>
      <li>
        Traitement 2 : gestionnaires de la plateforme COVIDLISTE, hébergeur du Site, centres de vaccination partenaires (si la personne concernée a consenti à ce partage) et tiers autorisés (dont les autorités administratives et judiciaires compétentes) ;
      </li>
      <li>
        Traitement 3 : gestionnaires de la plateforme COVIDLISTE, hébergeur du Site et tiers autorisés (dont les autorités administratives et judiciaires compétentes).
      </li>
    </ul>
  </ul>

  <ul>
    <li>
      Du transfert éventuel de données hors de l’UE :
      <p>
        <i>
          Il n’existe pas de transfert de données à caractère personnel en dehors de l’Espace Economique Européen (EEE).
        </i>
      </p>
    </li>
  </ul>

  <ul>
    <li>
      De vos droits sur vos données et du droit d’introduire une réclamation auprès de la CNIL : voir ci-après.
    </li>
  </ul>

  <p>
    <strong>
      COOKIES
    </strong>
  </p>

  <p>
    <strong>
      1 – Qu’est-ce qu’un cookie ?
    </strong>
  </p>

  <p class="text-justify">
    Lors de votre visite sur COVIDLISTE, un témoin de connexion (ci-après un <b>« cookie »</b>) peut s’installer
    automatiquement sur votre logiciel de navigation, sous réserve des choix exprimés dans les paramètres de votre
    navigateur, modifiables à tout moment. Un cookie est généralement transmis par le serveur d’un site à votre
    navigateur.
  </p>

  <p class="text-justify">
    La CNIL définit le cookie comme un petit fichier stocké par un serveur dans le terminal (ordinateur, téléphone, etc.)
    d’un utilisateur et associé à un domaine web (c’est à dire dans la majorité des cas à l’ensemble des pages d’un même
    site web). Ce fichier est automatiquement renvoyé lors de contacts ultérieurs avec le même domaine.
  </p>

  <p class="text-justify">
    Il contient plusieurs données, notamment le nom du serveur qui l’a déposé, un identifiant sous forme de numéro unique,
    les pages et onglets sur lesquels vous avez cliqué, le type de navigateur que vous utilisez et une date d’expiration.
    Les cookies ont différentes fonctionnalités, par exemple l’enregistrement des informations relatives à la navigation
    de l’utilisateur sur le site (mesure d’audience, etc.).
  </p>

  <p class="text-justify">
    Seul l’émetteur d’un cookie est susceptible de lire, enregistrer ou modifier les informations qu’il contient.
  </p>

  <p class="text-justify">
    En poursuivant votre lecture vous serez informé sur les cookies qui sont susceptibles d’être déposés sur votre terminal ainsi que sur les modalités d’exercer vos préférences de paramétrage.
  </p>

  <p>
    <strong>
      2 – Quels sont les cookies et/ou traceurs présents sur COVIDLISTE ?
    </strong>
  </p>

  <p class="text-justify">
    En l’état de la construction de COVIDLISTE, seul un cookie « covidliste_session » est répertorié.
  </p>

  <p class="text-justify">
    Il s’agit d’un cookie technique visant à permettre l’authentification et à protéger le site contre les attaques de
    type <i>« cross-site request forgery »</i>, abrégé CSRF.
  </p>

  <p class="text-justify">
    Il rentre dans la catégorie des « traceurs destinés à l’authentification auprès d’un service, y compris ceux visant
    à assurer la sécurité du mécanisme d’authentification, par exemple en limitant les tentatives d’accès robotisées ou inattendues ».
  </p>

  <p>
    <strong>
      3 – Mise à jour de la rubrique cookies
    </strong>
  </p>

  <p class="text-justify">
    COVIDLISTE peut procéder à tout moment à la mise à jour de la présente rubrique relative aux Cookies. En conséquence,
    l’utilisateur est invité à se référer régulièrement à la présente rubrique.
  </p>

  <p>
    <strong>
      DROITS DES PERSONNES DONT LES DONNÉES SONT TRAITÉES :
    </strong>
  </p>

  <p class="text-justify">
    Conformément au RGPD et à la LIL, vous disposez d’un droit d’accès, de rectification, d’effacement, d’opposition,
    de limitation du traitement, de portabilité des données, de réclamation auprès de la CNIL et de définir des
    directives relatives au sort de vos données après votre décès.
  </p>

  <p class="text-justify">
    <strong>
      Le droit d’accès
    </strong>
    <br>
    Vous pouvez demander au responsable de traitement la confirmation que des données vous concernant sont traitées et,
    le cas échéant, la communication de ces données.
    <br>
    COVIDLISTE peut ne pas donner suite à votre demande, si celle-ci est infondée, excessive ou porte atteinte aux
    droits de tiers.
  </p>

  <p class="text-justify">
    <strong>
      Le droit de rectification
    </strong>
    <br>
    Vous pouvez demander la correction de vos données à caractère personnel qui sont inexactes ou incomplètes.
  </p>

  <p class="text-justify">
    <strong>
      Le droit à l’effacement (« droit à l’oubli »)
    </strong>
    <br>
    Vous pouvez demander l’effacement de données à caractère personnel vous concernant, dès lors que :
  </p>

  <ul>
    <li>
      vos données ne sont plus nécessaires au regard des objectifs du traitement établis au départ ;
    </li>
    <li>
      vous retirez votre consentement à l’utilisation de vos données ;
    </li>
    <li>
      vos données font l’objet d’un traitement illicite ;
    </li>
    <li>
      vos données doivent être effacées pour respecter une obligation légale ;
    </li>
    <li>
      vous vous opposez au traitement de vos données et il n’existe pas de motif légitime impérieux pour le responsable
      de traitement de poursuivre celui-ci.
    </li>
  </ul>

  <p>
    Lorsque vous faites une demande d’exercice du droit à l’effacement, il est important d’indiquer précisément les
    données sur lesquelles porte votre demande.
    <br>
    <i>
      NB : tout utilisateur peut procéder à la suppression de ses données à caractère personnel en supprimant directement
      son compte dans son espace personnel.
    </i>
  </p>

  <p class="text-justify">
    <strong>
      Le droit à l’opposition
    </strong>
    <br>
    Le droit d’opposition ne peut être exercé concernant un traitement fondé sur votre consentement.
    <br>
    Vous disposez du droit de retirer ce consentement à tout moment. Le retrait de votre consentement ne compromet pas
    la licéité du traitement effectué avant ce retrait et fondé sur votre consentement.
  </p>

  <p class="text-justify">
    <strong>
      Le droit à la limitation du traitement
    </strong>
    <br>
    Vous pouvez demander de geler temporairement l’utilisation de certaines de vos données.
    <br>
    Si vous contestez l’exactitude de vos données ou que vous vous opposez à ce que vos données soient traitées, la
    réglementation permet à COVIDLISTE de geler les traitements portant sur vos données le temps de procéder à une
    vérification ou à l’examen de votre demande.
  </p>

  <p class="text-justify">
    <strong>
      Le droit à la portabilité des données
    </strong>
    <br>
    Vous pouvez demander à récupérer une partie de vos données dans un format lisible par une machine.
    <br>
    Ce droit s’applique :
  </p>

    <ul>
      <li>
        Aux données que vous avez fournies ;
      </li>
      <li>
        Dont le traitement repose sur votre consentement ;
      </li>
      <li>
        Dont le traitement est automatisé.
      </li>
    </ul>

  <p>
    L’exercice de ce droit ne doit pas porter atteinte aux droits et libertés de tiers.
  </p>

  <p class="text-justify">
    <strong>
      Le droit de faire réclamation auprès de la CNIL
    </strong>
    <br>
    Si vous estimez, après nous avoir contacté, que vos droits ne sont pas respectés, vous pouvez adresser
    <%= link_to "une réclamation auprès de la CNIL", "https://www.cnil.fr/fr/plaintes", target: "_blank", rel: "noopener" %>.
  </p>

  <p class="text-justify">
    <strong>
      Le droit de choisir le sort de vos données après votre décès
    </strong>
    <br>
    Conformément à
    <%= link_to "l’article 85 de la LIL", "https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000037813987/2019-06-01", target: "_blank", rel: "noopener" %> :
    « toute personne peut définir des directives relatives à la conservation, à l’effacement et à la communication de ses
    données à caractère personnel après son décès ».
    <br>
    Les directives peuvent être générales ou particulières :
  </p>

  <ul>
    <li>
      Les directives générales sont relatives à l’ensemble des données à caractère personnel de la personne concernée.
      Elles peuvent être enregistrées auprès d’un tiers de confiance numérique certifié par la CNIL.
    </li>
    <li>
      Les directives particulières sont relatives aux traitements de données à caractère personnel mentionnées par ces
      directives. Elles sont enregistrées auprès des responsables de traitement concernés. La personne concernée doit
      donner un consentement spécifique. Les directives particulières ne peuvent résulter de la seule approbation de
      conditions générales d’utilisation.
    </li>
  </ul>

  <p>
    <strong>
      EXERCICE DE VOS DROITS
    </strong>
  </p>

  <p class="text-justify">
    <strong>Pour exercer vos droits :</strong>
    <br>
    Vous pouvez exercer l’ensemble de vos droits par mail à l’adresse <%= link_to "privacy@covidliste.com", "mailto:privacy@covidliste.com" %>
    (en cas de doute sur votre identité, tout document justifiant de celle-ci pourra vous être demandé).
    <br>
    COVIDLISTE dispose d’un <b>délai de 1 mois</b> à compter de la réception de la demande pour vous répondre. Par
    exception, ce délai peut être prolongé <b>jusqu’à 3 mois en cas de demande complexe ou s’il existe un grand
    nombre de demandes en cours</b>.
    Vous serez informé(e) pendant le délai de 1 mois des raisons de l’éventuelle prolongation du délai.
  </p>
</div>
