<div class="container py-5">
  <div class="d-flex align-items-center mb-4">
    <h2 class="mb-0" id="page-title">
      Liste d'articles
    </h2>
    <%= link_to "Ajouter un article", new_admin_seo_page_path, class: "btn btn-primary ml-4" %>
  </div>

  <% if @seo_pages.present? %>
    <div class="row">
      <% @seo_pages.each do |seo_page| %>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-header">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <div class="font-weight-bold"><%= seo_page.title %></div>
                  <div class="font-weight-light small text-muted">
                    <%= link_to seo_page_url(seo_page), target: "blank" do %>
                      <%= icon("fas", "external-link-alt", seo_page_url(seo_page), class: "mr-1") %>
                    <% end %>
                  </div>
                </div>
                <div>
                  <%= link_to edit_admin_seo_page_path(seo_page), class: "btn btn-primary" do %>
                    <%= icon("fas", "edit") %>
                  <% end %>
                  <%= link_to admin_seo_page_path(seo_page), method: :delete, class: "btn btn-danger", data: { confirm: "Êtes-vous sûr(e) ?" } do %>
                    <%= icon("fas", "trash") %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex align-items-center">
                <% if seo_page.online? %>
                  <div class="badge badge-success px-3 py-2 text-white badge-pill">En ligne</div>
                <% elsif seo_page.archive? %>
                  <div class="badge badge-danger badge-pill">Archivé</div>
                <% else %>
                  <div class="badge badge-secondary px-3 py-2 badge-pill"><%= seo_page.status %></div>
                <% end %>
                <% if seo_page.crawlable? %>
                  <div class="badge badge-info px-3 py-2 badge-pill mx-1">SEO crawlable</div>
                <% end %>
                <% if seo_page.indexable? %>
                  <div class="badge badge-info px-3 py-2 badge-pill mx-1">SEO indexé</div>
                <% end %>
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex align-items-center justify-content-between">
                <div class="text-right">
                  <div class="small text-muted">Dernière modification: <%= time_ago_in_words(seo_page.updated_at, include_seconds: true) %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="text-muted">
      Aucun article pour le moment
    </div>
  <% end %>
</div>
