.row
  .col-12

    %p.mtop2
      %strong Bonjour #{current_partner.name}

    - if @vaccination_centers.any?
      %p.mt-4 Vous avez accès aux centres de vaccination suivants :
      %table.table.table-striped.table-bordered.table-sm.small
        %tr
          %th Nom
          %th Coordonnées
          %th Vaccins
          %th Actions
        - @vaccination_centers.each do |vaccination_center|
          %tr
            %td
              %strong
                = link_to vaccination_center.name, partners_vaccination_center_path(vaccination_center.id)
              %br
              %i #{vaccination_center.kind}
              %br
              #{vaccination_center.description}
            %td
              = icon("fas", "phone")
              #{vaccination_center.phone_number}
              %br
              #{vaccination_center.address}
            %td
              - if vaccination_center.pfizer
                %span.mr-1= Vaccine::Brands::PFIZER
              - if vaccination_center.moderna
                %span.mr-1= Vaccine::Brands::MODERNA
              - if vaccination_center.astrazeneca
                %span.mr-1= Vaccine::Brands::ASTRAZENECA
              - if vaccination_center.janssen
                %span.mr-1= Vaccine::Brands::JANSSEN
            %td
              = link_to "Voir / Gérer les campagnes", partners_vaccination_center_path(vaccination_center.id)

    - if @unconfirmed_vaccination_centers.any?
      %p.mt-4 Vos centres de vaccination en attente de validation :
      %table.table.table-striped.table-bordered.table-sm.small
        %tr
          %th Nom
          %th Coordonnées
          %th Vaccins
          %th Etat
        - @unconfirmed_vaccination_centers.each do |vaccination_center|
          %tr
            %td
              %strong #{vaccination_center.name}
              %br
              %i #{vaccination_center.kind}
              %br
              #{vaccination_center.description}
            %td
              = icon("fas", "phone")
              #{vaccination_center.phone_number}
              %br
              #{vaccination_center.address}
            %td
              - if vaccination_center.pfizer
                %span.mr-1= Vaccine::Brands::PFIZER
              - if vaccination_center.moderna
                %span.mr-1= Vaccine::Brands::MODERNA
              - if vaccination_center.astrazeneca
                %span.mr-1= Vaccine::Brands::ASTRAZENECA
              - if vaccination_center.janssen
                %span.mr-1= Vaccine::Brands::JANSSEN
            %td En attente de validation

    %p.mt-4
      Vous n’avez actuellement accès à aucun centre de vaccination.
    %p
      = link_to "Demander la création d’un nouveau centre de vaccination", new_partners_vaccination_center_path, class: "btn btn-primary btn-sm"

    %p.mt-4
      .small
        Si vous souhaitez rejoindre un centre déjà existant sur Covidliste,
        contactez-nous sur
        = link_to "hello@covidliste.com", "mailto:hello@covidliste.com"
.row.mtop2
  .col-12
    %hr
    = link_to "Se déconnecter", destroy_partner_session_path, method: :delete, class: "btn btn-warning"
