<div class="container">

  <%- if Flipper.enabled?(:pause_service) %>
    <div class="card bg-light mb-3" style="max-width: 50rem; margin-right: auto;margin-left: auto;">
      <div class="card-body">
        <h5 class="card-title">Covidliste est en pause. Merci d'avoir été à nos côtés !</h5>
        <p class="card-text">La tension vaccinale étant réduite, le service Covidliste est en pause. Il n'est plus
          possible de créer de campagne de vaccination, ni de s'inscrire. Grâce à vous, plus de 41 000 personnes ont été
          vaccinées via Covidliste.
          <br><br>Selon l'évolution de l'épidémie, Covidliste sera définitivement fermé et vos
          données supprimées, ou nous vous recontacterons pour relancer le service.</p>
      </div>
      <div class="card-footer">À bientôt, l'équipe Covidliste 👋</div>
    </div>
  <% end %>

  <h2 class="mt-4">
    Espace professionnels de santé
  </h2>

  <p class="mt-4 mb-1 font-weight-bold">
    Bonjour <%= current_partner.name %>
  </p>
  <%= render partial: "partners/link_external_account" %>

  <p class="small">
    <%= icon("fas", "phone", current_partner.human_friendly_phone_number) %>
    <br/>
    Informations incorrectes ?
    <%= link_to "Modifiez votre profil", partners_path %>
  </p>
  
  <p>
    Bienvenue dans l’espace <strong>réservé aux professionnels de santé assurant la vaccination</strong>.
    <br>
    Merci de nous avoir rejoint et merci pour ce que vous faites pour aider à la vaccination du plus grand nombre !
    <br/>
    Un problème, une question ? Contactez-nous sur
    <%= link_to "partenaires@covidliste.com", "mailto:partenaires@covidliste.com" %>
  </p>


  <% if @vaccination_centers.any? and @vaccination_centers.any? %>
    <% if @vaccination_centers.any? %>
      <p class="mt-4">
        Vous avez accès aux lieux de vaccination suivants :
      </p>

      <%= render partial: "partners/vaccination_centers/vaccination_centers_table", locals: {vaccination_centers: @vaccination_centers} %>
      <p class="small text-muted text-center">
        Besoin de corriger les informations de ce tableau ? Contactez-nous sur
        <%= link_to "partenaires@covidliste.com", "mailto:partenaires@covidliste.com" %>.
      </p>
    <% else %>
      <p class="mt-4">
        Vous n’avez actuellement accès à aucun lieu de vaccination.
      </p>
    <% end %>

    <% if @unconfirmed_vaccination_centers.any? %>
      <p class="mt-4">
        Vos lieux de vaccination en attente de validation :
      </p>

      <div class="alert alert-primary" role="alert">
        Nous allons valider vos lieux de vaccination en attente dans les prochaines heures ou les prochains jours.
        <br/>
        Vérifiez bien vos informations, et particulièrement votre numéro de téléphone portable :
        <strong><%= current_partner.human_friendly_phone_number %></strong>
        <br/>
        Numéro incorrect ?
        <%= link_to "Modifiez-le sur votre page profil", partners_path %>
      </div>

      <% @external_accounts = current_partner.partner_external_accounts.order(id: :desc) %>
      <% unless @external_accounts.any? %>
        <% if PartnerExternalAccountProvider::Providers::ALL.any? %>
          <div class="alert alert-info mt-2" role="alert">
            Vous êtes un <strong>professionnel de santé</strong> ?<br/>
            <strong>Accélérez la validation de vos lieux de vaccination</strong> en
            <%= link_to "liant une carte CPS, e-CPS ou un compte professionnel", "#externalAccountsLink", "data-toggle": "modal" %>
          </div>
        <% end %>
      <% end %>

      <%= render partial: "partners/vaccination_centers/vaccination_centers_table", locals: {vaccination_centers: @unconfirmed_vaccination_centers} %>

    <% end %>


    <%- if not Flipper.enabled?(:pause_service) %>
      <p class="small mt-2">
        Vous gèrez une autre lieu de vaccination ?
        <%= link_to "Demandez la création d’un autre lieu de vaccination", new_partners_vaccination_center_path %>
      </p>
    <% end %>

    <p class="mt-2 small">
      Si vous souhaitez rejoindre un lieu de vaccination déjà existant sur Covidliste, contactez-nous sur
      <%= link_to "partenaires@covidliste.com", "mailto:partenaires@covidliste.com" %>.
    </p>

    <% if @vaccination_centers.any? %>
      <div class="mt-5 mb-5">
        <p>
          Êtes-vous satisfait de Covidliste ?
          <button class="btn btn-sm btn-success mx-3" type="button"
                  data-toggle="collapse" data-target="#collapseRecommend"
                  aria-expanded="false" aria-controls="collapseRecommend">
            Recommandez le service à un confrère
          </button>
        </p>
        <div id="collapseRecommend" class="collapse mt-4">
          <div class="row">
            <div class="col-12 col-lg-6">
              <p class="mt-4">
                Si vous êtes satisfait de Covidliste, nous avons préparé pour vous un exemple de mail simple et
                prêt à l'emploi pour recommander le service à un confrère en un clic :
              </p>
              <p>
                <%= link_to icon("fas", "envelope") + " Recommander par mail", "mailto:?cc=partenaires@covidliste.com&subject=Je%20vous%20recommande%20Covidliste%20pour%20trouver%20des%20volontaires%20%C3%A0%20la%20vaccination&body=Cher%20confr%C3%A8re%2C%0D%0A%0D%0AJe%20souhaite%20vous%20faire%20part%20de%20l'existence%20de%20Covidliste%2C%20une%20plateforme%20sur%20laquelle%20je%20suis%20inscrit%2C%20qui%20permet%20aux%20professionnels%20de%20sant%C3%A9%20de%20trouver%20des%20volontaires%20%C3%A0%20la%20vaccination%20en%20cas%20de%20doses%20de%20vaccin%20surnum%C3%A9raires.%0D%0A%0D%0AVoici%20l'adresse%20pour%20s'inscrire%20en%20tant%20que%20professionnel%20%3A%20https%3A%2F%2Fwww.covidliste.com%2Fpartenaires%2F%0D%0A%0D%0AL'%C3%A9quipe%20de%20Covidliste%20est%20en%20copie%20de%20ce%20mail%20pour%20toute%20question%20ou%20besoin%20d'accompagnement.%0D%0A%0D%0ACordialement", class: "btn btn-sm btn-outline-primary", target: "_blank", rel: "noopener" %>
              </p>
              <p class="text-center text-muted font-italic my-4">
                ou
              </p>
              <p>
                Nous mettons à votre disposition ci-contre un exemple de contenu mail utilisable pour
                recommander Covidliste à un confrère
              </p>
            </div>
            <div class="col-12 col-lg-6">
              <div class="card">
                <div class="card-body small">
                  <p>
                    Cc : <em><%= link_to "partenaires@covidliste.com", "mailto:partenaires@covidliste.com" %></em><br/>
                    Sujet : <em>Je vous recommande Covidliste pour trouver des volontaires à la vaccination</em>
                  </p>
                  <p>
                    Cher confrère,<br/>
                    <br/>
                    Je souhaite vous faire part de l'existence de Covidliste, une plateforme sur laquelle je suis
                    inscrit, qui permet aux professionnels de santé de trouver des volontaires à la vaccination
                    en cas de doses de vaccin surnuméraires.<br/>
                    <br/>
                    Voici l'adresse pour s'inscrire en tant que professionnel :
                    https://www.covidliste.com/partenaires/<br/>
                    <br/>
                    L'équipe de Covidliste est en copie de ce mail pour toute question ou besoin d'accompagnement.<br/>
                    <br/>
                    Cordialement
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= render partial: "partners/vaccination_centers/welcome_steps", locals: {
      external_accounts: @external_accounts,
      unconfirmed_vaccination_centers: @unconfirmed_vaccination_centers,
      vaccination_centers: @vaccination_centers
    } %>
  <% end %>

  <p class="mb-5 mt-5">
    Besoin de documents pour communiquer à propos de Covidliste avec vos collègues, confrères, visiteurs ou patients
    ?<br/>
    <small>Nous vous mettons à disposition un ensemble de documents imprimables adaptés à chaque public.</small>
    <br/>
    <%= link_to "Documents pour les professionnels", "https://drive.google.com/drive/folders/1g79baMWlOFjZAcCrK7sa6uUNlyQBuzyC?usp=sharing", class: "btn btn-info btn-sm mt-2", target: "_blank", rel: "noopener" %>
  </p>

  <hr>

  <%= link_to "Se déconnecter", destroy_partner_session_path, method: :delete, class: "btn btn-warning" %>
</div>