.container
  %h2.mt-4 Espace professionnels de santé
  %p.mt-4.mb-1
    %strong Bonjour #{current_partner.name}
  %p.small
    = icon("fas", "phone")
    = current_partner.human_friendly_phone_number_or_fallback
    %br/
    Informations incorrectes ?
    = link_to "Modifiez votre profil", partners_profile_path
  %p
    Bienvenue dans l'espace
    %strong réservé aux professionnels de santé assurant la vaccination.
    %br/
    Merci de nous avoir rejoint et merci pour ce que vous faites pour aider à la vaccination du plus grand nombre !
    %br/
    Un problème, une question ? Contactez-nous sur
    = link_to "partenaires@covidliste.com", "mailto:partenaires@covidliste.com"

  - if @vaccination_centers.any?
    %p.mt-4 Vous avez accès aux lieux de vaccination suivants :
    .table-responsive
      %table.table.table-striped.table-bordered.table-sm.small
        %tr
          %th Nom
          %th Coordonnées
          %th Vaccins
          %th Collaborateurs
          %th Actions
        - @vaccination_centers.each do |vaccination_center|
          %tr
            %td
              %strong
                = link_to vaccination_center.name, partners_vaccination_center_path(vaccination_center.id)
              %br
              %i #{vaccination_center.kind}
              %br
              #{vaccination_center.description}
            %td
              = icon("fas", "phone")
              = vaccination_center.human_friendly_phone_number_or_fallback
              %br
              = vaccination_center.address
            %td
              - if vaccination_center.pfizer
                %span.mr-1= Vaccine::Brands::PFIZER
              - if vaccination_center.moderna
                %span.mr-1= Vaccine::Brands::MODERNA
              - if vaccination_center.astrazeneca
                %span.mr-1= Vaccine::Brands::ASTRAZENECA
              - if vaccination_center.janssen
                %span.mr-1= Vaccine::Brands::JANSSEN
            %td
              - vaccination_center.partners.each do |partner|
                = partner.name
                %br
            %td
              = link_to "Voir / Gérer les campagnes", partners_vaccination_center_path(vaccination_center.id)
    %p.small
      Besoin de donner l'accès à un lieu de vaccination à un collaborateur/collègue ? Contactez-nous sur
      = link_to "partenaires@covidliste.com", "mailto:partenaires@covidliste.com"
  - else
    %p.mt-4
      Vous n’avez actuellement accès à aucun lieu de vaccination.

  - if @unconfirmed_vaccination_centers.any?
    %p.mt-4
      Vos lieux de vaccination en attente de validation
      %br/
      .alert.alert-primary{:role => "alert", style: "position: inherit"}
        Nous allons vous contacter dans les prochaines heures ou les prochains jours pour valider vos lieux de vaccination en attente.
        %br/
        Vérifiez vos informations, et particulièrement votre numéro de téléphone portable :
        %strong
          = current_partner.human_friendly_phone_number_or_fallback
        %br/
        Numéro incorrect ?
        = link_to "Modifiez-le sur votre page profil", partners_profile_path
    .table-responsive
      %table.table.table-striped.table-bordered.table-sm.small
        %tr
          %th Nom
          %th Coordonnées
          %th Vaccins
          %th Etat
        - @unconfirmed_vaccination_centers.each do |vaccination_center|
          %tr
            %td
              %strong #{vaccination_center.name}
              %br
              %i #{vaccination_center.kind}
              %br
              #{vaccination_center.description}
            %td
              = icon("fas", "phone")
              #{vaccination_center.human_friendly_phone_number_or_fallback}
              %br
              #{vaccination_center.address}
            %td
              - if vaccination_center.pfizer
                %span.mr-1= Vaccine::Brands::PFIZER
              - if vaccination_center.moderna
                %span.mr-1= Vaccine::Brands::MODERNA
              - if vaccination_center.astrazeneca
                %span.mr-1= Vaccine::Brands::ASTRAZENECA
              - if vaccination_center.janssen
                %span.mr-1= Vaccine::Brands::JANSSEN
            %td En attente de validation


  %p.mt-4
    = link_to "Demander la création d’un nouveau lieu de vaccination", new_partners_vaccination_center_path, class: "btn btn-primary btn-sm"

  %p.mt-4
    .small
      Si vous souhaitez rejoindre un centre déjà existant sur Covidliste,
      contactez-nous sur
      = link_to "partenaires@covidliste.com", "mailto:partenaires@covidliste.com"

  - if @vaccination_centers.any?
    .mt-5.mb-5
      %p
        Êtes-vous satisfait de Covidliste ?
        %button.btn.btn-sm.btn-success.mx-3{type: "button", "data-toggle" => "collapse", "data-target" => "#collapseRecommend", "aria-expanded" => "false", "aria-controls" => "collapseRecommend"}
          Recommandez le service à un confrère
      #collapseRecommend.collapse
        .mt-4
          .row
            .col-12.col-lg-6
              %p.mt-4
                Si vous êtes satisfait de Covidliste, nous avons préparé pour vous un exemple de mail simple et
                prêt à l'emploi pour recommander le service à un confrère en un clic :
              %p
                = link_to icon("fas", "envelope") + " Recommander par mail", "mailto:?cc=partenaires@covidliste.com&subject=Je%20vous%20recommande%20Covidliste%20pour%20trouver%20des%20volontaires%20%C3%A0%20la%20vaccination&body=Cher%20confr%C3%A8re%2C%0D%0A%0D%0AJe%20souhaite%20vous%20faire%20part%20de%20l'existence%20de%20Covidliste%2C%20une%20plateforme%20sur%20laquelle%20je%20suis%20inscrit%2C%20qui%20permet%20aux%20professionnels%20de%20sant%C3%A9%20de%20trouver%20des%20volontaires%20%C3%A0%20la%20vaccination%20en%20cas%20de%20doses%20de%20vaccin%20surnum%C3%A9raires.%0D%0A%0D%0AVoici%20l'adresse%20pour%20s'inscrire%20en%20tant%20que%20professionnel%20%3A%20https%3A%2F%2Fwww.covidliste.com%2Fpartenaires%2F%0D%0A%0D%0AL'%C3%A9quipe%20de%20Covidliste%20est%20en%20copie%20de%20ce%20mail%20pour%20toute%20question%20ou%20besoin%20d'accompagnement.%0D%0A%0D%0ACordialement", class: "btn btn-sm btn-outline-primary", target: "_blank", rel: "noopener"
              %p.text-center.text-muted.font-italic.my-4 ou
              %p
                Nous mettons à votre disposition ci-contre un exemple de contenu mail utilisable pour
                recommander Covidliste à un confrère

            .col-12.col-lg-6
              .card
                .card-body.small
                  %p
                    Cc :
                    %em
                      = link_to "partenaires@covidliste.com", "mailto:partenaires@covidliste.com"
                    %br/
                    Sujet :
                    %em
                      Je vous recommande Covidliste pour trouver des volontaires à la vaccination
                  Cher confrère,
                  %br/
                  %br/
                  Je souhaite vous faire part de l'existence de Covidliste, une plateforme sur laquelle je suis
                  inscrit, qui permet aux professionnels de santé de trouver des volontaires à la vaccination
                  en cas de doses de vaccin surnuméraires.
                  %br/
                  %br/
                  Voici l'adresse pour s'inscrire en tant que professionnel : https://www.covidliste.com/partenaires/
                  %br/
                  %br/
                  L'équipe de Covidliste est en copie de ce mail pour toute question ou besoin d'accompagnement.
                  %br/
                  %br/
                  Cordialement


  %hr
  = link_to "Se déconnecter", destroy_partner_session_path, method: :delete, class: "btn btn-warning"
