<div class="container mt-5">
  <h1>Espace professionnels de santé</h1>

  <p class="font-weight-bold">
    Bonjour <%= current_partner.name %>,
  </p>

  <p class="small">
    <%= icon("fas", "phone", current_partner.human_friendly_phone_number) %>
  </p>

  <p>
    Bienvenue dans l’espace <strong>réservé aux professionnels de santé assurant la vaccination</strong>.
    <br>
    Merci de nous avoir rejoint et merci pour ce que vous faites pour aider à la vaccination du plus grand nombre !
    <br />
    Un problème, une question ? Contactez-nous sur
    <%= link_to "partenaires@covidliste.com", "mailto:partenaires@covidliste.com" %>
  </p>

  <% if @vaccination_centers.any? %>
    <p class="mt-4">
      Vous avez accès aux lieux de vaccination suivants :
    </p>

    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead class="thead-light">
          <tr>
            <th> Nom </th>
            <th> Coordonnées </th>
            <th> Vaccins </th>
            <th class="text-center"> Actions </th>
          </tr>
        </thead>

        <tbody>
          <% @vaccination_centers.each do |vaccination_center| %>
            <tr>
              <td>
                <strong>
                  <%= link_to vaccination_center.name, partners_vaccination_center_path(vaccination_center.id) %>
                </strong>
                <br>
                <i><%= vaccination_center.kind %></i>
                <br>
                <%= vaccination_center.description %>
              </td>

              <td>
                <%= icon("fas", "phone", vaccination_center.phone_number) %>
                <br>
                <%= vaccination_center.address %>
              </td>

              <td>
                <% if vaccination_center.pfizer %>
                  <span class="mr-1"> <%= Vaccine::Brands::PFIZER.capitalize %> </span><br />
                <% end %>
                <% if vaccination_center.moderna %>
                  <span class="mr-1"> <%= Vaccine::Brands::MODERNA.capitalize %> </span><br />
                <% end %>
                <% if vaccination_center.astrazeneca %>
                  <span class="mr-1"> <%= Vaccine::Brands::ASTRAZENECA.capitalize %> </span><br />
                <% end %>
                <% if vaccination_center.janssen %>
                  <span class="mr-1"> <%= Vaccine::Brands::JANSSEN.capitalize %> </span><br />
                <% end %>
              </td>

              <td class="text-center">
                <%= link_to "Voir / Gérer les campagnes", partners_vaccination_center_path(vaccination_center.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="mt-4">
      Vous n’avez actuellement accès à aucun lieu de vaccination.
    </p>
  <% end %>

  <% if @unconfirmed_vaccination_centers.any? %>
    <p class="mt-4">
      Vos lieux de vaccination en attente de validation :
    <div class="alert alert-primary" role="alert" style="position: inherit">
      Nous allons vous contacter dans les prochaines heures ou les prochains jours pour valider vos lieux de vaccination en attente.
      <br />
      Vérifiez vos informations, et particulièrement votre numéro de téléphone portable :
      <strong><%= current_partner.human_friendly_phone_number %></strong>
      <br />
      Numéro incorrect ? Contactez-nous sur
      <%= link_to "partenaires@covidliste.com", "mailto:partenaires@covidliste.com" %>
    </div>
    </p>

    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead class="thead-light">
        <tr>
          <th> Nom </th>
          <th> Coordonnées </th>
          <th> Vaccins </th>
          <th> État </th>
        </tr>
        </thead>

        <tbody>
        <% @unconfirmed_vaccination_centers.each do |vaccination_center| %>
          <tr>
            <td>
              <strong>
                <%= link_to vaccination_center.name, partners_vaccination_center_path(vaccination_center.id) %>
              </strong>
              <br>
              <i><%= vaccination_center.kind %></i>
              <br>
              <%= vaccination_center.description %>
            </td>

            <td>
              <%= icon("fas", "phone", vaccination_center.phone_number) %>
              <br>
              <%= vaccination_center.address %>
            </td>

            <td>
              <% if vaccination_center.pfizer %>
                <span class="mr-1"> <%= Vaccine::Brands::PFIZER.capitalize %> </span><br />
              <% end %>
              <% if vaccination_center.moderna %>
                <span class="mr-1"> <%= Vaccine::Brands::MODERNA.capitalize %> </span><br />
              <% end %>
              <% if vaccination_center.astrazeneca %>
                <span class="mr-1"> <%= Vaccine::Brands::ASTRAZENECA.capitalize %> </span><br />
              <% end %>
              <% if vaccination_center.janssen %>
                <span class="mr-1"> <%= Vaccine::Brands::JANSSEN.capitalize %> </span><br />
              <% end %>
            </td>

            <td>
              En attente de validation
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <p>
    <%= link_to "Demander la création d’un nouveau lieu de vaccination", new_partners_vaccination_center_path, class: "btn btn-primary btn-sm" %>
  </p>

  <p class="mt-3 small">
    Si vous souhaitez rejoindre un centre déjà existant sur Covidliste, contactez-nous sur
    <%= link_to "partenaires@covidliste.com", "mailto:partenaires@covidliste.com" %>.
  </p>
</div>
