<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <p class="mt-2">
        <%= link_to "← Retour", partners_vaccination_centers_path %>
      </p>

      <p class="font-weight-bold">
        Demande de création d’un lieu de vaccination
      </p>

      <p>
        La création d’un nouveau lieu de vaccination est
        <strong>réservée aux professionnels de santé assurant la vaccination</strong> :
        membre d’un centre de vaccination, cabinet de médecine libérale, cabinet infirmier, hôpital, pharmacie...
      </p>

      <p>
        Nous prendrons contact avec vous pour valider la création du lieu.
      </p>

      <% if @vaccination_center.persisted? %>
        <div class="alert alert-success mt-2">
          <p>
            Votre demande de création du lieu de vaccination <%= @vaccination_center.name %> a bien été enregistrée.
          </p>
          <p>
            Votre demande est en attente de validation par l'équipe Covidliste.
          </p>
          <p>
            Vous pourrez suivre l’état de la demande sur votre
             <%= link_to "espace professionnel de santé assurant la vaccination", partners_vaccination_centers_path %>.
          </p>
        </div>
      <% else %>
        <% if @vaccination_center.errors.present? %>
          <div class="alert alert-danger mt-2">
            <% @vaccination_center.errors.full_messages.each do |msg| %>
              <%= msg %>
              <br>
            <% end %>
          </div>
        <% end %>

        <%= simple_form_for [:partners, @vaccination_center] do |f| %>
          <%= f.input :name, label: "Nom du lieu de vaccination", error: "Nom requis", placeholder: "Centre de vaccination Marseille", required: true %>
          <%= f.input :description, label: "Description", error: "Description requise", placeholder: "Description du lieu de vaccination (accès, détails...)", required: true %>
          <%= f.input :kind, label: "Type de lieu de vaccination", collection: VaccinationCenter::Kinds::ALL %>
          <p class="small text-primary">
            <%= icon("fas", "info-circle", class: "text-secondary") %>
            Vous ne trouvez pas le type de lieu de vaccination qui vous correspond ?<br />
            Choisissez la valeur qui s'en approche le plus et ajoutez votre type de lieu comme préfixe dans le champ "Nom" ou "Description" ci-dessus.
          </p>

          <p class="mt-2">
            Type(s) de vaccins disponibles
          </p>

          <%= f.input :pfizer, as: :boolean, label: Vaccine::Brands::PFIZER.capitalize, class: "form-check-inline" %>
          <%= f.input :moderna, as: :boolean, label: Vaccine::Brands::MODERNA.capitalize, class: "form-check-inline" %>
          <%= f.input :astrazeneca, as: :boolean, label: Vaccine::Brands::ASTRAZENECA.capitalize, class: "form-check-inline" %>
          <%= f.input :janssen, as: :boolean, label: Vaccine::Brands::JANSSEN.capitalize %>
          <%= f.input :address, label: "Adresse", error: "Adresse requise", placeholder: "5 rue Larue, 13600 Marseille", required: true %>
          <%= f.input :phone_number, label: "Numéro de téléphone fixe", error: "Numéro de téléphone requis", placeholder: "01 02 03 04 05", required: true %>
          <p class="small text-primary">
            <%= icon("fas", "info-circle", class: "text-secondary") %>
            Ce numéro sera utilisé pour la vérification de votre centre de vaccination.<br />
            Il ne sera transmis aux volontaires que si vous le souhaitez, lorsqu'ils auront confirmé leur disponibilité.
          </p>
          <%= f.button :submit, "Envoyer la demande", class: "btn btn-primary", data: { disable_with: "Validation..." } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
