<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <p class="mt-2">
        <%= link_to "← Retour", partners_vaccination_centers_path %>
      </p>

      <p class="font-weight-bold">
        Demande de création d’un lieu de vaccination
      </p>

      <p>
        La création d’un nouveau lieu de vaccination est
        <strong>réservée aux professionnels de santé assurant la vaccination</strong> :
        membre d’un centre de vaccination, cabinet de médecine libérale, cabinet infirmier, hôpital, pharmacie...
      </p>

      <% if @vaccination_center.persisted? %>
        <div class="alert alert-success mt-2">
          <p>
            Votre demande de création du lieu de vaccination <%= @vaccination_center.name %> a bien été enregistrée.
          </p>
          <p>
            Votre demande est en attente de validation par l'équipe Covidliste.
          </p>
          <p>
            Vous pourrez suivre l’état de la demande sur votre
             <%= link_to "espace professionnel de santé assurant la vaccination", partners_vaccination_centers_path %>.
          </p>
        </div>
      <% else %>

        <% @external_accounts = current_partner.partner_external_accounts.order(id: :desc) %>
        <% unless @external_accounts.any? %>
          <% if PartnerExternalAccountProvider::Providers::ALL.any? %>
            <div class="alert alert-primary" role="alert">
              Vous êtes un <strong>professionnel de santé</strong> ?<br />
              <%= link_to "Liez votre carte CPS, e-CPS ou votre compte professionnel", "#externalAccountsLink", "data-toggle": "modal", class: "mt-2 btn btn-primary btn-sm" %>
            </div>
            <%= render partial: "partners/link_external_account" %>
          <% end %>
        <% end %>

        <% if @vaccination_center.errors.present? %>
          <div class="alert alert-danger mt-2">
            <% @vaccination_center.errors.full_messages.each do |msg| %>
              <%= msg %>
              <br>
            <% end %>
          </div>
        <% end %>

        <%= simple_form_for [:partners, @vaccination_center] do |f| %>
          <%= f.input :name, label: "Nom du lieu de vaccination", error: "Nom requis", placeholder: "Centre de vaccination Marseille", required: true %>
          <%= f.input :finess, label: "Numéro FINESS de l'établissement (géographique)", placeholder: "Numéro FINESS (différent du numéro AM/Ameli/CPAM et du SIRET)", pattern: "[0-9]{9}", input_html: { inputmode: "numeric" } %>
          <div class="small mb-3 text-primary">
            <% if @external_accounts.any? %>
              <%= render(ModalComponent.new(title: "Établissements liés à votre carte ou votre compte professionnel", class_names: "modal-lg modal-dialog-scrollable", modal_id: "modalLocations")) do %>
                <div class="p-4">
                  <% @external_accounts.each do |external_account| %>
                    <div>
                      Etablissements liés au compte <%= external_account.service_name %><br />
                      <%= external_account.full_name %> (<%= external_account.identifier %>) :
                    </div>
                    <% if external_account.locations.present? %>
                      <% external_account.locations.each do |location| %>
                        <div class="m-2 p-2 alert alert-dark small">
                          <div><%= location["name"] %></div>
                          <div><%= location["commercial_name"] %></div>
                          <div><%= location["address"] %></div>
                          <div><%= location["address2"] %></div>
                          <div><%= location["address3"] %></div>
                          <div><%= location["phone"] %></div>
                          <div class="text-muted">
                            Numéro FINESS : <em><%= location["finess"] %></em>
                          </div>
                        </div>
                      <% end %>
                    <% else %>
                      <div class="small">
                        <em class="text-muted">Aucun établissement lié à cette carte ou ce compte professionnel</em><br />
                        <div class="mt-1 mb-3">
                          Si vous ne conaissez pas votre numéro FINESS, consultez
                          <%= link_to "http://finess.sante.gouv.fr", "http://finess.sante.gouv.fr/fininter/jsp/rechercheSimple.jsp", target: "_blank", rel: "noopener" %><br />
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
              <div class="mb-1">
                <%= icon("fas", "info-circle", class: "text-secondary") %>
                Besoin d'aide ?
                <%= link_to "Cliquez ici pour voir le(s) numéro(s) FINESS de votre compte #{@external_accounts.first.service_name}", "#modalLocations", "data-toggle": "modal", class: "text-info" %>
              </div>
              <div class="mb-1">
                Vous pouvez aussi retrouver votre numéro FINESS sur
                <%= link_to "http://finess.sante.gouv.fr", "http://finess.sante.gouv.fr/fininter/jsp/rechercheSimple.jsp", target: "_blank", rel: "noopener", class: "text-info" %><br />
              </div>
            <% else %>
              <div class="mb-1">
                <%= icon("fas", "info-circle", class: "text-secondary") %>
                Besoin d'aide ? Retrouvez votre numéro FINESS sur
                <%= link_to "http://finess.sante.gouv.fr", "http://finess.sante.gouv.fr/fininter/jsp/rechercheSimple.jsp", target: "_blank", rel: "noopener", class: "text-info" %><br />
              </div>
            <% end %>
            <div class="mb-1">
              Si vous n'avez pas de numéro FINESS pour votre lieu de vaccination, laissez cette case vide.
            </div>
            <div class="mb-1">
              Attention, le numéro FINESS établissement est <strong>différent du "numéro Assurance Maladie / Ameli / CPAM" et différent du SIRET</strong>.<br />
            </div>
          </div>

          <%= f.input :description, label: "Description", error: "Description requise", placeholder: "Description du lieu de vaccination (accès, détails...)" %>
          <%= f.input :kind, label: "Type de lieu de vaccination", collection: VaccinationCenter::Kinds::ALL %>
          <p class="small text-primary">
            <%= icon("fas", "info-circle", class: "text-secondary") %>
            Vous ne trouvez pas le type de lieu de vaccination qui vous correspond ?<br />
            Choisissez la valeur qui s'en approche le plus et ajoutez votre type de lieu comme préfixe dans le champ "Nom" ou "Description" ci-dessus.
          </p>

          <%= f.input :address, label: "Adresse", error: "Adresse requise", placeholder: "5 rue Larue, 13600 Marseille", required: true %>
          <%= f.input :phone_number, label: "Numéro de téléphone public", error: "Numéro de téléphone requis", placeholder: "01 02 03 04 05", required: true %>
          <p class="small text-primary">
            <%= icon("fas", "info-circle", class: "text-secondary") %>
            Ce numéro sera utilisé pour la <strong>vérification de votre centre de vaccination</strong> et il sera <strong>communiqué aux volontaires ayant confirmé leur RDV</strong>.
          </p>
          <%= f.input :visible_optin, as: :boolean, label: "En cochant cette case, vous acceptez que les coordonnées du centre (nom, adresse) soient visibles sur le site Covidliste." %>
          <%= f.input :media_optin, as: :boolean, label: "En cochant cette case, vous acceptez que Covidliste diffuse sur les réseaux sociaux et autres médias, des informations concernant l'inscription de ce centre." %>
          <%= f.button :submit, "Envoyer la demande", class: "btn btn-primary", data: { disable_with: "Validation..." } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
