.row
  .col-12
    %p.mb-2
      = link_to "← Retour", partners_vaccination_centers_path
.row.mtop2
  .col-sm-12.col-md-6.col-lg-6
    %p
      %strong Demande de création d"un centre de vaccination
    - if @vaccination_center.persisted?
      .row.mtop2
        .alert.alert-success{:role => "alert", style: "position: inherit"}
          Votre demande de création du centre de vaccination #{@vaccination_center.name} a bien été enregistrée.
          %br
          Votre demande est en attente de validation par l"équipe Covidliste.
          %br
          Vous pourrez suivre l’état de la demande sur votre
          = link_to "profil partenaire", partners_vaccination_centers_path
    - else
      = simple_form_for [:partners, @vaccination_center] do |f|
        = f.input :name, label: "Nom du centre", error: "Nom requis", placeholder: "Centre de vaccination Marseille"
        = f.input :description, label: "Description", error: "Description requise", placeholder: "Description du lieu de vaccination"
        = f.input :kind, label: "Type de centre de vaccination", collection: VaccinationCenter::Kinds::ALL
        %p.mtop2
          Type(s) de vaccins disponibles
        = f.input :pfizer, as: :boolean, label: "Pfizer", checked_value: true, unchecked_value: false, class: "form-check-inline"
        = f.input :moderna, as: :boolean, label: "Moderna", checked_value: true, unchecked_value: false, class: "form-check-inline"
        = f.input :astrazeneca, as: :boolean, label: "Astrazeneca", checked_value: true, unchecked_value: false, class: "form-check-inline"
        = f.input :janssen, as: :boolean, label: "Janssen", checked_value: true, unchecked_value: false
        = f.input :address, label: "Adresse", error: "Adresse requise", placeholder: "5 rue larue, 13600 Marseille"
        = f.input :lat, as: :hidden
        = f.input :lon, as: :hidden
        = f.input :phone_number, label: "Numéro de téléphone", error: "Numéro de téléphone requis", placeholder: "06 06 06 06 06"
        = f.button :submit, "Envoyer la demande", class: "btn btn-primary", data: { disable_with: "Validation..." }
