<div class="container">
  <p class="mb-2">
    <%= link_to "← Retour", partners_vaccination_centers_path %>
  </p>

  <div class="d-flex">
    <div class="flex-fill">
      <h3>
        <%= @vaccination_center.name %>
        <span class="text-muted font-italic small">
          <%= @vaccination_center.kind %>
        </span>
      </h3>

      <p class="mb-2">
        <% if @vaccination_center.finess.present? %>
          FINESS : <em class="text-muted"><%= @vaccination_center.finess %></em>
          <br />
        <% end %>
        <%= @vaccination_center.address %><br />
        Description : <%= @vaccination_center.description %><br />
        <small>
          <%= icon("fas", "phone", @vaccination_center.human_friendly_phone_number) %>
          <small class="text-muted">(numéro transmis aux volontaires)</small>
        </small>
      </p>

      <p class="mb-2">
        <div class="d-flex align-items-center my-1">
          <%= humanize_boolean @vaccination_center.visible_optin_at.present? %><span class='ml-2'>Affichage sur la carte publique</span>
          <%= form_for [:partners, @vaccination_center], html: { class: 'ml-2' } do |f| %>
            <%= f.hidden_field :visible_optin, value: !@vaccination_center.visible_optin_at.present? %>
            <%= f.submit @vaccination_center.visible_optin_at.present? ? "Masquer de la carte" : "Afficher sur la carte", class: 'btn btn-outline-primary px-2 py-1', style: 'font-size: 10px;', data: { confirm: "Êtes-vous sûr(e) ?" }  %>
          <% end %>
        </div>
        <div class="d-flex align-items-center my-1">
          <%= humanize_boolean @vaccination_center.media_optin_at.present? %><span class='ml-2'>Communication presse et réseaux sociaux</span>
          <%= form_for [:partners, @vaccination_center], html: { class: 'ml-2' } do |f| %>
            <%= f.hidden_field :media_optin, value: !@vaccination_center.media_optin_at.present? %>
            <%= f.submit @vaccination_center.media_optin_at.present? ? "Refuser la communication" : "Autoriser la communication", class: 'btn btn-outline-primary px-2 py-1', style: 'font-size: 10px;', data: { confirm: "Êtes-vous sûr(e) ?" } %>
          <% end %>
        </div>
      </p>

      <%- if @vaccination_center.lat && @vaccination_center.lon%>
        <div class="my-3 leaflet_map_container">
          <div
            class="leaflet_map"
            style="height: 250px;"
            data-icon="<%= asset_path("map/markers/firstaid.png") %>"
            data-lat="<%= @vaccination_center.lat %>"
            data-lon="<%= @vaccination_center.lon %>"
          ></div>
        </div>
      <% else %>
        <div class="alert alert-danger mb-4 small" role="alert" style="position: inherit">
          Votre lieu de vaccination n'est pas correctement localisé. Veuillez nous contacter.
        </div>
      <% end %>
    </div>
  </div>

  <p>
    <%= link_to "Créer une nouvelle campagne", new_partners_vaccination_center_campaign_path(@vaccination_center), class: "btn btn-primary" %>
  </p>

  <div>
    <h5 class="mt-4">
      Collaborateurs
    </h5>

    <% if @vaccination_center.partners.present? %>
      <div class="table-responsive">
        <table class="table table-hover table-bordered table-sm small" aria-describedby="Collaborateurs">
          <thead class="thead-light">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
          </tr>
          </thead>

          <tbody>
          <% @vaccination_center.partners.order(id: :desc).each do |partner| %>
            <tr>
              <td> <%= partner.name %> </td>
              <td> <%= partner.email %> </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="small text-muted">
        <%= icon("fas", "info-circle") %>
        Aucun professionnel de santé lié
      </p>
    <% end %>
  </div>

  <% if @vaccination_center.campaigns.present? %>
    <h5 class="mt-2">
      Campagnes
    </h5>

    <div class="table-responsive">
      <table class="table table-bordered table-sm text-center">
        <thead class="thead-light">
          <tr>
            <th scope="col"> # </th>
            <th scope="col"> Statut </th>
            <th scope="col"> Lancée le </th>
            <th scope="col"> Volontaires confirmés </th>
            <th scope="col"> Doses </th>
            <th scope="col"> Rendez-vous </th>
            <th scope="col"> Critères </th>
            <th scope="col"> Actions </th>
          </tr>
        </thead>

        <tbody>
          <% @vaccination_center.campaigns.includes([:partner]).order(id: :desc).each do |campaign| %>
            <tr>
              <td class="font-weight-bold"> <%= link_to campaign.id, partners_campaign_path(campaign) %> </td>
              <td>
                <%= link_to (content_tag :span, french_status(campaign), class: "badge badge-sm #{status_badge(campaign)}"), partners_campaign_path(campaign) %>
              </td>
              <td class=" small">
                <%= l campaign.created_at %><br />
                <span class="text-muted">par <%= campaign.partner.name %></span>
              </td>
              <td> <%= campaign.matches.confirmed.size %> </td>
              <td>
                <%= campaign.available_doses %>
                <small class="text-muted"><%= campaign.available_doses > 1 ? "doses" : "dose" %></small><br />
                <%= campaign.vaccine_type.capitalize %>
              </td>
              <td>
                <%= l(campaign.starts_at, format: '%e %B %Y') %><br />
                <small class="text-muted">entre</small>
                <%= l(campaign.starts_at, format: '%Hh%M') %>
                <small class="text-muted">et</small>
                <%= l(campaign.ends_at, format: '%Hh%M') %>
              </td>
              <td>
                <%= campaign.min_age %>-<%= campaign.max_age %> <small class="text-muted">ans</small><br />
                <%= campaign.max_distance_in_meters/1000 %> <small class="text-muted">km</small>
              </td>

              <td>
                <%= link_to "Voir la campagne", partners_campaign_path(campaign), class: "btn btn-primary btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
