.container
  %p.mb-2
    = link_to "← Retour", partners_vaccination_centers_path
  .d-flex
    .flex-fill
      %h3
        #{@vaccination_center.name}
        %span.small.text-muted.font-italic #{@vaccination_center.kind}
      %p.mb-2 #{@vaccination_center.address}
      %p.small.mb-2
        = icon("fas", "phone")
        = @vaccination_center.phone_number
        \-
        Vaccins :
        - if @vaccination_center.pfizer
          %span.mr-1= Vaccine::Brands::PFIZER
        - if @vaccination_center.moderna
          %span.mr-1= Vaccine::Brands::MODERNA
        - if @vaccination_center.astrazeneca
          %span.mr-1= Vaccine::Brands::ASTRAZENECA
        - if @vaccination_center.janssen
          %span.mr-1= Vaccine::Brands::JANSSEN
      %p.small.mb-2
        = @vaccination_center.description

  %p
    = link_to "Créer une nouvelle campagne", new_partners_vaccination_center_campaign_path(@vaccination_center), class: "btn btn-primary btn-sm"

  - if @vaccination_center.campaigns.order(id: :desc).present?
    %h5.mt-2 Campagnes
    %table.table.table-striped.table-bordered.table-sm
      %tr
        %th #
        %th Statut
        %th Volontaires confirmés
        %th Doses disponibles
        %th Vaccin
        %th Date et heure
        %th Age
        %th Distance
      - @vaccination_center.campaigns.each do |campaign|
        %tr
          %th
            = link_to campaign.id, partners_campaign_path(campaign)
          %td= french_status(campaign)
          %td= campaign.matches.confirmed.size
          %td= campaign.available_doses
          %td= campaign.vaccine_type.capitalize
          %td= l campaign.starts_at
          %td #{campaign.min_age}-#{campaign.max_age} ans
          %td #{campaign.max_distance_in_meters/1000} km
