<%= provide(:meta_title, "Rejoignez la liste d’attente Covidliste") %>
<%= provide(:meta_description, "Volontaires à la vaccination, inscrivez-vous sur Covidliste.") %>
<%= provide(:meta_image, image_url("meta/main.png")) %>

<%= content_for(:append_to_head) do %>
  <meta content="index;follow" name="robots"/>
<% end %>

<div id="devise">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-1 mb-5">
        <div class="d-flex align-items-center">
          <div class="rounded p-3 bg-light text-primary mr-3 h2">
            <%= icon("fas", "user-plus") %>
          </div>
          <h3>
            Vous êtes un particulier volontaire à la vaccination
          </h3>
        </div>

        <p class="mt-4 h4">
          Espace volontaires à la vaccination
        </p>

        <p class="mb-4">
          Si vous êtes un professionnel de santé assurant la vaccination, rendez-vous sur
          <%= link_to "sur cette page", new_partner_session_path %>.
        </p>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.input :email,
            autocomplete: 'off',
            autofocus: true,
            required: true,
            id: 'inputEmail',
            placeholder: 'E-mail' %>

          <%= f.submit "Recevoir un lien de connexion", class: "btn btn-primary", id: :sign_in %>

          <% if devise_mapping.confirmable? && controller_name != "confirmations" %>
            <p class="mt-3">
              <%= link_to "Redemander l’email de confirmation", new_confirmation_path(resource_name) %>
            </p>
          <% end %>

          <% if controller_name == "sessions" %>
            <p class="mt-3">
              <%= link_to "S’inscrire en tant que volontaire", users_path %>
            </p>
          <% end %>
        <% end %>
      </div>
      <div class="col-12 col-lg-3 offset-lg-1 d-flex align-items-center justify-content-center border rounded">
        <div class="text-center px-2">
          <div class="d-inline-block mt-4 rounded p-3 bg-light text-primary">
            <%= icon("fas", "hospital-user", class: "fa-2x") %>
          </div>
          <p class="mt-2">
            Vous êtes un professionnel de santé assurant la vaccination ?
          </p>
          <p class="mt-4">
            Rendez-vous sur
            <%= link_to "l'espace professionnels de santé", new_partner_session_path %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
