<div class="container">
  <p class="mb-2">
    <%= link_to '← Retour', [:admin, @vaccination_center] %>
  </p>

  <h3> Modification du centre de vaccination « <%= @vaccination_center.name %> »</h3>

  <%= simple_form_for [:admin, @vaccination_center] do |f| %>
    <%= f.input :name, label: 'Nom du centre', error: 'Nom requis', placeholder: 'Centre de vaccination Marseille' %>
    <%= f.input :description, label: 'Description', error: 'Description requise', placeholder: 'Description du lieu de vaccination' %>
    <%= f.input :kind, label: 'Type de centre de vaccination', collection: VaccinationCenter::Kinds::ALL %>
    <p class="mt-3">
      Type(s) de vaccins disponibles
    </p>
    <% Vaccine::Brands::ALL.each do |vaccine| %>
      <%= f.input :"#{vaccine}", as: :boolean, label: vaccine.capitalize, class: 'form-check-inline' %>
    <% end %>
    <%= f.input :address, label: 'Adresse', error: 'Adresse requise', placeholder: '5 rue larue, 13600 Marseille' %>
    <%= f.input :lat, hint: 'Si vide, le geocoding se fera automatiquement'%>
    <%= f.input :lon, hint: 'Si vide, le geocoding se fera automatiquement'%>
    <%= f.input :phone_number, label: 'Numéro de téléphone', error: 'Numéro de téléphone requis', placeholder: '06 06 06 06 06' %>
    <%= f.input :department, as: :hidden %>
    <%= f.input :visible_optin, as: :boolean, label: "En cochant cette case, vous acceptez que les coordonnées du centre (nom, adresse) soient visibles sur le site Covidliste." %>
    <%= f.input :media_optin, as: :boolean, label: "En cochant cette case, vous acceptez que Covidliste diffuse sur les réseaux sociaux et autres médias, des informations concernant l'inscription de ce centre." %>
    <%= f.button :submit, "Modifier le centre", class: 'btn btn-primary', data: { disable_with: 'Validation...' } %>
  <% end %>

  <div class="float-right">
    <%= link_to icon("fas", "trash", "supprimer ce centre"),
                [:admin, @vaccination_center],
                method: :delete,
                class: "text-danger",
                data: { confirm: "Êtes-vous sûr(e) ?" } %>
  </div>
</div>
