.row.mtop2
  .col-12
    %h2
      Centres de vaccination
      = link_to 'Ajouter un centre', new_admin_vaccination_center_path, class: "btn btn-primary btn-sm float-right"
      = link_to 'Télécharger en CSV', admin_vaccination_centers_path(@vaccination_centers, format: :csv), class: "btn btn-primary btn-sm mr-2 float-right"
    .mtop2
      %table.table.table-striped.table-bordered.table-sm.small
        %tr
          %th.text-right #
          %th Nom
          %th Type
          %th Adresse
          %th Téléphone
          %th Types de vaccins
          %th Validé
          %th
        - @vaccination_centers.each do |vaccination_center|
          %tr
            %th.text-right #{vaccination_center.id}
            %td
              %strong
                = link_to vaccination_center.name, admin_vaccination_center_path(vaccination_center.id)
              %br
              #{vaccination_center.description}
            %td #{vaccination_center.kind}
            %td #{vaccination_center.address}
            %td #{vaccination_center.phone_number}
            %td
              -if vaccination_center.pfizer
                %span.mr-1 Pfizer
              -if vaccination_center.moderna
                %span.mr-1 Moderna
              -if vaccination_center.astrazeneca
                %span.mr-1 Astrazeneca
              -if vaccination_center.janssen
                %span.mr-1 Janssen
            %td
              - if vaccination_center.confirmed?
                = icon("fas", "check", class: "text-success")
                %span{title: "Validé par #{vaccination_center.confirmer.full_name} le #{l vaccination_center.confirmed_at}", data: { toggle: :tooltip }} oui
              - else
                = icon("fas", "times", class: "text-danger")
                Non
            %td.text-center
              = link_to icon("fas", "edit"), edit_admin_vaccination_center_path(vaccination_center), title: "Éditer (ou supprimer) ce centre", data: { toggle: :tooltip }
