<div class="container-fluid mt-4">
  <h2>
    Centres de vaccination
    <%= link_to 'Ajouter un centre', new_admin_vaccination_center_path, class: "btn btn-primary btn-sm float-right" %>
    <%= link_to 'Télécharger en CSV', admin_vaccination_centers_path(@vaccination_centers, format: :csv), class: "btn btn-primary btn-sm mr-2 float-right" %>
  </h2>

  <div class="d-inline-flex my-2">

    <%= simple_form_for :centers_search,
                        url: admin_vaccination_centers_path,
                        html: { class: "form-inline inline-block mr-4" },
                        defaults: { label: false, required: false, input_html: { class: "form-control-sm selectpicker mr-2", multiple: true } },
                        method: :get do |f| %>
      <%= f.input :query, as: :string, label: false, placeholder: "Rechercher", required: false, input_html: { value: params.dig(:centers_search, :query), style: "width: 400px;" } %>

      <%= f.input :kinds, collection: VaccinationCenter::Kinds::ALL,
                  input_html: { name: "kinds[]", "data-none-selected-text": "Type de centre" },
                  selected: params["kinds"] %>

      <%= f.input :vaccines, collection: Vaccine::Brands::ALL,
                  input_html: { name: "vaccines[]", "data-none-selected-text": "Vaccins" },
                  selected: params["vaccines"] %>

      <%= f.input :validations, collection: ["oui", "non"],
                  input_html: { name: "validations[]", "data-none-selected-text": "Validé ?" },
                  selected: params["validations"] %>

      <%= f.button :submit, "Appliquer", class: "btn-sm", name: nil %>
    <% end %>

  </div>


  <span class="mt-3"><%= number_with_delimiter(@pagy_vaccination_centers.count, delimiter: ".") %> résultats</span>


  <% if @vaccination_centers.present? %>
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-sm">
        <thead class="thead-light">
          <tr>
            <th class="text-right"><%= sortable("id", "#") %></th>
            <th><%= sortable("name", "Nom") %></th>
            <th><%= sortable("kind", "Type") %></th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th>Types de vaccins</th>
            <th><%= sortable("confirmed_at", "Validé") %></th>
            <th>Activé</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @vaccination_centers.each do |vaccination_center| %>
            <tr>
              <th><%= vaccination_center.id %></th>
              <td>
                <strong><%= link_to vaccination_center.name, admin_vaccination_center_path(vaccination_center.id) %></strong>
                <br>
                <%= vaccination_center.description %>
              </td>
              <td><%= vaccination_center.kind %></td>
              <td><%= vaccination_center.address %></td>
              <td><%= vaccination_center.phone_number %></td>
              <td>
                <% if vaccination_center.pfizer %>
                  <span class="mr-1"><%= Vaccine::Brands::PFIZER.capitalize %></span>
                <% end %>
                <% if vaccination_center.moderna %>
                  <span class="mr-1"><%= Vaccine::Brands::MODERNA.capitalize %></span>
                <% end %>
                <% if vaccination_center.astrazeneca %>
                  <span class="mr-1"><%= Vaccine::Brands::ASTRAZENECA.capitalize %></span>
                <% end %>
                <% if vaccination_center.janssen %>
                  <span class="mr-1"><%= Vaccine::Brands::JANSSEN.capitalize%></span>
                <% end %>
              </td>
              <td>
                <% if vaccination_center.confirmed? %>
                  <%= icon("fas", "check", class: "text-success") %>
                  <span title="Validé par #{vaccination_center.confirmer&.full_name} le #{vaccination_center.confirmed_at}", data-toggle="tooltip"> Oui </span>
                <% else %>
                  <%= icon("fas", "times", class: "text-danger") %>
                  Non
                <% end %>
              </td>
              <td>
                <% if vaccination_center.disabled? %>
                  <%= icon("fas", "times", class: "text-danger") %>
                  Non
                <% else %>
                  <%= icon("fas", "check", class: "text-success") %>
                  Oui
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to icon("fas", "eye"), admin_vaccination_center_path(vaccination_center), title: "Voir les détails du centre", data: { toggle: :tooltip } %>
              </td>
            </tr>

          <% end %>
        </tbody>
      </table>
    </div>
    <% if @pagy_vaccination_centers.pages > 1 %>
      <%= raw pagy_bootstrap_nav(@pagy_vaccination_centers) %>
    <% end %>
  <% end %>
</div>
