<div class="container">
  <p class="mb-2">
    <%= link_to '← Retour', admin_vaccination_centers_path %>
  </p>

  <h2>Espace admin : Centres de vaccination</h2>
  <h3>Création d’un centre de vaccination</h3>

  <% if @vaccination_center.persisted? %>
    <div class="row mtop2">
      <div class="alert alert-success" role="alert" style="position: inherit">
        Le centre de vaccination <%= @vaccination_center.name %> a été crée avec succès
      </div>
    </div>

  <% else %>
     <%= simple_form_for [:admin, @vaccination_center] do |f| %>
       <%= f.input :name, label: 'Nom du centre', error: 'Nom requis', placeholder: 'Centre de vaccination Marseille' %>
       <%= f.input :description, label: 'Description', error: 'Description requise', placeholder: 'Description du lieu de vaccination' %>
       <%= f.input :kind, label: 'Type de centre de vaccination', collection: VaccinationCenter::Kinds::ALL %>
      <p class="mtop2">
        Type(s) de vaccins disponibles
      </p>
       <%= f.input :pfizer, as: :boolean, label: Vaccine::Brands::PFIZER, checked_value: true, unchecked_value: false, class: 'form-check-inline' %>
       <%= f.input :moderna, as: :boolean, label: Vaccine::Brands::MODERNA, checked_value: true, unchecked_value: false, class: 'form-check-inline' %>
       <%= f.input :astrazeneca, as: :boolean, label: Vaccine::Brands::ASTRAZENECA, checked_value: true, unchecked_value: false, class: 'form-check-inline' %>
       <%= f.input :janssen, as: :boolean, label: Vaccine::Brands::JANSSEN, checked_value: true, unchecked_value: false %>
       <%= f.input :address, label: 'Adresse', error: 'Adresse requise', placeholder: '5 rue larue, 13600 Marseille' %>
       <%= f.input :lat, :as => :hidden %>
       <%= f.input :lon, :as => :hidden %>
       <%= f.input :phone_number, label: 'Numéro de téléphone', error: 'Numéro de téléphone requis', placeholder: '06 06 06 06 06' %>
       <%= f.button :submit, "Créer le centre", class: 'btn btn-primary', data: { disable_with: 'Validation...' } %>
     <% end %>
  <% end %>
</div>
