<div class="container">
  <p class="mb-2">
    <%= link_to "← Retour à la liste des centres", admin_vaccination_centers_path %>
  </p>

  <h3>
    <%= @vaccination_center.name %>
    <span class="badge badge-success text-uppercase text-white">
      <%= @vaccination_center.kind %>
    </span>
  </h3>

  <p class="small mb-2">
    <% if @vaccination_center.confirmed? %>
      <%= icon("fas", "check", class: "text-success") %>
      Validé par
      <strong><%= @vaccination_center.confirmer %></strong>
      le <%= l @vaccination_center.confirmed_at %>

      <br>
      <% if @vaccination_center.confirmation_mail_sent_at.present? %>
        <%= icon("fas", "check", class: "text-success") %>
        Email de confirmation envoyé le <%= l @vaccination_center.confirmation_mail_sent_at %>
      <% else %>
        <%= icon("fas", "times", class: "text-danger") %>
        Email de confirmation non envoyé
      <% end %>

    <% else %>
      <%= icon("fas", "times", class: "text-danger") %>
      Non validé
      <%= link_to "Valider ce centre",
        validate_admin_vaccination_center_path(@vaccination_center),
        method: :patch,
        class: "btn btn-sm btn-primary",
        "data-confirm": "Êtes-vous sûr(e)?" %>
    <% end %>
  </p>

  <p class="small mb-2">
    <% if @vaccination_center.disabled? %>
      <%= icon("fas", "times", class: "text-danger") %>
      Désactivé
      <%= link_to "Activer ce centre",
        enable_admin_vaccination_center_path(@vaccination_center),
        method: :patch,
        class: "btn btn-sm btn-primary",
        "data-confirm": "Êtes-vous sûr(e)?" %>
    <% else %>
      <%= icon("fas", "check", class: "text-success") %>
      Activé
      <%= link_to "Désactiver ce centre",
        disable_admin_vaccination_center_path(@vaccination_center),
        method: :patch,
        class: "btn btn-sm btn-primary",
        "data-confirm": "Êtes-vous sûr(e)?" %>
    <% end %>
  </p>

  <p class="mb-2">
    <%= @vaccination_center.address %>
    <br>
    <%= @vaccination_center.description %>
  </p>

  <p class="mb-2">
    <%= icon("fas", "phone", @vaccination_center.human_friendly_phone_number) %>
  </p>


  <%- if @vaccination_center.lat && @vaccination_center.lon %>
    <div class="my-3 leaflet_map_container">
      <div
        class="leaflet_map"
        style="height: 250px;"
        data-icon="<%= asset_path("map/markers/firstaid.png") %>"
        data-lat="<%= @vaccination_center.lat %>"
        data-lon="<%= @vaccination_center.lon %>"
      ></div>
    </div>
  <% else %>
    <div class="alert alert-danger mb-4 small" role="alert" style="position: inherit">
      Ce centre n'est pas correctement géocodé. Merci de mettre à jour l'adresse pour relancer le géocoding
      ou bien veuillez ajouter manuellement une latitude et une longitude
    </div>
  <% end %>

  <%- if !@vaccination_center.city || !@vaccination_center.zipcode || !@vaccination_center.geo_context %>
    <div class="alert alert-danger mb-4 small" role="alert" style="position: inherit">
      La ville de ce centre n'est pas correctement géocodée. Merci de mettre à jour l'adresse pour relancer le
      géocoding.
      <br>
      En général, enlever le nom de la région et le pays, en ignorant la suggestion d'Algolia, marche bien : <br>
      <em>6 rue des chevaux, 59800 Lille Nord France</em> ➡️ <em>6 rue des chevaux, 59800 Lille</em>
    </div>
  <% end %>

  <p>
    Vaccins :
  </p>
  <ul>
    <% if @vaccination_center.pfizer %>
      <li> <%= Vaccine::Brands::PFIZER.capitalize %> </li>
    <% end %>
    <% if @vaccination_center.moderna %>
      <li> <%= Vaccine::Brands::MODERNA.capitalize %> </li>
    <% end %>
    <% if @vaccination_center.astrazeneca %>
      <li> <%= Vaccine::Brands::ASTRAZENECA.capitalize %> </li>
    <% end %>
    <% if @vaccination_center.janssen %>
      <li> <%= Vaccine::Brands::JANSSEN.capitalize %> </li>
    <% end %>
  </ul>

  <h5 class="mt-4">
    Ajouter un professionnel de santé
  </h5>

  <%= simple_form_for :new_partner_email,
    url: add_partner_admin_vaccination_center_path(@vaccination_center),
    method: :post,
    wrapper: :inline_form,
    html: {class: "form-inline"} do |f| %>

    <%= f.input :email, type: :email, label: false, placeholder: "jean.dupont@email.com", required: true %>
    <%= f.submit "Ajouter ce professionnel de santé", class: "ml-3 btn btn-primary" %>
  <% end %>

  <h5 class="mt-4">
    Campagnes réalisées
  </h5>

  <% if @vaccination_center.campaigns.present? %>
    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead class="thead-light">
        <tr>
          <th scope="col"> #</th>
          <th scope="col"> Date et heure du RDV</th>
          <th scope="col"> Statut</th>
          <th scope="col"> Âge</th>
          <th scope="col" title="Distance" data-toggle="tooltip"> Dist.</th>
          <th scope="col"> Doses</th>
          <th scope="col"> Matchs</th>
          <th scope="col"> Création</th>
        </tr>
        </thead>

        <tbody>
        <% @vaccination_center.campaigns.order(id: :desc).each do |campaign| %>
          <tr>
            <td class="text-right"> <%= campaign.id %> </td>
            <td>
              <%= l(campaign.starts_at, format: '%e %B %Y') %>
              entre <%= l(campaign.starts_at, format: '%Hh%M') %>
              et <%= l(campaign.ends_at, format: '%Hh%M') %>
            </td>
            <td> <%= french_status(campaign) %> </td>
            <td> <%= campaign.min_age %> - <%= campaign.max_age %> </td>
            <td> <%= campaign.max_distance_in_meters / 1000 %> km</td>
            <td>
              <%= campaign.vaccine_type.capitalize %>
              <span class="text-muted">x</span>
              <%= campaign.available_doses %>
            </td>
            <td title="<%= campaign.matches.confirmed.size %> confirmés / <%= campaign.matches.count %> matchés" data-toggle="tooltip">
              <%= campaign.matches.confirmed.size %> / <%= campaign.matches.count %>
            </td>
            <td title="<%= l campaign.created_at %> par <%= campaign.partner.name %>" data-toggle="tooltip">
              <%= l campaign.created_at %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <h5 class="mt-4">
    Professionnels de santé liés
  </h5>

  <% if @vaccination_center.partners.present? %>
    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead class="thead-light">
        <tr>
          <th class="text-right"> #</th>
          <th scope="col">Nom</th>
          <th scope="col">Email</th>
          <th scope="col">Téléphone</th>
          <th scope="col" class="text-center">Comptes liés</th>
          <th scope="col" class="text-center">Confirmé ?</th>
        </tr>
        </thead>

        <tbody>
        <% @vaccination_center.partners.order(id: :desc).each do |partner| %>
          <tr>
            <td class="text-right"> <%= partner.id %> </td>
            <td> <%= partner.name %> </td>
            <td> <%= partner.email %> </td>
            <td> <%= partner.human_friendly_phone_number %> </td>
            <td>
              <%= render(ModalComponent.new(title: "Comptes liés", class_names: "modal-lg modal-dialog-scrollable", modal_id: "modalProAccounts#{partner.id}")) do %>
                <div class="p-3">
                  <p>
                    <strong>Nom</strong>: <%= partner.name %><br />
                    <strong>Email</strong>: <%= partner.email %><br />
                  </p>
                  <table class="table table-bordered table-sm small text-center" aria-describedby="Vos comptes liés">
                    <thead class="thead-light">
                    <tr>
                      <th scope="col">Type de compte</th>
                      <th scope="col">Informations d'identité</th>
                      <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% partner.partner_external_accounts.order(id: :desc).each do |external_account| %>
                      <tr>
                        <td>
                          <%= image_tag("openid/#{external_account.provider_id}.png", alt: "#{external_account.service_name}", height: 40) %>
                        </td>
                        <td>
                          <%= external_account.full_name %><br />
                          <em><%= external_account.identifier %></em>
                        </td>
                        <td>
                          <%= link_to icon("fas", "times", "Délier", class: "text-danger"), partners_partner_external_account_path(external_account.id), method: :delete, data: {confirm: "Êtes-vous sûr de vouloir délier ce compte #{external_account.service_name} ?"} %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
              <%= link_to "#modalProAccounts#{partner.id}", "data-toggle": "modal" do %>
                <%= humanize_boolean(partner.partner_external_accounts.any?) %>
                <%= partner.partner_external_accounts.size %>
              <% end %>
            </td>
            <td class="text-center" title="<%= partner.confirmed_at.present? ? "Confirmé le #{l(partner.confirmed_at)}" : "" %>">
              <%= humanize_boolean partner.confirmed_at.present? %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>
      <%= icon("fas", "info-circle") %>
      Aucun professionnel de santé lié
    </p>
  <% end %>

  <%= link_to icon("fas", "edit", "Editer (ou supprimer) ce centre"), edit_admin_vaccination_center_path(@vaccination_center) %>
</div>
