<div class="container">
  <p class="mb-2">
    <%= link_to "← Retour à la liste des centres", admin_vaccination_centers_path %>
  </p>

  <h3>
    <%= @vaccination_center.name %>
    <span class="badge badge-success text-uppercase text-white">
      <%= @vaccination_center.kind %>
    </span>
  </h3>

  <p class="small">
    <%= link_to icon("fas", "edit", "Editer (ou supprimer) ce centre"), edit_admin_vaccination_center_path(@vaccination_center) %>
  </p>

  <p class="small mb-2">
    <% if @vaccination_center.confirmed? %>
      <%= icon("fas", "check", class: "text-success") %>
      Validé par
      <strong><%= @vaccination_center.confirmer %></strong>
      le <%= l @vaccination_center.confirmed_at %>

      <br>
      <% if @vaccination_center.confirmation_mail_sent_at.present? %>
        <%= icon("fas", "check", class: "text-success") %>
        Email de confirmation envoyé le <%= l @vaccination_center.confirmation_mail_sent_at %>
      <% else %>
        <%= icon("fas", "times", class: "text-danger") %>
        Email de confirmation non envoyé
      <% end %>

    <% else %>
      <%= icon("fas", "times", class: "text-danger") %>
      Non validé
      <%= link_to "Valider ce centre",
        validate_admin_vaccination_center_path(@vaccination_center),
        method: :patch,
        class: "btn btn-sm btn-primary",
        "data-confirm": "Êtes-vous sûr(e)?" %>
    <% end %>
  </p>

  <p class="small mb-2">
    <% if @vaccination_center.disabled? %>
      <%= icon("fas", "times", class: "text-danger") %>
      Désactivé
      <%= link_to "Activer ce centre",
        enable_admin_vaccination_center_path(@vaccination_center),
        method: :patch,
        class: "btn btn-sm btn-primary",
        "data-confirm": "Êtes-vous sûr(e)?" %>
    <% else %>
      <%= icon("fas", "check", class: "text-success") %>
      Activé
      <%= link_to "Désactiver ce centre",
        disable_admin_vaccination_center_path(@vaccination_center),
        method: :patch,
        class: "btn btn-sm btn-primary",
        "data-confirm": "Êtes-vous sûr(e)?" %>
    <% end %>
  </p>

  <div class="row mt-4">
    <div class="col">
      <div class="mb-2">
        N°FINESS :
        <% if @vaccination_center.finess.present? %>
          <a href="http://finess.sante.gouv.fr/fininter/jsp/actionRechercheSimple.do?nofiness=<%= @vaccination_center.finess %>" target="_blank" rel="noopener">
            <%= @vaccination_center.finess %> <%= icon("fas", "external-link-alt") %>
          </a>
        <% else %>
          <em class="text-muted">Aucun</em>
        <% end %>
      </div>

      <p class="mb-2">
        <%= @vaccination_center.address %><br />
        Description : <%= @vaccination_center.description %><br />
        <%= icon("fas", "phone", @vaccination_center.human_friendly_phone_number) %>
      </p>

      <p class="mb-2">
        <%= humanize_boolean @vaccination_center.visible_optin_at.present? %> Affichage sur la carte publique<br />
        <%= humanize_boolean @vaccination_center.media_optin_at.present? %> Communication presse et réseaux sociaux
      </p>
    </div>
    <div class="col">
      <% if (finess_info = @vaccination_center.find_finess_info) %>
        <% partner = finess_info[:partner] %>
        <% partner_external_account = finess_info[:partner_external_account] %>
        <% location = finess_info[:location] %>
        <div class="alert alert-dark small" title="Source des données :
Professionnel de santé :
<%= partner.name %> (#<%= partner.id %>)
Compte <%= partner_external_account.service_name %> :
<%= partner_external_account.full_name %> - <%= partner_external_account.identifier %>">
          <div class="text-muted">
            Données FINESS <em><%= location["finess"] %></em> (<em><%= partner_external_account.service_name %></em>)
          </div>
          <div><%= location["name"] %></div>
          <div><%= location["commercial_name"] %></div>
          <div><%= location["address"] %></div>
          <div><%= location["address2"] %></div>
          <div><%= location["address3"] %></div>
          <div><%= location["phone"] %></div>
        </div>
      <% end %>
    </div>
  </div>

  <%- if @vaccination_center.lat && @vaccination_center.lon %>
    <div class="my-3 leaflet_map_container">
      <div
        class="leaflet_map"
        style="height: 250px;"
        data-icon="<%= asset_path("map/markers/firstaid.png") %>"
        data-lat="<%= @vaccination_center.lat %>"
        data-lon="<%= @vaccination_center.lon %>"
      ></div>
    </div>
  <% else %>
    <div class="alert alert-danger mb-4 small" role="alert" style="position: inherit">
      Ce centre n'est pas correctement géocodé. Merci de mettre à jour l'adresse pour relancer le géocoding
      ou bien veuillez ajouter manuellement une latitude et une longitude
    </div>
  <% end %>

  <%- if !@vaccination_center.city || !@vaccination_center.zipcode || !@vaccination_center.geo_context %>
    <div class="alert alert-danger mb-4 small" role="alert" style="position: inherit">
      La ville de ce centre n'est pas correctement géocodée. Merci de mettre à jour l'adresse pour relancer le
      géocoding.
      <br>
      En général, enlever le nom de la région et le pays, en ignorant la suggestion d'Algolia, marche bien : <br>
      <em>6 rue des chevaux, 59800 Lille Nord France</em> ➡️ <em>6 rue des chevaux, 59800 Lille</em>
    </div>
  <% end %>

  <div>
    <h5 class="mt-4">
      Professionnels de santé liés
    </h5>

    <% if @vaccination_center.partners.includes(:partner_external_accounts).present? %>
      <div class="table-responsive">
        <table class="table table-hover table-bordered table-sm small" aria-describedby="Professionnels de santé liés">
          <thead class="thead-light">
          <tr>
            <th class="text-right"> #</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
            <th scope="col" class="text-center">Comptes liés</th>
            <th scope="col" class="text-center">Confirmé ?</th>
          </tr>
          </thead>

          <tbody>
          <% @vaccination_center.partners.order(id: :desc).each do |partner| %>
            <tr>
              <td class="text-right"> <%= partner.id %> </td>
              <td> <%= partner.name %> </td>
              <td> <%= partner.email %> </td>
              <td> <%= partner.human_friendly_phone_number %> </td>
              <td>
                <%= render(ModalComponent.new(title: "Comptes liés", class_names: "modal-lg modal-dialog-scrollable", modal_id: "modalProAccounts#{partner.id}")) do %>
                  <div class="p-3">
                    <p>
                      <strong>Nom</strong>: <%= partner.name %><br />
                      <strong>Email</strong>: <%= partner.email %><br />
                    </p>
                    <table class="table table-bordered table-sm small text-center" aria-describedby="Vos comptes liés">
                      <thead class="thead-light">
                      <tr>
                        <th scope="col">Type de compte</th>
                        <th scope="col">Informations d'identité</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% partner.partner_external_accounts.order(id: :desc).each do |external_account| %>
                        <tr>
                          <td>
                            <%= image_tag("openid/#{external_account.provider_id}.png", alt: "#{external_account.service_name}", height: 40) %>
                          </td>
                          <td>
                            <%= external_account.full_name %><br />
                            <em><%= external_account.identifier %></em><br />
                            <% if external_account.locations.present? %>
                              <div class="text-muted">
                                Établissements : <br />
                                <div class="small">
                                  <% external_account.locations.each do |location| %>
                                    <a href="http://finess.sante.gouv.fr/fininter/jsp/actionRechercheSimple.do?nofiness=<%= location["finess"] %>" target="_blank" rel="noopener">
                                      <%= location["name"] %> - FINESS : <em><%= location["finess"] %></em> <%= icon("fas", "external-link-alt") %>
                                    </a>
                                    <br />
                                  <% end %>
                                </div>
                              </div>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                <% end %>
                <%= link_to "#modalProAccounts#{partner.id}", "data-toggle": "modal" do %>
                  <%= humanize_boolean(partner.partner_external_accounts.any?) %>
                  <%= partner.partner_external_accounts.size %>
                <% end %>
              </td>
              <td class="text-center" title="<%= partner.confirmed_at.present? ? "Confirmé le #{l(partner.confirmed_at)}" : "" %>">
                <%= humanize_boolean partner.confirmed_at.present? %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="small text-muted">
        <%= icon("fas", "info-circle") %>
        Aucun professionnel de santé lié
      </p>
    <% end %>

    <div class="mb-5 mt-1 mx-5">
      <h6>
        Ajouter un professionnel de santé
      </h6>

      <%= simple_form_for :new_partner_email,
                          url: add_partner_admin_vaccination_center_path(@vaccination_center),
                          method: :post,
                          defaults: { input_html: { class: "form-control-sm selectpicker mr-2" } },
                          wrapper: :inline_form,
                          html: {class: "form-inline"} do |f| %>

        <%= f.input :email, type: :email, label: false, placeholder: "jean.dupont@email.com", required: true, input_html: { style: "width: 300px;" } %>
        <%= f.submit "Ajouter ce professionnel de santé", class: "btn-sm btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <h5 class="mt-4">
    Campagnes réalisées
  </h5>

  <% if @vaccination_center.campaigns.present? %>
    <div class="table-responsive mb-4">
      <table class="table table-hover table-bordered table-sm small">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="text-right">#</th>
            <th scope="col" class="text-center">Statut</th>
            <th scope="col" class="text-center">Lancée</th>
            <th scope="col" class="text-center">Début</th>
            <th scope="col" class="text-center">Fin</th>
            <th scope="col" class="text-center">Critères</th>
            <th scope="col" class="text-center">
              Doses<br />
              Vaccin
            </th>
            <th scope="col" class="text-center">
              Confirmés<br />
              Contactés
            </th>
            <th scope="col" class="text-center">
              Taux<br />
              Confirm.
            </th>
            <th scope="col" class="text-center">
              Taux<br />
              Remplissage
            </th>
          </tr>
        </thead>

        <tbody>
          <% @vaccination_center.campaigns.order(id: :desc).each do |campaign| %>
            <% matches = campaign.matches %>
            <% fill_rate = campaign.available_doses > 0 ? (100 * matches.confirmed.size.to_f / campaign.available_doses).round(1) : 0.0 %>
            <% confirm_rate = matches.size > 0 ? (100 * matches.confirmed.size.to_f / matches.size).round(1) : 0.0 %>
            <tr>
              <td class="text-right font-weight-bold"><%= campaign.id %></td>
              <td class="text-center text-nowrap">
                <%= content_tag :span, french_status(campaign), class: "badge badge-sm #{status_badge(campaign)}" %>
                <% if campaign.canceled_doses and campaign.canceled_doses > 0 %>
                  <br />
                  <%= campaign.canceled_doses %> <small class="text-muted">doses annulées</small><br />
                <% end %>
              </td>
              <td class="text-center text-nowrap">
                <%= l(campaign.created_at, format: "%d/%m") %><br />
                <%= l(campaign.created_at, format: "%Hh%M") %>
              </td>
              <td class="text-center text-nowrap">
                <%= l(campaign.starts_at, format: "%d/%m") %><br />
                <%= l(campaign.starts_at, format: "%Hh%M") %>
              </td>
              <td class="text-center text-nowrap">
                <%= l(campaign.ends_at, format: "%d/%m") %><br />
                <%= l(campaign.ends_at, format: "%Hh%M") %>
              </td>
              <td class="text-center">
                <%= campaign.min_age %>-<%= campaign.max_age %> <small class="text-muted">ans</small><br />
                <%= (campaign.max_distance_in_meters / 1000).to_i.to_s %> <small class="text-muted">km</small>
              </td>
              <td class="text-center">
                <%= campaign.available_doses %> <small class="text-muted">doses</small><br />
                <%= campaign.vaccine_type.to_s.capitalize %>
              </td>
              <td class="text-center">
                <%= matches.confirmed.size %> <small class="text-muted">confirmés</small><br />
                <%= matches.size %> <small class="text-muted">contactés</small>
              </td>
              <td class="text-center"><%= "#{confirm_rate} %" %></td>
              <td>
                <div class="progress position-relative">
                  <div class="d-flex flex-row align-items-center justify-content-center position-absolute w-100 h-100">
                    <span class="text-dark"><%= "#{fill_rate} %" %></span>
                  </div>
                  <div class="progress-bar" role="progressbar" aria-valuemin="0"
                       style="width: <%= fill_rate %>%"  aria-valuenow=<%= "#{fill_rate}" %> aria-valuemax="100">
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="small text-muted mb-4">
      <%= icon("fas", "info-circle") %>
      Aucune campagne actuellement
    </p>
  <% end %>

  <%= link_to icon("fas", "edit", "Editer (ou supprimer) ce centre"), edit_admin_vaccination_center_path(@vaccination_center) %>
</div>
