.row.mtop2
  .col-12
    %p.mb-2
      =link_to '← Retour', admin_vaccination_centers_path
    %h3
      #{@vaccination_center.name}
      %span.badge.badge-success.text-uppercase.text-white #{@vaccination_center.kind}
    %p.small.mb-2
      - if @vaccination_center.confirmed?
        %i.fas.fa-check.text-success
        Validé
        par
        %strong #{@vaccination_center.confirmer.full_name}
        le #{l @vaccination_center.confirmed_at}
      - else
        %i.fas.fa-times.text-danger
        Non validé
        =link_to "Valider ce centre", validate_admin_vaccination_center_path(@vaccination_center), method: :patch, class: "btn btn-sm btn-primary", "data-confirm": "Êtes-vous sûr(e)?"
    %p.mb-2 #{@vaccination_center.address}
    %p.small.mb-2
      %i.fas.fa-phone
      #{@vaccination_center.phone_number}
      \-
      Vaccins :
      -if @vaccination_center.pfizer
        %span.mr-1 Pfizer
      -if @vaccination_center.moderna
        %span.mr-1 Moderna
      -if @vaccination_center.astrazeneca
        %span.mr-1 Astrazeneca
      -if @vaccination_center.janssen
        %span.mr-1 Janssen
    %p.small.mb-2
      #{@vaccination_center.description}
.row
  .col-12
    %h5.mtop2 Partenaires liés
    %table.table.table-striped.table-bordered.table-sm.small
      %tr
        %th.text-right #
        %th Nom
        %th Email
      - @vaccination_center.partners.each do |partner|
        %tr
          %th.text-right #{partner.id}
          %th #{partner.name}
          %th #{partner.email}

= link_to icon("fas", "trash", "Supprimer ce centre"), admin_vaccination_center_path(@vaccination_center), class: "text-danger", method: :delete, data: { confirm: "Êtes-vous sûr(e) ?" }
