.container
  %p.mb-2
    = link_to '← Retour à la liste des centres', admin_vaccination_centers_path
  %h3
    #{@vaccination_center.name}
    %span.badge.badge-success.text-uppercase.text-white #{@vaccination_center.kind}
  %p.small.mb-2
    - if @vaccination_center.confirmed?
      = icon("fas", "check", class: "text-success")
      Validé
      par
      %strong #{@vaccination_center.confirmer&.full_name}
      le #{l @vaccination_center.confirmed_at}
    - else
      = icon("fas", "times", class: "text-danger")
      Non validé
      = link_to "Valider ce centre", validate_admin_vaccination_center_path(@vaccination_center), method: :patch, class: "btn btn-sm btn-primary", "data-confirm": "Êtes-vous sûr(e)?"
  %p.small.mb-2
    - if @vaccination_center.disabled?
      = icon("fas", "times", class: "text-danger")
      Désactivé
      = link_to "Activer ce centre", enable_admin_vaccination_center_path(@vaccination_center), method: :patch, class: "btn btn-sm btn-primary", "data-confirm": "Êtes-vous sûr(e)?"
    - else
      = icon("fas", "check", class: "text-success")
      Activé
      = link_to "Désactiver ce centre", disable_admin_vaccination_center_path(@vaccination_center), method: :patch, class: "btn btn-sm btn-danger", "data-confirm": "Êtes-vous sûr(e)?"
  %p.small.mb-2
  %p.mb-2 #{@vaccination_center.address}
  %p.small.mb-2
    = icon("fas", "phone")
    #{@vaccination_center.phone_number}
    \-
    Vaccins :
    - if @vaccination_center.pfizer
      %span.mr-1= Vaccine::Brands::PFIZER.capitalize
    - if @vaccination_center.moderna
      %span.mr-1= Vaccine::Brands::MODERNA.capitalize
    - if @vaccination_center.astrazeneca
      %span.mr-1= Vaccine::Brands::ASTRAZENECA.capitalize
    - if @vaccination_center.janssen
      %span.mr-1= Vaccine::Brands::JANSSEN.capitalize
  %p.small.mb-2
    #{@vaccination_center.description}

  %h5.mt-4 Ajouter un professionnel de santé
  = simple_form_for :new_partner_email,
                    url: add_partner_admin_vaccination_center_path(@vaccination_center),
                    method: :post,
                    wrapper: :inline_form,
                    html: { class: "form-inline" } do |f|
    = f.input :email, type: :email, label: false, placeholder: "jean.dupont@email.com", required: true
    = f.submit "Ajouter ce professionnel de santé", class: "ml-3 btn btn-primary"

  %h5.mt-4 Campagnes réalisées

  - if @vaccination_center.campaigns.present?
    .table-responsive
      %table.table.table-bordered.table-sm.table-hover
        %thead.thead-light
          %tr
            %th.text-right #
            %th Date
            %th Type de vaccin
            %th Nombre de doses
            %th Âge min.
            %th Âge max.
            %th Distance max. (km)
            %th Nombre de matchs
            %th Rdv confirmés
            %th Statut
        %tbody
          - @vaccination_center.campaigns.each do |campaign|
            %tr
              %th.text-right= campaign.id
              %th= campaign.created_at.strftime('%d-%m-%Y')
              %th= campaign.vaccine_type
              %th= campaign.available_doses
              %th= campaign.min_age
              %th= campaign.max_age
              %th= campaign.max_distance_in_meters/1000
              %th= campaign.matches.count
              %th= campaign.matches.confirmed.count
              %th= campaign.status

  %h5.mt-4 Professionnels de santé liés

  - if @vaccination_center.partners.present?
    .table-responsive
      %table.table.table-bordered.table-sm.table-hover
        %thead.thead-light
          %tr
            %th.text-right #
            %th Nom
            %th Email
            %th Téléphone
            %th.text-center Confirmé ?
        %tbody
          - @vaccination_center.partners.each do |partner|
            %tr
              %th.text-right= partner.id
              %td= partner.name
              %td= partner.email
              %td= partner.phone_number
              %td.text-center{title: partner.confirmed_at.present? ? "Confirmé le #{l(partner.confirmed_at)}" : ""}
                = humanize_boolean partner.confirmed_at.present?
  - else
    %p
      = icon("fas", "info-circle")
      Aucun professionnel de santé lié

  = link_to icon("fas", "edit", "Editer (ou supprimer) ce centre"), edit_admin_vaccination_center_path(@vaccination_center)
