<p>
  Pour toutes vos questions, n’hésitez pas à consulter notre
  <%= link_to "Foire aux questions,", "https://www.covidliste.com/faq" %>
  où vous pourrez retrouver toutes nos réponses aux questions les plus fréquentes.
</p>
<p>
  L'équipe Covidliste
  <br>
  <%= link_to "https://www.covidliste.com", "https://www.covidliste.com", style: "color: #333"%>
   - <%= link_to "Twitter", "https://twitter.com/covidliste" %>
   - <%= link_to "Facebook", "https://www.facebook.com/covidliste" %>
   - <%= link_to "Instagram", "https://www.instagram.com/covidliste/" %>
</p>
