<h2>Votre disponibilité est confirmée !</h2>

<p class="mt-4">
  Nous sommes heureux de vous permettre d'accéder à la vaccination plus rapidement. <br>
  <br/>
  <strong><%= @match.vaccination_center.name %> (<%= @match.vaccination_center.kind %>) vous attend le <%= l(match.campaign.starts_at, format: '%A %e %B %Y')%>.</strong>
</p>

<%= render 'match_details', match: @match %>

<% if match.campaign.extra_info.present? %>
  <div>
    <p>
      <i class="fas fa-info-circle"></i>
      <%= match.campaign.extra_info %>
    </p>
  </div>
<% end %>

<p class="mt-4">
  Vous pouvez joindre le centre de vaccination au numéro suivant : <%= link_to @match.vaccination_center.human_friendly_phone_number, "tel:#{@match.vaccination_center.human_friendly_phone_number}" %>
</p>
