<h2>Votre disponibilité est confirmée !</h2>

<p class="mt-4">
  Nous sommes heureux de vous permettre d'accéder à la vaccination plus rapidement. <br>
  <strong><%= @match.vaccination_center.name %> (<%= @match.vaccination_center.kind %>) vous attend à partir de <%= match.campaign.starts_at.strftime('%Hh%M') %>.</strong>
</p>

<%= render 'match_details', match: @match %>

<% if match.campaign.extra_info %>
  <div>
    <p>
      <i class="fas fa-info-circle"></i>
      <%= match.campaign.extra_info %>
    </p>
  </div>
<% end %>
