<h1>Votre rendez-vous est confirmé !</h1>

<p class="mt-4">
  Nous sommes heureux de vous permettre d’accéder à la vaccination. <br>
  <br/>
  <strong><%= @match.vaccination_center.name %> (<%= @match.vaccination_center.kind %>) vous attend le <%= l(match.campaign.starts_at, format: '%A %e %B %Y')%>.</strong>
</p>

<%= render 'match_details', match: @match %>

<p>
  <strong>Date de naissance et nom seront vérifiés</strong>, si ces informations sont inexactes, le praticien ne pourra pas vous vacciner.
  <br>
  Munissez-vous d'une pièce d'identité et de votre carte vitale.
</p>

<% if match.campaign.extra_info.present? %>
  <div>
    <p>
      <i class="fas fa-info-circle"></i>
      <%= match.campaign.extra_info %>
    </p>
  </div>
<% end %>
