<div>
  <div>
    <i class="fas fa-map-pin"></i>
    <strong> Adresse du centre de vaccination </strong>
    <p><%= match.vaccination_center.address %></p>
  </div>

  <div>
    <i class="fas fa-clock"></i>
    <strong> Créneau horaire </strong>
    <p> Entre <%= match.campaign.starts_at.strftime('%Hh%M') %> et <%= @match.campaign.ends_at.strftime('%Hh%M')%></p>
  </div>

  <% user = match.user %>

  <% if user.blank? %>
    <div>
      <i class="fas fa-minus-circle"></i>
      <p>L’utilisateur a supprimé son compte.</p>
    </div>
  <%# elsif user.anonymized_at #TODO PR #197 %>
  <% else %>
    <div>
      <i class="fas fa-user-lock"></i>
      <p>
        Réservé pour <strong><%= user.full_name %></strong><br>
        Né le <strong><%= user.birthdate %></strong><br>
        Réservation strictement nominative. <br>
        <strong>Date de naissance et nom seront vérifiés.</strong>   
      </p>
    </div>
  <% end %>

  <div>
    <i class="fas fa-check-circle"></i>
    <strong>Type de vaccin</strong>
    <p><%= match.campaign.vaccine_type.capitalize %></p>
  </div>
</div>
