<% user = match.user %>
<% vaccination_center = match.vaccination_center %>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <%= icon("fas", "map-pin") %>
    <% if match.confirmed? || vaccination_center.lat.blank? || vaccination_center.lon.blank? %>
      <strong> Adresse du centre de vaccination </strong>
      <p>
        <%= vaccination_center.address %>
      </p>
      <%= icon("fas", "phone") %>
      <strong>Numéro de téléphone</strong>
      <p>
        <a href="tel:<%= vaccination_center.phone_number %>">
          <%= vaccination_center.human_friendly_phone_number %>
        </a>
      </p>
    <% else %>
      <strong> Distance du centre de vaccination </strong>
      <p>
        À
        <% distance = distance_delta({lat: user.lat, lon: user.lon}, {lat: vaccination_center.lat, lon: vaccination_center.lon}) %>
        <%= distance[:delta_in_words] %>
        de vous<%= ", à #{vaccination_center.human_friendly_geo_area}" if vaccination_center.human_friendly_geo_area %>
      </p>
      <p class="small">Trop loin de chez vous ?
        <% if user.city && user.zipcode %>
          D’après nos informations vous habitez à proximité de <%= user.city %> (<%= user.zipcode %>).
        <% end %>
        S’il y a une erreur dans votre adresse, refusez cette dose et modifiez votre adresse dans
        votre <%= link_to "espace personnel", :new_user_session %> </p>
    <% end %>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <%= icon("fas", "clock") %>
    <strong> Créneau horaire </strong>
    <% starts_at = match.campaign.starts_at %>
    <% ends_at = match.campaign.ends_at %>
    <p>
      <%= l(starts_at, format: '%A %e %B %Y').capitalize %> entre <%= l(starts_at, format: '%Hh%M') %>
      et <%= l(ends_at, format: '%Hh%M') %>
    </p>
  </div>

  <% if user.blank? %>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <%= icon("fas", "minus-circle") %>
      <p>L’utilisateur a supprimé son compte.</p>
    </div>
    <%# elsif user.anonymized_at #TODO PR #197 %>
  <% else %>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <%= icon("fas", "user-lock") %>
      <strong> Informations personnelles </strong>
      <p>
        Date de naissance : <strong><%= user.birthdate.strftime('%d/%m/%Y') %></strong><br>
        <% if match.confirmed? %>
          Identité : <strong><%= user.full_name %></strong>
        <% end %>
      </p>
    </div>
  <% end %>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <%= icon("fas", "check-circle") %>
    <strong>Type de vaccin</strong>
    <p><%= match.campaign.vaccine_type.capitalize %></p>
  </div>
</div>
