<% user = match.user %>
<% vaccination_center = match.vaccination_center %>

<div>
  <div>
    <i class="fas fa-map-pin"></i>
    <% if match.confirmed? || vaccination_center.lat.blank? || vaccination_center.lon.blank? %>
      <strong> Adresse du centre de vaccination </strong>
      <p>
        <%= vaccination_center.address %>
      </p>
    <% else %>
      <strong> Distance du centre de vaccination </strong>
      <p>
        À
        <% distance = distance_delta({lat: user.lat, lon: user.lon}, {lat: vaccination_center.lat, lon: vaccination_center.lon}) %>
        <%= distance[:delta_in_words] %>
        de vous<%= ", à #{vaccination_center.human_friendly_geo_area}" if vaccination_center.human_friendly_geo_area %>
      </p>
      <p class="small">Loin de chez vous ? <br>
        <% if user.city %>
          D'après nos informations, vous habitez à proximité de <%= user.city %>. <br>
        <% end %>
        S'il y a une erreur dans votre adresse, refusez cette dose et
        changez votre addresse sur votre <%= link_to "espace personnel", :new_user_session %> </p>
    <% end %>
  </div>

  <div>
    <i class="fas fa-clock"></i>
    <strong> Créneau horaire </strong>
    <% starts_at = match.campaign.starts_at %>
    <% ends_at = match.campaign.ends_at %>
    <p>
      <%= l(starts_at, format: '%A %e %B %Y').capitalize %> entre <%= l(starts_at, format: '%Hh%M') %>
      et <%= l(ends_at, format: '%Hh%M') %>
    </p>
  </div>

  <% if user.blank? %>
    <div>
      <i class="fas fa-minus-circle"></i>
      <p>L’utilisateur a supprimé son compte.</p>
    </div>
    <%# elsif user.anonymized_at #TODO PR #197 %>
  <% else %>
    <div>
      <i class="fas fa-user-lock"></i>
      <strong> Informations personnelles </strong>
      <p>
        Date de naissance : <strong><%= user.birthdate.strftime('%d/%m/%Y') %></strong><br>
        <strong>Date de naissance et nom seront vérifiés.</strong> <br>
        Munissez-vous d'une pièce d'identité et de votre
        carte vitale.<br>
      </p>
    </div>
  <% end %>

  <div>
    <i class="fas fa-check-circle"></i>
    <strong>Type de vaccin</strong>
    <p><%= match.campaign.vaccine_type.capitalize %></p>
  </div>
</div>
