<h2>Une dose de vaccin vous attend !</h2>
<h2>Confirmez votre disponibilité. </h2>

<p class="mt-4">
  Bonne nouvelle ! Une dose est disponible près de chez vous.
  <strong> Vous avez <%= time_ago_in_words(@match.expires_at, include_seconds: true) %> pour confirmer votre venue au centre de vaccination au créneau horaire proposé </strong>.
  Passé ce délai, la dose sera attribuée à un autre de volontaire.
</p>

<%= render 'match_details', match: @match %>
<% user = match.user %>

<div class="alert alert-primary" role="alert">
  Merci de confirmer votre présence <strong>uniquement</strong> si vous pouvez vous rendre au centre de vaccination à
  l'horaire communiqué.
</div>

<form action="<%= match_path(match_confirmation_token: @match.match_confirmation_token) %>" method="POST" class="needs-validation row" novalidate>
  <input type="hidden" name="_method" value="PATCH">
  <div class="col-12 mb-2">
    <div class="form-check flex-wrap">
      <label class="form-check-label w-75" for="firstname">
        Prénom
      </label>
      <input class="form-control" placeholder="Jean" type="text" value="" name="firstname" id="firstname" autocomplete="given-name" required>
      <div class="invalid-feedback w-100">
        Vous devez renseigné votre prénom.
      </div>
    </div>
  </div>
  <div class="col-12 mb-2">
    <div class="form-check flex-wrap">
      <label class="form-check-label w-75" for="lastname">
        Nom
      </label>
      <input class="form-control" placeholder="Dupont" type="text" value="" name="lastname" id="lastname" autocomplete="family-name" required>
      <div class="invalid-feedback w-100">
        Vous devez renseigner votre nom.
      </div>
    </div>
  </div>
  <div class="col-12 mb-2">
    <div class="form-check flex-wrap">
      <input class="form-check-input" type="checkbox" value="" id="confirm_name" required>
      <label class="form-check-label w-75" for="confirm_name">
        Je confirme avoir une pièce d'identité au nom renseigné ci-dessus.
      </label>
      <div class="invalid-feedback w-100">
        Vous devez confirmer votre nom. <br>
        S'il est inexact, le practicien ne pourra pas vous vacciner.
      </div>
    </div>
  </div>
  <div class="col-12 mb-2">
    <div class="form-check flex-wrap">
      <input class="form-check-input" type="checkbox" value="" id="confirm_age" required>
      <label class="form-check-label w-75" for="confirm_age">
        Je confirme avoir une pièce d'identité portant la date de naissance <strong><%= user.birthdate.strftime("%d/%m/%Y") %></strong>
      </label>
      <div class="invalid-feedback w-100">
        Vous devez confirmer votre date de naissance. <br>
        Si elle est inexacte, le practicien ne pourra pas vous vacciner.
      </div>
    </div>
  </div>
  <div class="col-12">
    <p>
      <small>
        Si ces informations sont inexactes, le practicien ne pourra pas vous vacciner. <br>
        Vous pouvez les modifier sur <%= link_to "votre profil", profile_path %>, dans ce cas vous bénéficierez d'une prochaine dose disponible.
      </small>
    </p>
  </div>
  <div class="col-12 mb-2">
    <div class="row">
      <div class="col">
        <button class="btn btn-primary mr-5" type="submit">Je suis disponible</button>
        <%= link_to 'Refuser le RDV', match_path(match_confirmation_token: @match.match_confirmation_token), method: :delete, class: 'btn btn-danger ml-5', "data-confirm": "Souhaitez-vous vraiment refuser ce RDV ?" %>
      </div>
    </div>
  </div>
</form>


<p>
  <small>
    Une fois votre présence confirmée, vos coordonnées sont transmises au centre de vaccination. Votre compte et vos informations seront alors définitivement supprimés de Covidliste sous 
    <%= AnonymizeConfirmedMatchedUsersJob::DELAY_AFTER_MATCH_CONFIRMATION.parts.map { |unit, n| I18n.t unit, count: n, scope: 'duration' }.to_sentence %>
    , et vous ne recevrez plus de notifications.
  </small>
</p>

<script>
// Script from https://getbootstrap.com/docs/5.0/forms/validation/
(function () {
  var forms = document.querySelectorAll('.needs-validation')
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
