<% user = match.user %>

<div id="mobile-match-info">
  <h1>Une dose de vaccin est disponible près de chez vous !</h1>

  <p class="mt-4">
    <strong>
      Une confirmation de votre part est indispensable pour réserver votre dose. Si vous ne la réservez pas, elle sera attribuée à un autre volontaire.
    </strong>
    Vérifiez les informations ci-dessous et réservez vite votre dose !
  </p>

  <%= render 'match_details', match: @match %>

  <div class="alert alert-danger" role="alert">
    Ne réservez votre dose que si vous pouvez vous rendre au centre de vaccination
    <%= l(match.campaign.starts_at, format: '%A %e %B %Y') %>
    entre <%= l(match.campaign.starts_at, format: '%Hh%M') %>
    et <%= l(match.campaign.ends_at, format: '%Hh%M') %>
  </div>

  <div class="d-md-none">
    <button class="btn btn-primary col-sm-12 col-md-3 col-lg-3 btn-lg mb-3" id="interested-button">Je suis intéressé</button>
    <%= link_to 'Je refuse la dose', match_path(match_confirmation_token: match.match_confirmation_token), method: :delete, class: 'btn btn-link btn-lg col-sm-12 col-md-3 col-lg-3 mb-3', "data-confirm": "Souhaitez-vous vraiment refuser ce RDV ?" %>
  </div>

</div>

<div id="mobile-match-identity" class="d-none d-md-block">
  <a href="" id="mobile-match-back" class="d-none">← Retour</a>
  <%= render 'identity_form', match: @match %>
</div>


