<h2>Une dose de vaccin est disponible ! Réservez-la dès maintenant. </h2>

<p class="mt-4">
  Bonne nouvelle ! Une dose est disponible près de chez vous. <br>
  <strong>
    Une confirmation rapide de votre part est indispensable pour réserver votre dose.<br>
  </strong>
  Réservez vite votre dose.
</p>

<%= render 'match_details', match: @match %>
<% user = match.user %>

<div class="alert alert-danger" role="alert">
  Ne réservez votre dose que si vous pouvez vous rendre au centre de vaccination
  entre <%= l(match.campaign.starts_at, format: '%Hh%M') %>
  et <%= l(match.campaign.ends_at, format: '%Hh%M') %> aujourd'hui. <br>
  <strong>Si vous ne réservez pas votre dose, elle sera attribuée à un autre volontaire et vous ne pourrez pas vous
    faire
    vacciner.</strong>
</div>

<form action="<%= match_path(match_confirmation_token: @match.match_confirmation_token) %>" method="POST" class="needs-validation row" novalidate>
  <input type="hidden" name="_method" value="PATCH">
  <div class="col-12 mb-2">
    <div class="form-check flex-wrap">
      <label class="form-check-label w-75" for="user_firstname">
        Prénom
      </label>
      <input class="form-control" placeholder="Jean" type="text" value="<%= user.firstname %>" name="user[firstname]" id="user_firstname" autocomplete="given-name" required>
      <div class="invalid-feedback w-100">
        Vous devez renseigner votre prénom.
      </div>
    </div>
  </div>
  <div class="col-12 mb-2">
    <div class="form-check flex-wrap">
      <label class="form-check-label w-75" for="lastname">
        Nom
      </label>
      <input class="form-control" placeholder="Dupont" type="text" value="<%= user.lastname %>" name="user[lastname]" id="user_lastname" autocomplete="family-name" required>
      <div class="invalid-feedback w-100">
        Vous devez renseigner votre nom.
      </div>
    </div>
  </div>
  <div class="col-12 mb-2">
    <div class="form-check flex-wrap">
      <input class="form-check-input" type="checkbox" value="1" id="confirm_name" name="confirm_name" required>
      <label class="form-check-label w-75" for="confirm_name">
        Je confirme avoir une pièce d'identité au nom renseigné ci-dessus.
      </label>
      <div class="invalid-feedback w-100">
        Vous devez confirmer votre nom. <br>
        S'il est inexact, le practicien ne pourra pas vous vacciner.
      </div>
    </div>
  </div>
  <div class="col-12 mb-2">
    <div class="form-check flex-wrap">
      <input class="form-check-input" type="checkbox" value="1" id="confirm_age" name="confirm_age" required>
      <label class="form-check-label w-75" for="confirm_age">
        Je confirme avoir une pièce d'identité portant la date de naissance
        <strong><%= user.birthdate.strftime("%d/%m/%Y") %></strong>
      </label>
      <div class="invalid-feedback w-100">
        Vous devez confirmer votre date de naissance. <br>
        Si elle est inexacte, le practicien ne pourra pas vous vacciner.
      </div>
    </div>
  </div>

  <% # Requiring acceptation of statement if not already %>
  <% unless @match.user.statement %>
    <div class="col-12 mb-2">
      <div class="form-check flex-wrap">
        <input class="form-check-input" type="checkbox" value="1" id="user_statement" name="user[statement]" required>
        <label class="form-check-label w-75" for="statement">
          J’accepte les <%= link_to "CGU", cgu_volontaires_path %> et certifie sur l’honneur que les informations
          ci-dessus sont exactes.
        </label>
        <div class="invalid-feedback w-100">
          Vous devez accepter les CGU pour confirmer votre réservation.
        </div>
      </div>
    </div>
  <% end %>

  <% # Requiring acceptation of toc if not already %>
  <% unless @match.user.toc %>
    <div class="col-12 mb-2">
      <div class="form-check flex-wrap">
        <input class="form-check-input" type="checkbox" value="1" id="user_toc" name="user[toc]" required>
        <label class="form-check-label w-75" for="toc">
          J’accepte que mes données soient traitées aux fins de la mise en relation avec les établissements de
          vaccination Covid-19 participant à l’initiative Covidliste.
        </label>
        <div class="invalid-feedback w-100">
          Vous devez accepter le traitement de vos données personnelles pour confirmer votre réservation.
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-12">
    <p>
      <small>
        Si ces informations sont inexactes, le practicien ne pourra pas vous vacciner. <br>
      </small>
    </p>
  </div>
  <div class="col-12 d-flex flex-wrap">
    <button class="btn btn-primary mr-2 btn-lg mb-3" type="submit">Je réserve la dose</button>
    <%= link_to 'Refuser la dose', match_path(match_confirmation_token: @match.match_confirmation_token), method: :delete, class: 'btn btn-link btn-lg mb-3', "data-confirm": "Souhaitez-vous vraiment refuser ce RDV ?" %>
  </div>
</form>


<p>
  <small>
    Une fois votre présence confirmée, vos coordonnées sont transmises au centre de vaccination. Votre compte et vos
    informations seront alors définitivement supprimés de Covidliste sous
    <%= AnonymizeConfirmedMatchedUsersJob::DELAY_AFTER_MATCH_CONFIRMATION.parts.map { |unit, n| I18n.t unit, count: n, scope: 'duration' }.to_sentence %>
    , et vous ne recevrez plus de notifications.
  </small>
</p>

<script>
  // Script from https://getbootstrap.com/docs/5.0/forms/validation/
  (function () {
    var forms = document.querySelectorAll('.needs-validation')
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>
