<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-8">
    <div class="text-left mt-4">
      <% if @match.confirmed? %>
        <%= render 'confirmed', match: @match %>
      <% elsif @match.refused? %>
        <%= render 'refused', match: @match %>
      <% elsif @match.expired? %>
        <%= render 'expired', match: @match %>
      <% elsif !@match.confirmable? %>
        <%= render 'overbooked', match: @match %>
      <% elsif !@match.expired? %>
        <%= render 'pending', match: @match %>
      <% end %>
    </div>
  </div>
</div>
