<div>
  <h2>
    Vaccin disponible près de chez vous.
  </h2>

  <p>
    Un vaccin est disponible près de chez vous. <br>
    Pour le réserver, suivez les instructions avant <%= @match.expires_at.strftime("%Hh%M") %> en cliquant sur ce lien :
    <%= link_to "Vaccin disponible", match_url(match_confirmation_token: @match_confirmation_token, source: 'email') %>
  </p>
  <p>
    Si vous ne le réservez pas avant <%= @match.expires_at.strftime("%Hh%M") %>,
    <strong>le vaccin sera attribué à un autre
      volontaire.</strong><br>
    Dans ce cas, nous vous recontacterons dès qu'un vaccin sera à nouveau disponible.
  </p>
  <p>
    Si le lien ne fonctionne pas, copiez et collez l’adresse suivante dans votre navigateur : <br>
    <%= match_url(match_confirmation_token: @match_confirmation_token, source: 'email') %>
  </p>

  <%= render "mailer/footer" %>
</div>
