<div>
  <p>
    Bonjour,
  </p>

  <h3>
    Votre dose de vaccin <%= @match.campaign.vaccine_type.capitalize %> est bien réservée !
  </h3>

  <p>
    <strong>Informations et accès</strong>
    <ul>
      <li>Adresse : <%= @match.vaccination_center.address %></li>
      <li>Créneau horaire : <%= l(@match.campaign.starts_at, format: '%A %e %B %Y').capitalize %> entre <%= l(@match.campaign.starts_at, format: '%Hh%M') %>
      et <%= l(@match.campaign.ends_at, format: '%Hh%M') %> </li>
      <% if @match.campaign.extra_info.present? %>
        <li>Détails d’accès : <%= @match.campaign.extra_info %></li>
      <% end %>
      <!-- numéro de téléphone facultatif -->
    </ul>
  </p>

  <p>
    <strong>Rappel de vos informations</strong>
    <ul>
      <li>Identité : <%= @match.user.full_name %></li>
      <li>Date de naissance : <%= @match.user.birthdate.strftime('%d/%m/%Y') %></li>
    </ul>
  </p>

  <p>
    <strong>N’oubliez-pas d’apporter :</strong>
    <ul>
      <li>votre <strong>carte Vitale</strong> (ou attestation de droit)</li>
      <li>votre <strong>pièce d’identité</strong> (aux nom et date de naissance renseignés ci-dessus)</li>
    </ul>
  </p>

  <p>
    Si vous n’êtes plus disponible, prévenez le centre et réinscrivez-vous sur Covidliste après 72h. En cas de problème, contactez <%= mail_to "hello@covidliste.com", "hello@covidliste.com" %>.
  </p>

  <p>
    Nous sommes heureux de vous permettre d’accéder à la vaccination.
  </p>


  <%= render "mailer/footer" %>
  <%= render "mailer/automatic_message" %>
</div>
