<p>
  Bonjour <%= @resource %>,
</p>

<p>
  Vous venez de vous enregistrer sur Covidliste.
  <br>
  Pour finaliser votre inscription, merci de cliquer sur le lien ci-dessous (ce lien reste valide pendant 24 heures,
  au-delà des 24 heures vous devrez refaire une demande de confirmation).
</p>

<p>
  <%= link_to "Validez votre inscription en cliquant ici", confirmation_url(@resource, confirmation_token: @token) %>
  <br>
  Si le lien ne fonctionne pas, copiez et collez l’adresse suivante dans votre navigateur :
  <%= confirmation_url(@resource, confirmation_token: @token) %>
</p>

<%= render "mailer/footer" %>
<%= render "mailer/automatic_message" %>
