<div class="container">
  <h2 id="page-title">
    Volontaires
  </h2>

  <div class="d-inline-flex my-2">
    <%= simple_form_for :user_search,
                        url: admin_users_path,
                        html: { class: "form-inline inline-block mr-4" },
                        defaults: { label: false, required: false, input_html: { class: "form-control-sm selectpicker mr-2" } },
                        method: :get do |f| %>
      <%= f.input :query, as: :string, label: false, placeholder: "jean@dupont.com ou hTwUy9UREgZFz7oxyAby491x", required: true, input_html: { value: @query, style: "width: 300px;" } %>
      <%= f.button :submit, "Chercher", class: "btn-sm", name: nil %>
    <% end %>
  </div>

  <div class="mt-5">
    <% if @user&.persisted? %>
      <h3>
        <%= @user.email %>
      </h3>

      <div class="row mt-4">
        <div class="col-12 col-lg-6">
          <table class="table" aria-describedby="page-title">
            <% if @user.firstname && @user.lastname %>
              <tr>
                <th scope="row">Nom</th>
                <td><%= @user.full_name %></td>
              </tr>
            <% end %>
            <tr>
              <th scope="row">Email</th>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th scope="row">Confirmé</th>
              <td>
                <% if @user.confirmed? %>
                  <%= icon("fas", "check", class: "text-success") %>
                  Oui
                  <small class="text-muted">
                    (<%= @user.confirmed_at.strftime("%d/%m/%Y %H:%M") %>)
                  </small>
                <% else %>
                  <%= icon("fas", "times", class: "text-danger") %>
                  Non
                  <small class="text-muted">
                    (email de confirmation envoyé le <%= @user.confirmation_sent_at.strftime("%d/%m/%Y %H:%M") %>)
                  </small>
                <% end %>
              </td>
            </tr>
          </table>

          <div class="d-flex align-items-center justify-content-around mb-4">
            <% unless @user.confirmed? %>
              <%= simple_form_for(@user, as: "user", url: resend_confirmation_admin_user_path(@user), method: :post, html: {class: "d-inline"}) do |f| %>
                <%= f.input_field :email, :as => :hidden %>
                <%= f.submit "Renvoyer le mail de confirmation", class: "btn btn-sm btn-primary ml-3", "data-confirm": "Êtes-vous sûr(e)?" %>
              <% end %>
            <% end %>
            <% if policy([:admin, @user]).destroy? %>
              <%= button_to 'Supprimer', admin_user_path(@user),
                            method: :delete,
                            class: "btn btn-sm btn-danger ml-3",
                            id: dom_id(@user, :delete),
                            data: {confirm: 'êtes-vous sûrs ?'} %>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="leaflet_map_container">
            <div
              class="leaflet_map"
              style="height: 250px;"
              data-icon="<%= asset_path("map/markers/firstaid.png") %>"
              data-lat="<%= @user.lat %>"
              data-lon="<%= @user.lon %>"
            ></div>
          </div>
        </div>
      </div>

      <h4 class="mt-4 mb-3" id="matches">Propositions de RDV</h4>

      <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm small text-center" aria-describedby="matches">
          <thead class="thead-light">
          <tr>
            <th scope="col">Token</th>
            <th scope="col">Vaccin</th>
            <th scope="col">Lieu</th>
            <th scope="col">Notification</th>
            <th scope="col">État</th>
          </tr>
          </thead>
          <tbody>
            <%- @matches = @user.matches.includes([:campaign, :vaccination_center]).order(id: :desc) %>
            <% @matches.order(id: :desc).each do |match| %>
              <tr>
                <td> <%= match.match_confirmation_token %> </td>
                <td> <%= match.campaign&.vaccine_type.capitalize %> </td>
                <td data-toggle="tooltip" title="<%= "#{match.vaccination_center.name} #{match.vaccination_center.human_friendly_geo_area}" %>">
                  <%= link_to icon("fas", "map-marked-alt", "Campagne ##{match.campaign&.id}"), [:admin, match.vaccination_center] %>
                </td>
                <td>
                  <% if match.mail_sent_at %>
                    Mail envoyé le <%= l match.mail_sent_at %><br />
                  <% end %>
                  <% if match.sms_sent_at %>
                    SMS envoyé le <%= l match.sms_sent_at %><br />
                  <% end %>
                </td>
                <td>
                  <% if match.confirmed? %>
                    <abbr title="RDV confirmé le <%= l match.confirmed_at %>" data-toggle="tooltip">Confirmée</abbr>
                  <% elsif match.refused? %>
                    <abbr title="RDV refusée le <%= l match.refused_at %>" data-toggle="tooltip">Refusée</abbr>
                  <% elsif match.expired? %>
                    <abbr title="Proposition de RDV expirée le <%= l match.expires_at %>" data-toggle="tooltip">Expirée</abbr>
                  <% elsif !match.confirmable? %>
                    <abbr title="Proposition de RDV expirée" data-toggle="tooltip">Expirée</abbr>
                  <% elsif !match.expired? %>
                    <abbr title="Proposition de RDV en attente de réponse" data-toggle="tooltip">En attente</abbr>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <h4 class="mt-4 mb-3" id="mails-sent-title">Emails envoyés</h4>
      <% if params.dig(:other, :with_mails) %>
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-sm small table-hover" aria-describedby="mails-sent-title">
            <thead class="thead-light">
              <tr>
                <th scope="col">Fournisseur</th>
                <th scope="col">Date</th>
                <th scope="col">Sujet</th>
                <th scope="col">De</th>
                <th scope="col">Statut</th>
              </tr>
            </thead>
            <tbody>
              <% if @user_mails %>
                <% @user_mails.each do |message_id, message| %>
                  <tr title="<%= message_id %>">
                    <td><%= message[:provider] %></td>
                    <td><%= l message[:date] %></td>
                    <td><%= message[:subject] %></td>
                    <td><%= message[:from] %></td>
                    <td>
                      <%= message[:state] %>
                      <%= link_to icon("fas", "external-link-alt"), "#modalMessages#{Digest::SHA1.hexdigest(message_id)}", "data-toggle": "modal", class: "small" %>
                      <%= render(ModalComponent.new(title: "Message details", class_names: "modal-lg modal-dialog-scrollable", modal_id: "modalMessages#{Digest::SHA1.hexdigest(message_id)}")) do %>
                        <div class="p-4">
                          <div>
                            <div>Fournisseur : <%= message[:provider] %></div>
                            <div>Date : <%= l message[:date] %></div>
                            <div>Sujet : <%= message[:subject] %></div>
                            <div>De: <%= message[:from] %></div>
                            <div>Statut : <%= message[:state] %></div>
                          </div>
                          <table class="table table-bordered table-sm table-hover mb-0 mt-4 small" aria-describedby="mails-sent-title">
                            <tr>
                              <th scope="col">Évènement</th>
                              <th scope="col">Date</th>
                              <th scope="col">Raison</th>
                            </tr>
                            <% message[:events].each do |event| %>
                              <tr>
                                <th scope="row">
                                  <span class="badge badge-primary"><%= event[:name] %></span>
                                </th>
                                <td><%= event[:date]? l(event[:date]) : '' %></td>
                                <td><%= event[:reason] %></td>
                              </tr>
                            <% end %>
                          </table>
                        </div>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% elsif params.fetch(:user, {}).permit(:email).blank? %>
                <tr>
                  <td colspan="2" class="text-center text-muted font-italic">
                    Aucun email envoyé trouvé avec l'adresse : <%= @user.email %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="text-center">
          <%= simple_form_for(:user_search, url: admin_users_path, method: :get, :html => {class: 'd-inline'}) do |f| %>
            <%= f.input_field :query, as: :hidden, value: @query %>
            <%= simple_fields_for :other do |o| %>
              <%= o.input_field :with_mails, as: :hidden, value: "1" %>
            <% end %>
            <%= f.submit "Voir les emails envoyés", class: "btn btn-sm btn-primary" %>
          <% end %>
        </div>
      <% end %>
    <% elsif @query %>
      <p class="text-center text-muted font-italic">
        Aucun utilisateur correspondant trouvé
      </p>
    <% end %>
  </div>
</div>
