<div>
  <h1>Covidliste vous alerte aussi de rendez-vous disponibles.</h1>

  <p>
    Nous avons trouvé un centre situé à
    <% distance = distance_delta({lat: @alert.user.lat, lon: @alert.user.lon}, {lat: @slot.latitude, lon: @slot.longitude}) %>
    <%= distance[:delta_in_words] %>
    de chez vous qui dispose de rendez-vous de vaccination:
  </p>

  <div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <%= icon("fas", "map-pin") %>
    <p>
      <strong> Centre de vaccination </strong>
      <br/><%= @slot.name %>
      <br/><%= @slot.address %>
    </p>

    <p>
      <strong> Prochain RDV </strong>
      <br/><%= l(@slot.next_rdv, format: '%A %e %B %Y') %>
    </p>

  </div>

  <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
    <%= icon("fas", "check-circle") %>
    <p>
      <strong>Type de vaccin</strong>
      <br/><%= @slot.vaccine_type %>
    </p>
  </div>

  </div>
  <h2>
    <%= link_to "Réserver mon rendez-vous", slot_alert_url(token: @alert_token) %>
  </h2>

  <p>
    <strong>Si le lien ne fonctionne pas</strong>, copiez et collez l’adresse suivante dans votre navigateur :
    <br>
    <%= slot_alert_url(token: @alert_token) %>
  </p>

  <p>
    <strong>Vous ne souhaitez plus être informé de doses ou de créneaux disponibles ?</strong>
    <br>
    <strong>
      <%= link_to "Supprimer mon compte", edit_slot_alerts_users_url(token: @alert_token) %>
    </strong>
  </p>

  <h1>Et si j'arrive trop tard ?</h1>
  <p>Si vous n'arrivez pas à réserver un créneau ne vous inquiétez pas. Covidliste continue à vous notifier dès qu'une dose sur le point d'être perdue est disponible près de chez vous !</p>

  <%= render "mailer/footer" %>
  <%= render "mailer/automatic_message" %>
</div>

