<div class="container">
  <div class="row">
    <div class="col-12 col-md-9 offset-md-1">
      <%= link_to icon("fas", "arrow-left", "Retour"), partners_vaccination_center_path(@vaccination_center) %>

      <h4 class="mt-3">
        Nouvelle Campagne pour <%= @vaccination_center.name %>
      </h4>

      <%= simple_form_for([:partners, @vaccination_center, @campaign], data: {controller: "new-campaign", new_campaign_simulate_path_value: simulate_reach_partners_vaccination_center_campaigns_path(@vaccination_center), new_campaign_max_distance_in_km_value: Campaign::MAX_DISTANCE_IN_KM }) do |f| %>
        <div class="row">
          <div class="col col-8">
            <%= f.input :available_doses,
                        label: "Nombre de doses à écouler",
                        as: :integer,
                        input_html: { min: "1", max: Campaign::MAX_DOSES , data: { new_campaign_target: "availableDoses"} },
                        hint: "200 max. Vous avez plus de doses ? Créez plusieurs campagnes successives !" %>
          </div>

          <div class="col col-4">
            <%= f.input :vaccine_type,
                        label: "Type de vaccin",
                        collection: Vaccine::Brands::ALL,
                        label_method: :capitalize,
                        input_html: { data: { new_campaign_target: "vaccineType"}} %>
          </div>
        </div>

        <h5>
          Pendant quel créneau les volontaires doivent arriver ?
        </h5>
        <small class="form-text text-muted my-2">
          Il faudra un peu de temps pour trouver les volontaires, qu'ils confirment le RDV et qu'ils arrivent.
          <u>Prévoyez une bonne marge.</u>
        </small>

        <div class="row">
          <div class="col-4">
            <div class="form-group select">
              <label class="select required" for="day">Jour</label>
              <select id="day" class="form-control select">
                <option value="">Aujourd'hui (<%=l Date.today, format: "%A %e %B" %>)</option>
              </select>
            </div>
          </div>

          <div class="col-4">
            <%= f.input :starts_at, as: :time, label: "Heure de début", include_blank: true %>
          </div>

          <div class="col-4">
            <%= f.input :ends_at, as: :time, label: "Heure de fin", include_blank: true %>
          </div>
        </div>

        <div class="alert alert-primary">
          Les volontaires viendront
          <strong>aujourd’hui <%=l Date.today, format: "%A %e %B" %></strong> :
          il n’est pas encore possible de prévoir plus loin.
        </div>

        <%= f.input :extra_info,
                    label: "Informations supplémentaires pour les volontaires",
                    hint: "Accès, modalités... Les volontaires ne verront cette information qu’après avoir confirmé leur rendez-vous." %>


        <h5>
          Critères de sélection des volontaires
        </h5>

        <div class="row">
          <div class="col-4">
            <%= f.input :min_age,
                        label: "Âge minimum (inclus)",
                        input_html: { min: "18", max: "130", data: { new_campaign_target: "minAge" } },
                        hint: "18 ans min" %>
          </div>

          <div class="col-4">
            <%= f.input :max_age,
                        label: "Âge maximum (inclus)",
                        input_html: { min: "18", max: "130", data: { new_campaign_target: "maxAge" } },
                        hint: "max ⩾ min" %>
          </div>

          <div class="col-4">
            <%= f.input :max_distance_in_meters,
                        label: "Distance maximum (en km)",
                        input_html: { min: "1", max: Campaign::MAX_DISTANCE_IN_KM, data: { new_campaign_target: "maxDistance" } },
                        hint: "#{Campaign::MAX_DISTANCE_IN_KM} km max" %>
          </div>
        </div>

        <%= button_tag "Simuler", type: :button, data: { new_campaign_target: "simulateButton", action: "click->new-campaign#simulate" }, class: "btn btn-secondary" %>

        <%= content_tag :p, "", data: { new_campaign_target: "simulationResult" }, class: "d-inline-block mt-4" %>

        <%= f.button :submit, "Envoyer les SMS aux volontaires !",
                     class: "btn btn-primary d-none mt-3",
                     disabled: true,
                     data: { new_campaign_target: "submitButton", confirm: "Êtes-vous sûr(e) de vouloir envoyer les SMS aux volontaires ?", disable_with: "Création de la campagne et envoi..." } %>
      <% end %>
    </div>
  </div>
</div>
