.container
  .row
    .col-12.col-lg-8.offset-lg-2
      = link_to "← Retour", partners_vaccination_center_path(@vaccination_center)

      %h4.mt-3 Nouvelle Campagne pour #{@vaccination_center.name}

      = simple_form_for([:partners, @vaccination_center, @campaign], data: {controller: "new-campaign", new_campaign_simulate_path_value: simulate_reach_partners_vaccination_center_campaigns_path(@vaccination_center), new_campaign_max_distance_in_km_value: Campaign::MAX_DISTANCE_IN_KM }) do |f|
        .row
          .col.col-8
            = f.input :available_doses, label: "Nombre de doses à écouler", as: :integer, input_html: { min: "1", max: Campaign::MAX_DOSES , data: { new_campaign_target: "availableDoses"} }, hint: "200 max. Plus de doses ? Créez plusieurs campagnes successives !"
          .col.col-4
            = f.input :vaccine_type, label: "Type de vaccin", collection: Vaccine::Brands::ALL, label_method: :capitalize, input_html: { data: { new_campaign_target: "vaccineType"}}

        %h5 Plage horaire de disponibilité des vaccins

        .row
          .col
            %div.alert.alert-primary
              La campagne aura lieu
              %strong aujourd'hui #{l Date.today, format: "%e %B"}
              \: il n'est pas encore possible de planifier plus loin.

        .row
          .col.col-6
            = f.input :starts_at, as: :time, label: "Début"
          .col.col-6
            = f.input :ends_at, as: :time, label: "Fin"
        = f.input :extra_info, label: "Informations supplémentaires pour les volontaires", hint: "Accès, modalités... Les volontaires ne verront cette information qu'après avoir confirmé leur rendez-vous."

        %h5 Critères de sélection des volontaires

        .row
          .col.col-4
            = f.input :min_age, label: "Âge minimum (inclus)", input_html: { min: "18", max: "130", data: { new_campaign_target: "minAge" } }, hint: "18 ans min"
          .col.col-4
            = f.input :max_age, label: "Âge maximum (inclus)", input_html: { min: "18", max: "130", data: { new_campaign_target: "maxAge" } }, hint: "max ⩾ min"
          .col.col-4
            = f.input :max_distance_in_meters, label: "Distance maximum (en km)", input_html: { min: "1", max: Campaign::MAX_DISTANCE_IN_KM, data: { new_campaign_target: "maxDistance" } }, hint: "#{Campaign::MAX_DISTANCE_IN_KM} km max"
        = button_tag "Simuler", type: :button, class: "btn btn-primary", data:  {new_campaign_target: "simulateButton", action: "click->new-campaign#simulate" }
        = content_tag :p, "", data: { new_campaign_target: "simulationResult" }, class: "d-inline-block"
        = f.button :submit, "Envoyer les SMS aux volontaires !", class: "btn btn-primary d-none mt-3", disabled: true, data: {new_campaign_target: "submitButton", confirm: "Êtes-vous sûr(e) ?", disable_with: "Création de la campagne et envoi..."}

        %div.mb-5
