<%# Poor's man real-time feature, reload every 10s while the campaign is running. %>

<% if @campaign.running? %>
  <script>
    setTimeout(function() { document.location.reload(); }, 10000)
  </script>
<% end %>

<div class="container">
  <p class="mb-2">
    <%= link_to "← Retour", partners_vaccination_center_path(@campaign.vaccination_center) %>
  </p>

  <h1 class="mb-4">
    <%= @campaign.name %>

    <% if @campaign.running? %>
      <span class="small">
        <%= link_to "Annuler",
                    partners_campaign_path(@campaign, cancel: true),
                    method: :patch,
                    data: { confirm: "Êtes-vous sûr de vouloir annuler la recherche de volontaires pour cette campagne ?" },
                    class: "btn btn-sm btn-danger" %>
      </span>
    <% end %>
  </h1>

  <p>
    État :
    <%= content_tag :span, french_status(@campaign), class: "badge badge-sm #{status_badge(@campaign)}" %>
  </p>

  <div class="justify-content-center">
    <div class="progress" style="height: 20px;">
      <div class="progress-bar" role="progressbar" style="width: <%= @campaign.matches.confirmed.size * 100 / @campaign.available_doses %>%;">
      </div>
    </div>

    <h2 class="text-center mt-4">
      <%= @campaign.matches.confirmed.size %> doses attribuées / <%= @campaign.available_doses %>
    </h2>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-4 flex-column d-flex align-items-center">
      <%= icon("fas", "paper-plane", style: "font-size: 2rem;") %>

      <h3 class="text-center mt-2">
        <%= @campaign.matches.size %> volontaires contactés
      </h3>
    </div>

    <div class="col-4 flex-column d-flex align-items-center">
      <%= icon("fas", "user-check", style: "font-size: 2rem;") %>

      <h3 class="text-center mt-2">
        <%= @campaign.matches.confirmed.size %> volontaires confirmés
      </h3>
    </div>
  </div>

  <h2 class="mb-4">
    Volontaires confirmés
  </h2>

  <p>
    Ces informations seront supprimées définitivement ce soir à minuit.
    <br>
    Ces informations ne doivent être utilisées que pour la vaccination des volontaires par votre centre.
  </p>

  <% if @campaign.matches.confirmed.any? %>
    <p class="float-right">
      <%= link_to "Télécharger la liste (CSV)", partners_campaign_path(@campaign, format: :csv) %>
    </p>

    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead class="thead-light">
        <tr>
          <th> Nom </th>
          <th> Téléphone </th>
          <th> Date de naissance </th>
          <th> Confirmation </th>
        </tr>
        </thead>

        <tbody>
          <% @campaign.matches.confirmed.order(:confirmed_at).reject { |m| m.user.blank? }.each do |match| %>
            <% user = match.user %>

            <tr>
              <% if user.anonymized_at %>
                <td> <em> Anonymized </em> </td>
                <td> - </td>
                <td> - </td>
              <% else %>
                <td> <%= user.full_name %> </td>
                <td> <%= user.human_friendly_phone_number %> </td>
                <td> <%= user.birthdate.strftime("%d/%m/%Y") %> </td>
              <% end %>

              <td> <%= l match.confirmed_at %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
