.container
  %h2.mt-4 Statistiques des volontaires

  .row.mt-4
    .col-sm-12.col-md-6.col-lg-6
      %h4 Critères de recherche
      = simple_form_for '', url: admin_stats_path, method: :get do |f|
        = f.input :address, label: "Adresse", input_html: { value: @address }
        .row
          .col-12.col-sm-6
            = f.input :min_age, label: "Âge Minimum", as: :numeric, input_html: { value: @min_age }
          .col-12.col-sm-6
            = f.input :max_age, label: "Âge Maximum", as: :numeric, input_html: { value: @max_age }
        = f.input :max_distance, label: "Distance Maximum (km)", as: :numeric, input_html: { value: @max_distance }
        = f.submit "Cherchez !", class: 'btn btn-primary btn-block'
    .col-sm-12.col-md-6.col-lg-6
      %h4 Résultats
      %p #{@total_count} volontaires trouvés
      %table.table.table-sm
        %tr
          %th Âge
          %th # Volontaires
        - @count_by_age.each do |k|
          %tr
            %td= k[0]
            %td= k[1]


  #leaflet_map.mt-4{style: "height: 600px", data: { lat: @lat, lon: @lon, address: @address, border: @bounds, icon: asset_path("map/markers/firstaid.png") }}
    #leaflet_markers.d-none
      - @results.each do |user|
        .leaflet-marker{data: { lat: user.lat, lon: user.lon, icon: user.age && user.age >= 0 && user.age < 150 ? asset_path("map/markers/number_" + user.age.to_s+".png") : asset_path("map/markers/symbol_inter.png") }}
          %strong id #{user.id}


