%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: "/admin"} Covidliste Admin
  %button.navbar-toggler{"aria-controls": "navbarNavDropdown", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbarNavDropdown", "data-toggle": "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      - if current_user.admin?
        %li.nav-item.dropdown
          %a#dropdown12.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => ""}
            ="Outils support"
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdown10"}
            = link_to "Super utilisateurs", admin_power_users_path, class: 'dropdown-item' if policy([:admin, :power_users, current_user]).index?
            = link_to "Volontaires", admin_users_path, class: 'dropdown-item'
        %li.nav-item.dropdown
          %a#dropdown12.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => ""}
            ="Outils supply"
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdown10"}
            = link_to "Lieux de vaccination", admin_vaccination_centers_path, class: 'dropdown-item'
            = link_to "Statistiques volontaires", admin_stats_path, class: 'dropdown-item'
        %li.nav-item.dropdown
          %a#dropdown12.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => ""}
            ="Outils DataScience"
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdown10"}
            = link_to "Blazer", admin_blazer_path, class: 'dropdown-item', target: "_blank"
        %li.nav-item.dropdown
          %a#dropdown12.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => ""}
            ="Outils Dev"
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdown10"}
            = link_to "PgHero", pg_hero_path, class: 'dropdown-item', target: "_blank"
            = link_to "Sidekiq", sidekiq_web_path, class: 'dropdown-item', target: "_blank"
            = link_to "Flipper", "/admin/flipper", class: 'dropdown-item', target: "_blank"
      - if current_user
        %li.nav-item.dropdown
          %a#dropdown09.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => ""}
            = current_user.full_name
            - if current_user.admin?
              %span.badge.badge-danger Admin
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdown09"}
            = link_to "Profil", profile_path, class: 'dropdown-item'
            = link_to "Déconnexion", destroy_user_session_path, :method => :delete, class: 'dropdown-item'
      - else
        %li{class: (controller_name == 'sessions' ? 'nav-item active' : 'nav-item')}
          = link_to "Espace personnel", new_user_session_path, class: "nav-link"
