<nav class="navbar navbar-expand-xl navbar-dark bg-theme small">
  <%= link_to admin_path, class: "navbar-brand" do %>
    <%= image_tag "covidliste-logo.png", height: 40, width: 32, loading: "lazy", class: "mr-2", alt: "logo covidliste" %>
    <span class="font-weight-bolder">Covidliste</span>
    <span class="ml-1 font-weight-light">Bénévoles</span>
  <% end %>

  <button class="navbar-toggler" type="button" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarNavDropdown" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <% if current_user.has_role?(:volunteer) %>
        <% if current_user.has_role?(:support_member) %>
          <li class="<%= class_names("nav-item", "dropdown", active: current_page?(admin_power_users_path) || current_page?(admin_users_path)) %>">
            <%= link_to icon("fas", "tools", "Support"), "", class: "nav-link dropdown-toggle", id: "dropdownSupport", "aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown" %>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSupport">
              <%= link_to "Volontaires", admin_users_path, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>

        <% if current_user.has_role?(:supply_member) %>
          <li class="<%= class_names("nav-item", "dropdown", active: current_page?(admin_vaccination_centers_path) || current_page?(admin_stats_path)) %>">
            <%= link_to icon("fas", "tools", "Supply"), "", class: "nav-link dropdown-toggle", id: "dropdownSupply", "aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown" %>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSupply">
              <%= link_to "Lieux de vaccination", admin_vaccination_centers_path, class: "dropdown-item" %>
              <%= link_to "Campagnes", admin_campaigns_path, class: "dropdown-item" %>
              <% if current_user.has_role?(:supply_admin) %>
                <%= link_to "Statistiques volontaires", admin_stats_path, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
        <% end %>

        <% if current_user.has_role?(:ds_admin) %>
          <li class="nav-item dropdown">
            <%= link_to icon("fas", "tools", "DataScience"), "", class: "nav-link dropdown-toggle", id: "dropdownData", "aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown" %>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownData">
              <%= link_to icon("fas", "external-link-alt", "Blazer", class: "mr-1"), admin_blazer_path, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>

        <% if current_user.has_role?(:dev_admin) %>
          <li class="nav-item dropdown">
            <%= link_to icon("fas", "tools", "Dev"), "", class: "nav-link dropdown-toggle", id: "dropdownDev", "aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown" %>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownDev">
              <%= link_to icon("fas", "external-link-alt", "Flipper", class: "mr-1"), admin_flipper_ui_path, class: "dropdown-item", target: "_blank", rel: "noopener" %>
            </div>
          </li>
        <% end %>

        <% if current_user.has_role?(:admin) %>
          <li class="nav-item dropdown">
            <%= link_to icon("fas", "tools", "Core Team"), "", class: "nav-link dropdown-toggle", id: "dropdownSuperAdmin", "aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown" %>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSuperAdmin">
              <%= link_to "Gestion des rôles", admin_power_users_path, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>

        <% if current_user.has_role?(:super_admin) %>
          <li class="nav-item dropdown">
            <%= link_to icon("fas", "tools", "Super Admin"), "", class: "nav-link dropdown-toggle", id: "dropdownDev", "aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown" %>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownDev">
              <%= link_to icon("fas", "external-link-alt", "PgHero", class: "mr-1"), admin_pg_hero_path, class: "dropdown-item", target: "_blank", rel: "noopener" %>
              <%= link_to icon("fas", "external-link-alt", "Sidekiq", class: "mr-1"), admin_sidekiq_web_path, class: "dropdown-item", target: "_blank", rel: "noopener" %>
            </div>
          </li>
        <% end %>
      <% end %>

      <% if current_user %>
        <li class="nav-item dropdown">
          <%= link_to "", class: "nav-link text-white font-weight-bold dropdown-toggle", id: "dropdownProfil", "aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown" do %>
            <%= current_user %>
            <% if current_user.has_role?(:volunteer) %>
              <span class="badge badge-danger"> Bénévole </span>
            <% end %>
          <% end %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownProfil">
            <%= link_to icon("fas", "external-link-alt", "Espace volontaire", class: "mr-1"), profile_path, class: "dropdown-item" %>
            <%= link_to "Déconnexion", destroy_user_session_path, class: "dropdown-item", method: :delete %>
          </div>
        </li>
      <% else %>
        <li class="<%= controller_name == "sessions" ? "nav-item active" : "nav-item" %>">
          <%= link_to "Espace personnel", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
