<title><%= meta_title(yield(:meta_title)) %></title>
<meta name="description" content="<%= meta_description(yield(:meta_description)) %>"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://www.covidliste.com"/>
<meta property="og:title" content="<%= meta_title(yield(:meta_title)) %>"/>
<meta property="og:description" content="<%= meta_description(yield(:meta_description)) %>"/>
<meta property="og:image" content="<%= meta_image(yield(:meta_image)) %>"/>
<meta property="twitter:card" content="summary_large_image"/>
<meta property="twitter:url" content="https://www.covidliste.com"/>
<meta property="twitter:title" content="<%= meta_title(yield(:meta_title)) %>"/>
<meta property="twitter:description" content="<%= meta_description(yield(:meta_description)) %>"/>
<meta property="twitter:image" content="<%= meta_image(yield(:meta_image)) %>"/>
