%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: "/"}
    = image_tag 'covidliste.png', height: 40, alt: "logo covidliste"
  %button.navbar-toggler{"aria-controls": "navbarNavDropdown", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbarNavDropdown", "data-toggle": "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      - unless current_partner
        %li{class: (action_name == 'mentions_legales' ? 'nav-item active' : 'nav-item')}
          = link_to "Mentions légales", :mentions_legales, class: 'nav-link'
        %li{class: (action_name == 'privacy' ? 'nav-item active' : 'nav-item')}
          = link_to "Protection des données", :privacy, class: 'nav-link'
        %li{class: (action_name == 'faq' ? 'nav-item active' : 'nav-item')}
          = link_to "FAQ", :faq, class: 'nav-link'
      - if current_partner
        %li.nav-item.dropdown
          %a#dropdown09.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => ""}
            =current_partner.name
            %span.badge.badge-primary Partenaire
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdown09"}
            = link_to "Déconnexion", destroy_partner_session_path, :method => :delete, class: 'dropdown-item'
      - elsif current_user
        %li.nav-item.dropdown
          %a#dropdown09.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: ""}
            =current_user.full_name
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdown09"}
            = link_to "Profil", profile_path, class: 'dropdown-item'
            - if current_user.admin?
              = link_to "Admin", admin_path, class: 'dropdown-item'
            = link_to "Déconnexion", destroy_user_session_path, :method => :delete, class: 'dropdown-item'
      - else
        %li{class: ((controller_name == 'sessions' && resource_name && resource_name.to_s == 'partner') ? 'nav-item active' : 'nav-item')}
          = link_to "Espace partenaire", new_partner_session_path, class: "nav-link"
        %li{class: ((controller_name == 'sessions' && resource_name && resource_name.to_s == 'user') ? 'nav-item active' : 'nav-item')}
          = link_to "Espace personnel", new_user_session_path, class: "nav-link"
          .dropdown-menu.dropdown-menu-right{"aria-labelledby": "dropdown09"}
            = link_to "Profil", '/profile', class: 'dropdown-item'
            - if current_user&.has_role?(:super_admin)
              = link_to "Admin", '/admin', class: 'dropdown-item'
            = link_to "Déconnexion", destroy_user_session_path, method: :delete, class: 'dropdown-item'
