<!DOCTYPE html>
<html lang="fr">
<head>
  <link rel="preload" as="font" type="font/woff2" href="<%= font_path('poppins-v15-latin-regular.woff2') %>" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="<%= font_path('poppins-v15-latin-700.woff2') %>" crossorigin>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <%= render "layouts/head_seo_social" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <%= yield(:append_to_head) %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_pack_tag "application", "data-turbolinks-track": "reload", defer: !Rails.env.test?, nonce: true %>
  <%= render "layouts/accesibility_development_warnings" %>
</head>
<body>
<div class="layout">
  <div class="layout__above-footer">
    <%= render "layouts/banner" %>
    <%= render "layouts/navbar" %>
    <div class="layout__content <%= "layout__content--no-padding" if @no_layout_content_padding ||= false %>">
      <%= render "layouts/alerts" unless @no_layout_alerts ||= false %>
      <%= yield %>
    </div>
  </div>
  <div class="layout__footer">
    <%= render "layouts/footer" %>
  </div>
</div>
</body>
</html>
