<!DOCTYPE html>
<html lang="fr">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <%= render "layouts/head_seo_social" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <%= yield(:append_to_head) %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_pack_tag "application", "data-turbolinks-track": "reload", defer: !Rails.env.test?, nonce: true %>
  <%= render "layouts/accesibility_development_warnings" %>
</head>
<body>
<div class="layout">
  <div class="layout__content">
    <%= render "layouts/navbar" %>
    <%= render "layouts/alerts" %>
    <%= yield %>
  </div>
  <div class="layout__footer">
    <%= render "layouts/footer" %>
  </div>
</div>
</body>
</html>
