<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <%= render "layouts/head_seo_social" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <%= yield(:append_to_head) %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload", defer: true, nonce: true %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <div class="container-fluid">
      <%= render "layouts/alerts" %>
      <%= yield %>
    </div>

    <% if Rails.env.development? %>
      <%# Highlight image missing alt for accessibility %>
      <style>
        img:not([alt]), img[alt=""] {border: 5px dashed red;}
      </style>
    <% end %>
    <%= render "layouts/footer" %>
  </body>
</html>
