<!DOCTYPE html>
<html lang="fr">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <%= render "layouts/head_seo_social" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <%= yield(:append_to_head) %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_pack_tag "application", "data-turbolinks-track": "reload", defer: !Rails.env.test?, nonce: true %>
  <%= render "layouts/accesibility_development_warnings" %>
</head>
<body>
  <% if params[:maquette] == "on" %>
    <div style="position: absolute; pointer-events: none; background: transparent url('<%= asset_path "home/maquette.png" %>') no-repeat top center; width: 100vw; height: 4750px; z-index: 10000; top: 89px; opacity: 0.4; filter: saturate(0);">
    </div>
  <% end %>
  <div class="layout">
    <div class="layout__content">
      <%= render "layouts/banner" %>
      <%= render "layouts/navbar" %>
      <%= render "layouts/alerts" %>
      <%= yield %>
    </div>
    <div class="layout__footer">
      <%= render "layouts/footer" %>
    </div>
  </div>
</body>
</html>
