!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    = render 'layouts/head_seo_social'
    = csrf_meta_tags
    = csp_meta_tag
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true, nonce: true
  %body
    = render 'layouts/navbar'
    .container.mt-5.pb-5
      %h3
        Covidliste
      = render 'layouts/alerts'
      = yield
